/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.3.0-rc4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// ContractEditorAPIService ContractEditorAPI service
type ContractEditorAPIService service

type ApiAiRedlineContractV1Request struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
}

func (r ApiAiRedlineContractV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AiRedlineContractV1Execute(r)
}

/*
AiRedlineContractV1 Ai Redline Contract

Enqueue an async AI redline pipeline run for the latest editor doc.

Creates a ``redline_jobs`` row (status=queued) and returns 202
``{"job_id": "<uuid>"}``.  The ``redline-job`` worker picks up the row,
runs ``build_ai_redline_docx``, and writes the result back.  Poll
``GET .../ai-redline/jobs/{job_id}`` for status.

Returns 404 when no document has been uploaded.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiAiRedlineContractV1Request
*/
func (a *ContractEditorAPIService) AiRedlineContractV1(ctx context.Context, quoteId string) ApiAiRedlineContractV1Request {
	return ApiAiRedlineContractV1Request{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) AiRedlineContractV1Execute(r ApiAiRedlineContractV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.AiRedlineContractV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/ai-redline"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplyContractEditsV1Request struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
}

func (r ApiApplyContractEditsV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ApplyContractEditsV1Execute(r)
}

/*
ApplyContractEditsV1 Apply Contract Edits

Apply saved redline ops and store a new .docx version.

S2 — idempotent base-doc application
----------------------------------------
Ops are always applied against the **base document** (version_no=1 — the
first uploaded version for this quote/tenant).  This makes apply-edits
idempotent: applying twice with the same ops yields the same output.  New
accepts saved after a previous apply (which are recorded under the latest
doc_key) are included because ALL ops across ALL doc_keys for this quote
are collected and applied in one shot against the base.

This avoids the "orphaned ops" bug: previously, after the first apply the
latest doc got a new doc_key and any ops saved against the old doc_key were
silently missed on subsequent applies.

S4 — AI comment preservation
-------------------------------------------
When a completed redline job exists that recorded a ``redlined_doc_key``
(the commented .docx produced by the worker), ops are applied against THAT
commented version instead of the bare original.  python-docx preserves
``word/comments.xml`` and the ``w:commentRangeStart/End`` markers in
non-edited paragraphs across an open→save round-trip, so AI comments
survive in all clauses that were not edited.  Edited paragraphs lose their
own inline comment reference (expected — the clause text changed), but all
other AI comments remain intact.

Falls back to the original (version_no=1) base when no redline has run.

If no ops exist the latest doc is returned unchanged (no new version created).
Returns 404 when no document has been uploaded for this quote.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiApplyContractEditsV1Request
*/
func (a *ContractEditorAPIService) ApplyContractEditsV1(ctx context.Context, quoteId string) ApiApplyContractEditsV1Request {
	return ApiApplyContractEditsV1Request{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) ApplyContractEditsV1Execute(r ApiApplyContractEditsV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.ApplyContractEditsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/apply-edits"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAskMooRedlineV1Request struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	askMooRedlineRequest *AskMooRedlineRequest
}

func (r ApiAskMooRedlineV1Request) AskMooRedlineRequest(askMooRedlineRequest AskMooRedlineRequest) ApiAskMooRedlineV1Request {
	r.askMooRedlineRequest = &askMooRedlineRequest
	return r
}

func (r ApiAskMooRedlineV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AskMooRedlineV1Execute(r)
}

/*
AskMooRedlineV1 Ask Moo Redline

Re-review the clause at the given anchor with a human reviewer's instruction.

Logic:
1. Load the latest editor doc + parse + chunk.
2. Find the chunk whose [char_start, char_end) range contains
   ``anchor_char_start`` (fallback: nearest by overlap).
3. Re-run ``review_clause`` with the ``instruction`` param.
4. Build an updated ``RedlineFinding`` keeping the original finding_id and anchor.
5. If the chunk maps to a playbook family, write a ``redline_feedback`` row.
6. Return ``{ finding: <RedlineFinding>, feedback_recorded: bool }``.

Returns 404 when no document has been uploaded for this quote.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiAskMooRedlineV1Request
*/
func (a *ContractEditorAPIService) AskMooRedlineV1(ctx context.Context, quoteId string) ApiAskMooRedlineV1Request {
	return ApiAskMooRedlineV1Request{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) AskMooRedlineV1Execute(r ApiAskMooRedlineV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.AskMooRedlineV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/redline/ask-moo"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.askMooRedlineRequest == nil {
		return localVarReturnValue, nil, reportError("askMooRedlineRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.askMooRedlineRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEditorCallbackRequest struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	t *string
}

// BFF URL token
func (r ApiEditorCallbackRequest) T(t string) ApiEditorCallbackRequest {
	r.t = &t
	return r
}

func (r ApiEditorCallbackRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.EditorCallbackExecute(r)
}

/*
EditorCallback Editor Callback

OnlyOffice save callback.

Receives the callback JSON body from the doc-server.  On
``status == 2`` (or 6), downloads the edited .docx from ``payload.url``
and stores it as a new version with a new ``doc_key``.

Always returns ``{"error": 0}`` — any other response code causes the
doc-server to surface an error to the editor user.

The ``t`` query-parameter is the BFF URL token.  We also verify the
OnlyOffice JWT ``token`` field when present in the callback body.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiEditorCallbackRequest
*/
func (a *ContractEditorAPIService) EditorCallback(ctx context.Context, quoteId string) ApiEditorCallbackRequest {
	return ApiEditorCallbackRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) EditorCallbackExecute(r ApiEditorCallbackRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.EditorCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.t == nil {
		return localVarReturnValue, nil, reportError("t is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "t", r.t, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFetchDocumentRequest struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	docKey string
	t *string
}

// BFF URL token
func (r ApiFetchDocumentRequest) T(t string) ApiFetchDocumentRequest {
	r.t = &t
	return r
}

func (r ApiFetchDocumentRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.FetchDocumentExecute(r)
}

/*
FetchDocument Fetch Document

Serve the raw .docx bytes for a specific doc_key.

This endpoint is called by the OnlyOffice doc-server (no user session).
Auth is via the ``?t=`` BFF URL token embedded in the ``document.url``
returned by ``GET /contract/editor/config``.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @param docKey
 @return ApiFetchDocumentRequest
*/
func (a *ContractEditorAPIService) FetchDocument(ctx context.Context, quoteId string, docKey string) ApiFetchDocumentRequest {
	return ApiFetchDocumentRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
		docKey: docKey,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) FetchDocumentExecute(r ApiFetchDocumentRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.FetchDocument")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/document/{doc_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"doc_key"+"}", url.PathEscape(parameterValueToString(r.docKey, "docKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.t == nil {
		return localVarReturnValue, nil, reportError("t is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "t", r.t, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDocumentHtmlV1Request struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	docKey string
}

func (r ApiGetDocumentHtmlV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetDocumentHtmlV1Execute(r)
}

/*
GetDocumentHtmlV1 Get Document Html

Return the sanitized HTML + block map for a specific doc_key.

This is the **browser/session-auth** path for the RedlineWorkspace viewer.
It does NOT accept the ``?t=`` short-lived token used by the OnlyOffice
doc-server (which fetches server-to-server with no session).

Auth: ``require_quotes_enabled`` (portal/API-key) + ``get_doc_by_key``
(tenant + quote scoped).  A cross-tenant or cross-quote ``doc_key``
returns 404.

Returns 422 when the stored document cannot be rendered (corrupt/unparseable zip).
Returns:
    ``{ html: str, blocks: [{ block_id, char_start, char_end, text }] }``

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @param docKey
 @return ApiGetDocumentHtmlV1Request
*/
func (a *ContractEditorAPIService) GetDocumentHtmlV1(ctx context.Context, quoteId string, docKey string) ApiGetDocumentHtmlV1Request {
	return ApiGetDocumentHtmlV1Request{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
		docKey: docKey,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) GetDocumentHtmlV1Execute(r ApiGetDocumentHtmlV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.GetDocumentHtmlV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/document-html/{doc_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"doc_key"+"}", url.PathEscape(parameterValueToString(r.docKey, "docKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEditorConfigRequest struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
}

func (r ApiGetEditorConfigRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetEditorConfigExecute(r)
}

/*
GetEditorConfig Get Editor Config

Return the OnlyOffice DocEditor configuration for the latest doc version.

Returns 503 when ``ONLYOFFICE_JWT_SECRET`` is not set.
Returns 404 when no document has been uploaded for this quote yet.

The ``token`` field in the response signs the entire ``config`` payload
with the shared OnlyOffice HS256 secret per the OnlyOffice JWT integration
specification.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiGetEditorConfigRequest
*/
func (a *ContractEditorAPIService) GetEditorConfig(ctx context.Context, quoteId string) ApiGetEditorConfigRequest {
	return ApiGetEditorConfigRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) GetEditorConfigExecute(r ApiGetEditorConfigRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.GetEditorConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/config"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLatestRedlineJobV1Request struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
}

func (r ApiGetLatestRedlineJobV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetLatestRedlineJobV1Execute(r)
}

/*
GetLatestRedlineJobV1 Get Latest Redline Job

Return the most recent completed (status='done') redline job for a quote.

Used by the RedlineWorkspace on open so it can show prior findings without
kicking a new job.

Returns 204 No Content when no completed job exists yet — the workspace
will auto-run a new one in that case.

Returns the same shape as GET .../jobs/{job_id} so the frontend can reuse
the same types: ``{job_id, doc_key, status, reviewed, total, findings, result}``.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiGetLatestRedlineJobV1Request
*/
func (a *ContractEditorAPIService) GetLatestRedlineJobV1(ctx context.Context, quoteId string) ApiGetLatestRedlineJobV1Request {
	return ApiGetLatestRedlineJobV1Request{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) GetLatestRedlineJobV1Execute(r ApiGetLatestRedlineJobV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.GetLatestRedlineJobV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/ai-redline/latest"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRedlineEditsRequest struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	docKey string
}

func (r ApiGetRedlineEditsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRedlineEditsExecute(r)
}

/*
GetRedlineEdits Get Redline Edits

Return the saved edit ops for a (tenant, quote, doc_key) triple.

Returns ``{ doc_key, ops }`` — an empty ``ops`` list when no row exists
(not 404, because an empty edit set is a valid state).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @param docKey
 @return ApiGetRedlineEditsRequest
*/
func (a *ContractEditorAPIService) GetRedlineEdits(ctx context.Context, quoteId string, docKey string) ApiGetRedlineEditsRequest {
	return ApiGetRedlineEditsRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
		docKey: docKey,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) GetRedlineEditsExecute(r ApiGetRedlineEditsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.GetRedlineEdits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/edits/{doc_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"doc_key"+"}", url.PathEscape(parameterValueToString(r.docKey, "docKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRedlineJobV1Request struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	jobId string
}

func (r ApiGetRedlineJobV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRedlineJobV1Execute(r)
}

/*
GetRedlineJobV1 Get Redline Job

Poll the status of an async AI redline job.

Returns ``{status, reviewed, total, findings, result}`` scoped to the
authenticated tenant.  Returns 404 for cross-tenant or unknown job IDs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @param jobId
 @return ApiGetRedlineJobV1Request
*/
func (a *ContractEditorAPIService) GetRedlineJobV1(ctx context.Context, quoteId string, jobId string) ApiGetRedlineJobV1Request {
	return ApiGetRedlineJobV1Request{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
		jobId: jobId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) GetRedlineJobV1Execute(r ApiGetRedlineJobV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.GetRedlineJobV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/ai-redline/jobs/{job_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSaveRedlineEditRequest struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	saveRedlineEditRequest *SaveRedlineEditRequest
}

func (r ApiSaveRedlineEditRequest) SaveRedlineEditRequest(saveRedlineEditRequest SaveRedlineEditRequest) ApiSaveRedlineEditRequest {
	r.saveRedlineEditRequest = &saveRedlineEditRequest
	return r
}

func (r ApiSaveRedlineEditRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SaveRedlineEditExecute(r)
}

/*
SaveRedlineEdit Save Redline Edit

Append a targeted edit op for a contract doc.

Upserts a ``redline_edits`` row keyed on (tenant_id, quote_id, doc_key) and
appends the new op to the ``ops`` list.  Idempotent across restarts — the
caller may re-POST the same op list; duplicates are the caller's concern.

Returns ``{ doc_key, op_count }`` on success.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiSaveRedlineEditRequest
*/
func (a *ContractEditorAPIService) SaveRedlineEdit(ctx context.Context, quoteId string) ApiSaveRedlineEditRequest {
	return ApiSaveRedlineEditRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) SaveRedlineEditExecute(r ApiSaveRedlineEditRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.SaveRedlineEdit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/edits"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.saveRedlineEditRequest == nil {
		return localVarReturnValue, nil, reportError("saveRedlineEditRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.saveRedlineEditRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUploadContractForEditorRequest struct {
	ctx context.Context
	ApiService *ContractEditorAPIService
	quoteId string
	file *os.File
}

func (r ApiUploadContractForEditorRequest) File(file *os.File) ApiUploadContractForEditorRequest {
	r.file = file
	return r
}

func (r ApiUploadContractForEditorRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UploadContractForEditorExecute(r)
}

/*
UploadContractForEditor Upload Contract For Editor

Upload a .docx for inline OnlyOffice editing.

Stores the bytes and creates a new ``contract_editor_docs`` row with a
fresh ``doc_key``.  Returns 201 ``{"doc_key": ..., "version_no": ...}``.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiUploadContractForEditorRequest
*/
func (a *ContractEditorAPIService) UploadContractForEditor(ctx context.Context, quoteId string) ApiUploadContractForEditorRequest {
	return ApiUploadContractForEditorRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContractEditorAPIService) UploadContractForEditorExecute(r ApiUploadContractForEditorRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContractEditorAPIService.UploadContractForEditor")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/upload"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
