/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.3.0-rc2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// QuoteContractWebhooksAPIService QuoteContractWebhooksAPI service
type QuoteContractWebhooksAPIService service

type ApiPostQuoteContractInboundEmailV1Request struct {
	ctx context.Context
	ApiService *QuoteContractWebhooksAPIService
	inboundEmailPayload *InboundEmailPayload
	xMoolabsSignature *string
}

func (r ApiPostQuoteContractInboundEmailV1Request) InboundEmailPayload(inboundEmailPayload InboundEmailPayload) ApiPostQuoteContractInboundEmailV1Request {
	r.inboundEmailPayload = &inboundEmailPayload
	return r
}

func (r ApiPostQuoteContractInboundEmailV1Request) XMoolabsSignature(xMoolabsSignature string) ApiPostQuoteContractInboundEmailV1Request {
	r.xMoolabsSignature = &xMoolabsSignature
	return r
}

func (r ApiPostQuoteContractInboundEmailV1Request) Execute() (*InboundEmailProcessResponse, *http.Response, error) {
	return r.ApiService.PostQuoteContractInboundEmailV1Execute(r)
}

/*
PostQuoteContractInboundEmailV1 Post Quote Contract Inbound Email

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostQuoteContractInboundEmailV1Request
*/
func (a *QuoteContractWebhooksAPIService) PostQuoteContractInboundEmailV1(ctx context.Context) ApiPostQuoteContractInboundEmailV1Request {
	return ApiPostQuoteContractInboundEmailV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InboundEmailProcessResponse
func (a *QuoteContractWebhooksAPIService) PostQuoteContractInboundEmailV1Execute(r ApiPostQuoteContractInboundEmailV1Request) (*InboundEmailProcessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InboundEmailProcessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuoteContractWebhooksAPIService.PostQuoteContractInboundEmailV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/webhooks/quote-contracts/email"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.inboundEmailPayload == nil {
		return localVarReturnValue, nil, reportError("inboundEmailPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xMoolabsSignature != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Moolabs-Signature", r.xMoolabsSignature, "simple", "")
	}
	// body params
	localVarPostBody = r.inboundEmailPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
