/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// RolloverAPIService RolloverAPI service
type RolloverAPIService service

type ApiProcessRolloverRequest struct {
	ctx context.Context
	ApiService *RolloverAPIService
	rolloverRequest *RolloverRequest
}

func (r ApiProcessRolloverRequest) RolloverRequest(rolloverRequest RolloverRequest) ApiProcessRolloverRequest {
	r.rolloverRequest = &rolloverRequest
	return r
}

func (r ApiProcessRolloverRequest) Execute() (*RolloverResponse, *http.Response, error) {
	return r.ApiService.ProcessRolloverExecute(r)
}

/*
ProcessRollover Process Rollover

Process period-close rollover for a subscription.

This endpoint:
- Computes period boundaries based on subscription anchor_at and cadence
- Identifies eligible grants with rollover enabled
- Calculates rollover amounts (FULL or PARTIAL)
- Creates rollover grants
- Creates ROLLOVER journal entries
- Emits BILLING_CYCLE_CLOSED outbox events

Uses advisory locks to prevent concurrent closes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessRolloverRequest
*/
func (a *RolloverAPIService) ProcessRollover(ctx context.Context) ApiProcessRolloverRequest {
	return ApiProcessRolloverRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RolloverResponse
func (a *RolloverAPIService) ProcessRolloverExecute(r ApiProcessRolloverRequest) (*RolloverResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RolloverResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RolloverAPIService.ProcessRollover")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/rollover/process"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rolloverRequest == nil {
		return localVarReturnValue, nil, reportError("rolloverRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rolloverRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
