/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GovernanceAPIService GovernanceAPI service
type GovernanceAPIService service

type ApiCreateStrategyEndpointRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	xAPIKey *string
	strategyCreateRequest *StrategyCreateRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiCreateStrategyEndpointRequest) XAPIKey(xAPIKey string) ApiCreateStrategyEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiCreateStrategyEndpointRequest) StrategyCreateRequest(strategyCreateRequest StrategyCreateRequest) ApiCreateStrategyEndpointRequest {
	r.strategyCreateRequest = &strategyCreateRequest
	return r
}

func (r ApiCreateStrategyEndpointRequest) XTenantId(xTenantId string) ApiCreateStrategyEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiCreateStrategyEndpointRequest) XOrgId(xOrgId string) ApiCreateStrategyEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiCreateStrategyEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateStrategyEndpointExecute(r)
}

/*
CreateStrategyEndpoint Create Strategy Endpoint

POST /governance/strategies — Create a new dunning strategy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateStrategyEndpointRequest
*/
func (a *GovernanceAPIService) CreateStrategyEndpoint(ctx context.Context) ApiCreateStrategyEndpointRequest {
	return ApiCreateStrategyEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) CreateStrategyEndpointExecute(r ApiCreateStrategyEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.CreateStrategyEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/strategies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.strategyCreateRequest == nil {
		return localVarReturnValue, nil, reportError("strategyCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.strategyCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteStrategyEndpointRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	strategyId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiDeleteStrategyEndpointRequest) XAPIKey(xAPIKey string) ApiDeleteStrategyEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiDeleteStrategyEndpointRequest) XTenantId(xTenantId string) ApiDeleteStrategyEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiDeleteStrategyEndpointRequest) XOrgId(xOrgId string) ApiDeleteStrategyEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiDeleteStrategyEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteStrategyEndpointExecute(r)
}

/*
DeleteStrategyEndpoint Delete Strategy Endpoint

DELETE /governance/strategies/{id} — Delete a dunning strategy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param strategyId
 @return ApiDeleteStrategyEndpointRequest
*/
func (a *GovernanceAPIService) DeleteStrategyEndpoint(ctx context.Context, strategyId string) ApiDeleteStrategyEndpointRequest {
	return ApiDeleteStrategyEndpointRequest{
		ApiService: a,
		ctx: ctx,
		strategyId: strategyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) DeleteStrategyEndpointExecute(r ApiDeleteStrategyEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.DeleteStrategyEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/strategies/{strategy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"strategy_id"+"}", url.PathEscape(parameterValueToString(r.strategyId, "strategyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCashAppConfigEndpointV1ArcRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetCashAppConfigEndpointV1ArcRequest) XAPIKey(xAPIKey string) ApiGetCashAppConfigEndpointV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetCashAppConfigEndpointV1ArcRequest) XTenantId(xTenantId string) ApiGetCashAppConfigEndpointV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetCashAppConfigEndpointV1ArcRequest) XOrgId(xOrgId string) ApiGetCashAppConfigEndpointV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetCashAppConfigEndpointV1ArcRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCashAppConfigEndpointV1ArcExecute(r)
}

/*
GetCashAppConfigEndpointV1Arc Get Cash App Config Endpoint

GET /governance/cash-app-config — Read cash application configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCashAppConfigEndpointV1ArcRequest
*/
func (a *GovernanceAPIService) GetCashAppConfigEndpointV1Arc(ctx context.Context) ApiGetCashAppConfigEndpointV1ArcRequest {
	return ApiGetCashAppConfigEndpointV1ArcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) GetCashAppConfigEndpointV1ArcExecute(r ApiGetCashAppConfigEndpointV1ArcRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.GetCashAppConfigEndpointV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/cash-app-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetStrategyEndpointRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	strategyId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetStrategyEndpointRequest) XAPIKey(xAPIKey string) ApiGetStrategyEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetStrategyEndpointRequest) XTenantId(xTenantId string) ApiGetStrategyEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetStrategyEndpointRequest) XOrgId(xOrgId string) ApiGetStrategyEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetStrategyEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetStrategyEndpointExecute(r)
}

/*
GetStrategyEndpoint Get Strategy Endpoint

GET /governance/strategies/{id} — Get a single strategy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param strategyId
 @return ApiGetStrategyEndpointRequest
*/
func (a *GovernanceAPIService) GetStrategyEndpoint(ctx context.Context, strategyId string) ApiGetStrategyEndpointRequest {
	return ApiGetStrategyEndpointRequest{
		ApiService: a,
		ctx: ctx,
		strategyId: strategyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) GetStrategyEndpointExecute(r ApiGetStrategyEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.GetStrategyEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/strategies/{strategy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"strategy_id"+"}", url.PathEscape(parameterValueToString(r.strategyId, "strategyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiKillSwitchEndpointV1ArcRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	agentType string
	xAPIKey *string
	killSwitchRequest *KillSwitchRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiKillSwitchEndpointV1ArcRequest) XAPIKey(xAPIKey string) ApiKillSwitchEndpointV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiKillSwitchEndpointV1ArcRequest) KillSwitchRequest(killSwitchRequest KillSwitchRequest) ApiKillSwitchEndpointV1ArcRequest {
	r.killSwitchRequest = &killSwitchRequest
	return r
}

func (r ApiKillSwitchEndpointV1ArcRequest) XTenantId(xTenantId string) ApiKillSwitchEndpointV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiKillSwitchEndpointV1ArcRequest) XOrgId(xOrgId string) ApiKillSwitchEndpointV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiKillSwitchEndpointV1ArcRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.KillSwitchEndpointV1ArcExecute(r)
}

/*
KillSwitchEndpointV1Arc Kill Switch Endpoint

POST /governance/agent-policies/{agent_type}/kill-switch — Toggle kill switch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agentType
 @return ApiKillSwitchEndpointV1ArcRequest
*/
func (a *GovernanceAPIService) KillSwitchEndpointV1Arc(ctx context.Context, agentType string) ApiKillSwitchEndpointV1ArcRequest {
	return ApiKillSwitchEndpointV1ArcRequest{
		ApiService: a,
		ctx: ctx,
		agentType: agentType,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) KillSwitchEndpointV1ArcExecute(r ApiKillSwitchEndpointV1ArcRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.KillSwitchEndpointV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/agent-policies/{agent_type}/kill-switch"
	localVarPath = strings.Replace(localVarPath, "{"+"agent_type"+"}", url.PathEscape(parameterValueToString(r.agentType, "agentType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.killSwitchRequest == nil {
		return localVarReturnValue, nil, reportError("killSwitchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.killSwitchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEvaluationsEndpointRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	xAPIKey *string
	agentType *string
	evaluationType *string
	xTenantId *string
	xOrgId *string
}

func (r ApiListEvaluationsEndpointRequest) XAPIKey(xAPIKey string) ApiListEvaluationsEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListEvaluationsEndpointRequest) AgentType(agentType string) ApiListEvaluationsEndpointRequest {
	r.agentType = &agentType
	return r
}

func (r ApiListEvaluationsEndpointRequest) EvaluationType(evaluationType string) ApiListEvaluationsEndpointRequest {
	r.evaluationType = &evaluationType
	return r
}

func (r ApiListEvaluationsEndpointRequest) XTenantId(xTenantId string) ApiListEvaluationsEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListEvaluationsEndpointRequest) XOrgId(xOrgId string) ApiListEvaluationsEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListEvaluationsEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListEvaluationsEndpointExecute(r)
}

/*
ListEvaluationsEndpoint List Evaluations Endpoint

GET /governance/evaluations — List agent evaluations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEvaluationsEndpointRequest
*/
func (a *GovernanceAPIService) ListEvaluationsEndpoint(ctx context.Context) ApiListEvaluationsEndpointRequest {
	return ApiListEvaluationsEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) ListEvaluationsEndpointExecute(r ApiListEvaluationsEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.ListEvaluationsEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/evaluations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.agentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_type", r.agentType, "form", "")
	}
	if r.evaluationType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "evaluation_type", r.evaluationType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPoliciesEndpointV1Request struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	xAPIKey *string
	agentType *string
	xTenantId *string
	xOrgId *string
}

func (r ApiListPoliciesEndpointV1Request) XAPIKey(xAPIKey string) ApiListPoliciesEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListPoliciesEndpointV1Request) AgentType(agentType string) ApiListPoliciesEndpointV1Request {
	r.agentType = &agentType
	return r
}

func (r ApiListPoliciesEndpointV1Request) XTenantId(xTenantId string) ApiListPoliciesEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListPoliciesEndpointV1Request) XOrgId(xOrgId string) ApiListPoliciesEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListPoliciesEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPoliciesEndpointV1Execute(r)
}

/*
ListPoliciesEndpointV1 List Policies Endpoint

GET /governance/agent-policies — List agent policies.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPoliciesEndpointV1Request
*/
func (a *GovernanceAPIService) ListPoliciesEndpointV1(ctx context.Context) ApiListPoliciesEndpointV1Request {
	return ApiListPoliciesEndpointV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) ListPoliciesEndpointV1Execute(r ApiListPoliciesEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.ListPoliciesEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/agent-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.agentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_type", r.agentType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListStrategiesEndpointRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	xAPIKey *string
	riskTier *string
	xTenantId *string
	xOrgId *string
}

func (r ApiListStrategiesEndpointRequest) XAPIKey(xAPIKey string) ApiListStrategiesEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListStrategiesEndpointRequest) RiskTier(riskTier string) ApiListStrategiesEndpointRequest {
	r.riskTier = &riskTier
	return r
}

func (r ApiListStrategiesEndpointRequest) XTenantId(xTenantId string) ApiListStrategiesEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListStrategiesEndpointRequest) XOrgId(xOrgId string) ApiListStrategiesEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListStrategiesEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListStrategiesEndpointExecute(r)
}

/*
ListStrategiesEndpoint List Strategies Endpoint

GET /governance/strategies — List dunning strategies.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListStrategiesEndpointRequest
*/
func (a *GovernanceAPIService) ListStrategiesEndpoint(ctx context.Context) ApiListStrategiesEndpointRequest {
	return ApiListStrategiesEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) ListStrategiesEndpointExecute(r ApiListStrategiesEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.ListStrategiesEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/strategies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.riskTier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "risk_tier", r.riskTier, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiShadowModeEndpointV1ArcRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	agentType string
	xAPIKey *string
	shadowModeRequest *ShadowModeRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiShadowModeEndpointV1ArcRequest) XAPIKey(xAPIKey string) ApiShadowModeEndpointV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiShadowModeEndpointV1ArcRequest) ShadowModeRequest(shadowModeRequest ShadowModeRequest) ApiShadowModeEndpointV1ArcRequest {
	r.shadowModeRequest = &shadowModeRequest
	return r
}

func (r ApiShadowModeEndpointV1ArcRequest) XTenantId(xTenantId string) ApiShadowModeEndpointV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiShadowModeEndpointV1ArcRequest) XOrgId(xOrgId string) ApiShadowModeEndpointV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiShadowModeEndpointV1ArcRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ShadowModeEndpointV1ArcExecute(r)
}

/*
ShadowModeEndpointV1Arc Shadow Mode Endpoint

POST /governance/agent-policies/{agent_type}/shadow-mode — Toggle shadow mode.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agentType
 @return ApiShadowModeEndpointV1ArcRequest
*/
func (a *GovernanceAPIService) ShadowModeEndpointV1Arc(ctx context.Context, agentType string) ApiShadowModeEndpointV1ArcRequest {
	return ApiShadowModeEndpointV1ArcRequest{
		ApiService: a,
		ctx: ctx,
		agentType: agentType,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) ShadowModeEndpointV1ArcExecute(r ApiShadowModeEndpointV1ArcRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.ShadowModeEndpointV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/agent-policies/{agent_type}/shadow-mode"
	localVarPath = strings.Replace(localVarPath, "{"+"agent_type"+"}", url.PathEscape(parameterValueToString(r.agentType, "agentType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.shadowModeRequest == nil {
		return localVarReturnValue, nil, reportError("shadowModeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.shadowModeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStrategyPreviewEndpointV1Request struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	xAPIKey *string
	strategyPreviewRequest *StrategyPreviewRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiStrategyPreviewEndpointV1Request) XAPIKey(xAPIKey string) ApiStrategyPreviewEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiStrategyPreviewEndpointV1Request) StrategyPreviewRequest(strategyPreviewRequest StrategyPreviewRequest) ApiStrategyPreviewEndpointV1Request {
	r.strategyPreviewRequest = &strategyPreviewRequest
	return r
}

func (r ApiStrategyPreviewEndpointV1Request) XTenantId(xTenantId string) ApiStrategyPreviewEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiStrategyPreviewEndpointV1Request) XOrgId(xOrgId string) ApiStrategyPreviewEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiStrategyPreviewEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.StrategyPreviewEndpointV1Execute(r)
}

/*
StrategyPreviewEndpointV1 Strategy Preview Endpoint

POST /governance/strategy-preview — Dry-run strategy preview.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStrategyPreviewEndpointV1Request
*/
func (a *GovernanceAPIService) StrategyPreviewEndpointV1(ctx context.Context) ApiStrategyPreviewEndpointV1Request {
	return ApiStrategyPreviewEndpointV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) StrategyPreviewEndpointV1Execute(r ApiStrategyPreviewEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.StrategyPreviewEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/strategy-preview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.strategyPreviewRequest == nil {
		return localVarReturnValue, nil, reportError("strategyPreviewRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.strategyPreviewRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCashAppConfigEndpointV1ArcRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	xAPIKey *string
	cashAppConfigUpdateRequest *CashAppConfigUpdateRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiUpdateCashAppConfigEndpointV1ArcRequest) XAPIKey(xAPIKey string) ApiUpdateCashAppConfigEndpointV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdateCashAppConfigEndpointV1ArcRequest) CashAppConfigUpdateRequest(cashAppConfigUpdateRequest CashAppConfigUpdateRequest) ApiUpdateCashAppConfigEndpointV1ArcRequest {
	r.cashAppConfigUpdateRequest = &cashAppConfigUpdateRequest
	return r
}

func (r ApiUpdateCashAppConfigEndpointV1ArcRequest) XTenantId(xTenantId string) ApiUpdateCashAppConfigEndpointV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdateCashAppConfigEndpointV1ArcRequest) XOrgId(xOrgId string) ApiUpdateCashAppConfigEndpointV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdateCashAppConfigEndpointV1ArcRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateCashAppConfigEndpointV1ArcExecute(r)
}

/*
UpdateCashAppConfigEndpointV1Arc Update Cash App Config Endpoint

PUT /governance/cash-app-config — Update cash application configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateCashAppConfigEndpointV1ArcRequest
*/
func (a *GovernanceAPIService) UpdateCashAppConfigEndpointV1Arc(ctx context.Context) ApiUpdateCashAppConfigEndpointV1ArcRequest {
	return ApiUpdateCashAppConfigEndpointV1ArcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) UpdateCashAppConfigEndpointV1ArcExecute(r ApiUpdateCashAppConfigEndpointV1ArcRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.UpdateCashAppConfigEndpointV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/cash-app-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.cashAppConfigUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("cashAppConfigUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.cashAppConfigUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePolicyEndpointV1Request struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	policyId string
	xAPIKey *string
	policyUpdateRequest *PolicyUpdateRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiUpdatePolicyEndpointV1Request) XAPIKey(xAPIKey string) ApiUpdatePolicyEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdatePolicyEndpointV1Request) PolicyUpdateRequest(policyUpdateRequest PolicyUpdateRequest) ApiUpdatePolicyEndpointV1Request {
	r.policyUpdateRequest = &policyUpdateRequest
	return r
}

func (r ApiUpdatePolicyEndpointV1Request) XTenantId(xTenantId string) ApiUpdatePolicyEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdatePolicyEndpointV1Request) XOrgId(xOrgId string) ApiUpdatePolicyEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdatePolicyEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdatePolicyEndpointV1Execute(r)
}

/*
UpdatePolicyEndpointV1 Update Policy Endpoint

PUT /governance/agent-policies/{id} — Update an agent policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId
 @return ApiUpdatePolicyEndpointV1Request
*/
func (a *GovernanceAPIService) UpdatePolicyEndpointV1(ctx context.Context, policyId string) ApiUpdatePolicyEndpointV1Request {
	return ApiUpdatePolicyEndpointV1Request{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) UpdatePolicyEndpointV1Execute(r ApiUpdatePolicyEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.UpdatePolicyEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/agent-policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.policyUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("policyUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.policyUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateStrategyEndpointRequest struct {
	ctx context.Context
	ApiService *GovernanceAPIService
	strategyId string
	xAPIKey *string
	strategyUpdateRequest *StrategyUpdateRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiUpdateStrategyEndpointRequest) XAPIKey(xAPIKey string) ApiUpdateStrategyEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdateStrategyEndpointRequest) StrategyUpdateRequest(strategyUpdateRequest StrategyUpdateRequest) ApiUpdateStrategyEndpointRequest {
	r.strategyUpdateRequest = &strategyUpdateRequest
	return r
}

func (r ApiUpdateStrategyEndpointRequest) XTenantId(xTenantId string) ApiUpdateStrategyEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdateStrategyEndpointRequest) XOrgId(xOrgId string) ApiUpdateStrategyEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdateStrategyEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateStrategyEndpointExecute(r)
}

/*
UpdateStrategyEndpoint Update Strategy Endpoint

PUT /governance/strategies/{id} — Update a dunning strategy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param strategyId
 @return ApiUpdateStrategyEndpointRequest
*/
func (a *GovernanceAPIService) UpdateStrategyEndpoint(ctx context.Context, strategyId string) ApiUpdateStrategyEndpointRequest {
	return ApiUpdateStrategyEndpointRequest{
		ApiService: a,
		ctx: ctx,
		strategyId: strategyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GovernanceAPIService) UpdateStrategyEndpointExecute(r ApiUpdateStrategyEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GovernanceAPIService.UpdateStrategyEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/governance/strategies/{strategy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"strategy_id"+"}", url.PathEscape(parameterValueToString(r.strategyId, "strategyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.strategyUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("strategyUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.strategyUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
