/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// CasesAPIService CasesAPI service
type CasesAPIService service

type ApiCreateCaseRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	xAPIKey *string
	caseCreate *CaseCreate
	xTenantId *string
	xOrgId *string
}

func (r ApiCreateCaseRequest) XAPIKey(xAPIKey string) ApiCreateCaseRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiCreateCaseRequest) CaseCreate(caseCreate CaseCreate) ApiCreateCaseRequest {
	r.caseCreate = &caseCreate
	return r
}

func (r ApiCreateCaseRequest) XTenantId(xTenantId string) ApiCreateCaseRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiCreateCaseRequest) XOrgId(xOrgId string) ApiCreateCaseRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiCreateCaseRequest) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.CreateCaseExecute(r)
}

/*
CreateCase Create Case

Create a new collection case.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateCaseRequest
*/
func (a *CasesAPIService) CreateCase(ctx context.Context) ApiCreateCaseRequest {
	return ApiCreateCaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) CreateCaseExecute(r ApiCreateCaseRequest) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.CreateCase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.caseCreate == nil {
		return localVarReturnValue, nil, reportError("caseCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.caseCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDunningHistoryV1Request struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiDunningHistoryV1Request) XAPIKey(xAPIKey string) ApiDunningHistoryV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiDunningHistoryV1Request) XTenantId(xTenantId string) ApiDunningHistoryV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiDunningHistoryV1Request) XOrgId(xOrgId string) ApiDunningHistoryV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiDunningHistoryV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DunningHistoryV1Execute(r)
}

/*
DunningHistoryV1 Dunning History

GET /cases/{case_id}/dunning-history — Dunning step execution timeline.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiDunningHistoryV1Request
*/
func (a *CasesAPIService) DunningHistoryV1(ctx context.Context, caseId string) ApiDunningHistoryV1Request {
	return ApiDunningHistoryV1Request{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CasesAPIService) DunningHistoryV1Execute(r ApiDunningHistoryV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.DunningHistoryV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/dunning-history"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEscalateCaseRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	caseEscalateRequest *CaseEscalateRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiEscalateCaseRequest) XAPIKey(xAPIKey string) ApiEscalateCaseRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiEscalateCaseRequest) CaseEscalateRequest(caseEscalateRequest CaseEscalateRequest) ApiEscalateCaseRequest {
	r.caseEscalateRequest = &caseEscalateRequest
	return r
}

func (r ApiEscalateCaseRequest) XTenantId(xTenantId string) ApiEscalateCaseRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiEscalateCaseRequest) XOrgId(xOrgId string) ApiEscalateCaseRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiEscalateCaseRequest) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.EscalateCaseExecute(r)
}

/*
EscalateCase Escalate Case

Escalate a case. Creates escalation task.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiEscalateCaseRequest
*/
func (a *CasesAPIService) EscalateCase(ctx context.Context, caseId string) ApiEscalateCaseRequest {
	return ApiEscalateCaseRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) EscalateCaseExecute(r ApiEscalateCaseRequest) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.EscalateCase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/escalate"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.caseEscalateRequest == nil {
		return localVarReturnValue, nil, reportError("caseEscalateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.caseEscalateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFlagDisputedV1Request struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	invoiceId string
	xAPIKey *string
	flagDisputedRequest *FlagDisputedRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiFlagDisputedV1Request) XAPIKey(xAPIKey string) ApiFlagDisputedV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiFlagDisputedV1Request) FlagDisputedRequest(flagDisputedRequest FlagDisputedRequest) ApiFlagDisputedV1Request {
	r.flagDisputedRequest = &flagDisputedRequest
	return r
}

func (r ApiFlagDisputedV1Request) XTenantId(xTenantId string) ApiFlagDisputedV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiFlagDisputedV1Request) XOrgId(xOrgId string) ApiFlagDisputedV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiFlagDisputedV1Request) Execute() (*FlagDisputedResponse, *http.Response, error) {
	return r.ApiService.FlagDisputedV1Execute(r)
}

/*
FlagDisputedV1 Flag Disputed

Flag invoice as disputed. Invariant 5: disputed ≤ amount. Creates human task.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @param invoiceId
 @return ApiFlagDisputedV1Request
*/
func (a *CasesAPIService) FlagDisputedV1(ctx context.Context, caseId string, invoiceId string) ApiFlagDisputedV1Request {
	return ApiFlagDisputedV1Request{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
		invoiceId: invoiceId,
	}
}

// Execute executes the request
//  @return FlagDisputedResponse
func (a *CasesAPIService) FlagDisputedV1Execute(r ApiFlagDisputedV1Request) (*FlagDisputedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlagDisputedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.FlagDisputedV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/invoices/{invoice_id}/flag-disputed"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"invoice_id"+"}", url.PathEscape(parameterValueToString(r.invoiceId, "invoiceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.flagDisputedRequest == nil {
		return localVarReturnValue, nil, reportError("flagDisputedRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.flagDisputedRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCaseRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetCaseRequest) XAPIKey(xAPIKey string) ApiGetCaseRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetCaseRequest) XTenantId(xTenantId string) ApiGetCaseRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetCaseRequest) XOrgId(xOrgId string) ApiGetCaseRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetCaseRequest) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.GetCaseExecute(r)
}

/*
GetCase Get Case

Get a single case by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiGetCaseRequest
*/
func (a *CasesAPIService) GetCase(ctx context.Context, caseId string) ApiGetCaseRequest {
	return ApiGetCaseRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) GetCaseExecute(r ApiGetCaseRequest) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.GetCase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCaseTasksRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	page *int32
	pageSize *int32
	status *string
	taskType *string
	assignedTo *string
	search *string
	xTenantId *string
	xOrgId *string
}

func (r ApiListCaseTasksRequest) XAPIKey(xAPIKey string) ApiListCaseTasksRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListCaseTasksRequest) Page(page int32) ApiListCaseTasksRequest {
	r.page = &page
	return r
}

func (r ApiListCaseTasksRequest) PageSize(pageSize int32) ApiListCaseTasksRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListCaseTasksRequest) Status(status string) ApiListCaseTasksRequest {
	r.status = &status
	return r
}

func (r ApiListCaseTasksRequest) TaskType(taskType string) ApiListCaseTasksRequest {
	r.taskType = &taskType
	return r
}

func (r ApiListCaseTasksRequest) AssignedTo(assignedTo string) ApiListCaseTasksRequest {
	r.assignedTo = &assignedTo
	return r
}

// Substring match on title/description/customer name
func (r ApiListCaseTasksRequest) Search(search string) ApiListCaseTasksRequest {
	r.search = &search
	return r
}

func (r ApiListCaseTasksRequest) XTenantId(xTenantId string) ApiListCaseTasksRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListCaseTasksRequest) XOrgId(xOrgId string) ApiListCaseTasksRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListCaseTasksRequest) Execute() (*TaskListResponse, *http.Response, error) {
	return r.ApiService.ListCaseTasksExecute(r)
}

/*
ListCaseTasks List Case Tasks

List tasks scoped to a single case.

Mirrors ``GET /v1/arc/tasks?case_id={id}`` so the case-detail UI
can deep-link without composing a query string. Delegates to the
same service function — identical response shape.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiListCaseTasksRequest
*/
func (a *CasesAPIService) ListCaseTasks(ctx context.Context, caseId string) ApiListCaseTasksRequest {
	return ApiListCaseTasksRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return TaskListResponse
func (a *CasesAPIService) ListCaseTasksExecute(r ApiListCaseTasksRequest) (*TaskListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.ListCaseTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/tasks"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.taskType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_type", r.taskType, "form", "")
	}
	if r.assignedTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assigned_to", r.assignedTo, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCasesRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	xAPIKey *string
	page *int32
	pageSize *int32
	status *[]string
	riskTier *[]string
	agingBucket *[]string
	accountId *string
	customerId *string
	q *string
	search *string
	hasPtp *bool
	sortBy *string
	includeInvoices *bool
	xTenantId *string
	xOrgId *string
}

func (r ApiListCasesRequest) XAPIKey(xAPIKey string) ApiListCasesRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListCasesRequest) Page(page int32) ApiListCasesRequest {
	r.page = &page
	return r
}

func (r ApiListCasesRequest) PageSize(pageSize int32) ApiListCasesRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListCasesRequest) Status(status []string) ApiListCasesRequest {
	r.status = &status
	return r
}

func (r ApiListCasesRequest) RiskTier(riskTier []string) ApiListCasesRequest {
	r.riskTier = &riskTier
	return r
}

func (r ApiListCasesRequest) AgingBucket(agingBucket []string) ApiListCasesRequest {
	r.agingBucket = &agingBucket
	return r
}

func (r ApiListCasesRequest) AccountId(accountId string) ApiListCasesRequest {
	r.accountId = &accountId
	return r
}

func (r ApiListCasesRequest) CustomerId(customerId string) ApiListCasesRequest {
	r.customerId = &customerId
	return r
}

// Backwards-compatible free-text search alias. Newer callers should prefer &#x60;search&#x60;.
func (r ApiListCasesRequest) Q(q string) ApiListCasesRequest {
	r.q = &q
	return r
}

// Search by account name, customer ID, case ID, or invoice number
func (r ApiListCasesRequest) Search(search string) ApiListCasesRequest {
	r.search = &search
	return r
}

// When true, only cases with at least one open PTP; when false, only cases without. Drives the PTP dashboard tile.
func (r ApiListCasesRequest) HasPtp(hasPtp bool) ApiListCasesRequest {
	r.hasPtp = &hasPtp
	return r
}

// Sort order. Accepted values: created-desc (newest first, default), created-asc (oldest first), amount-desc (highest outstanding first), amount-asc (lowest outstanding first), risk-desc (high risk first). Unknown values fall back to the default active-cases-first ordering.
func (r ApiListCasesRequest) SortBy(sortBy string) ApiListCasesRequest {
	r.sortBy = &sortBy
	return r
}

// Include embedded invoices in each list item
func (r ApiListCasesRequest) IncludeInvoices(includeInvoices bool) ApiListCasesRequest {
	r.includeInvoices = &includeInvoices
	return r
}

func (r ApiListCasesRequest) XTenantId(xTenantId string) ApiListCasesRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListCasesRequest) XOrgId(xOrgId string) ApiListCasesRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListCasesRequest) Execute() (*CaseListResponse, *http.Response, error) {
	return r.ApiService.ListCasesExecute(r)
}

/*
ListCases List Cases

List cases with pagination, filters, search, and sort.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCasesRequest
*/
func (a *CasesAPIService) ListCases(ctx context.Context) ApiListCasesRequest {
	return ApiListCasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CaseListResponse
func (a *CasesAPIService) ListCasesExecute(r ApiListCasesRequest) (*CaseListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.ListCases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.riskTier != nil {
		t := *r.riskTier
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "risk_tier", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "risk_tier", t, "form", "multi")
		}
	}
	if r.agingBucket != nil {
		t := *r.agingBucket
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "aging_bucket", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "aging_bucket", t, "form", "multi")
		}
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customer_id", r.customerId, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.hasPtp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "has_ptp", r.hasPtp, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	}
	if r.includeInvoices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_invoices", r.includeInvoices, "form", "")
	} else {
		var defaultValue bool = false
		r.includeInvoices = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOpenFromScopeV1ArcRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	xAPIKey *string
	openFromScopeRequest *OpenFromScopeRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiOpenFromScopeV1ArcRequest) XAPIKey(xAPIKey string) ApiOpenFromScopeV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiOpenFromScopeV1ArcRequest) OpenFromScopeRequest(openFromScopeRequest OpenFromScopeRequest) ApiOpenFromScopeV1ArcRequest {
	r.openFromScopeRequest = &openFromScopeRequest
	return r
}

func (r ApiOpenFromScopeV1ArcRequest) XTenantId(xTenantId string) ApiOpenFromScopeV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiOpenFromScopeV1ArcRequest) XOrgId(xOrgId string) ApiOpenFromScopeV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiOpenFromScopeV1ArcRequest) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.OpenFromScopeV1ArcExecute(r)
}

/*
OpenFromScopeV1Arc Open From Scope

Idempotent case creation. T1: handles concurrent creation via partial unique index.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOpenFromScopeV1ArcRequest
*/
func (a *CasesAPIService) OpenFromScopeV1Arc(ctx context.Context) ApiOpenFromScopeV1ArcRequest {
	return ApiOpenFromScopeV1ArcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) OpenFromScopeV1ArcExecute(r ApiOpenFromScopeV1ArcRequest) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.OpenFromScopeV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/open-from-scope"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.openFromScopeRequest == nil {
		return localVarReturnValue, nil, reportError("openFromScopeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.openFromScopeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPauseCaseRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	casePauseRequest *CasePauseRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiPauseCaseRequest) XAPIKey(xAPIKey string) ApiPauseCaseRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiPauseCaseRequest) CasePauseRequest(casePauseRequest CasePauseRequest) ApiPauseCaseRequest {
	r.casePauseRequest = &casePauseRequest
	return r
}

func (r ApiPauseCaseRequest) XTenantId(xTenantId string) ApiPauseCaseRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiPauseCaseRequest) XOrgId(xOrgId string) ApiPauseCaseRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiPauseCaseRequest) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.PauseCaseExecute(r)
}

/*
PauseCase Pause Case

Pause a case — suspends all dunning activity.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiPauseCaseRequest
*/
func (a *CasesAPIService) PauseCase(ctx context.Context, caseId string) ApiPauseCaseRequest {
	return ApiPauseCaseRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) PauseCaseExecute(r ApiPauseCaseRequest) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.PauseCase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/pause"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.casePauseRequest == nil {
		return localVarReturnValue, nil, reportError("casePauseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.casePauseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReScopeCaseV1Request struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	reScopeRequest *ReScopeRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiReScopeCaseV1Request) XAPIKey(xAPIKey string) ApiReScopeCaseV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiReScopeCaseV1Request) ReScopeRequest(reScopeRequest ReScopeRequest) ApiReScopeCaseV1Request {
	r.reScopeRequest = &reScopeRequest
	return r
}

func (r ApiReScopeCaseV1Request) XTenantId(xTenantId string) ApiReScopeCaseV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiReScopeCaseV1Request) XOrgId(xOrgId string) ApiReScopeCaseV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiReScopeCaseV1Request) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.ReScopeCaseV1Execute(r)
}

/*
ReScopeCaseV1 Re Scope Case

Add/remove invoices. Recalculates total_outstanding_micros (Invariant 9).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiReScopeCaseV1Request
*/
func (a *CasesAPIService) ReScopeCaseV1(ctx context.Context, caseId string) ApiReScopeCaseV1Request {
	return ApiReScopeCaseV1Request{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) ReScopeCaseV1Execute(r ApiReScopeCaseV1Request) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.ReScopeCaseV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/re-scope"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.reScopeRequest == nil {
		return localVarReturnValue, nil, reportError("reScopeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.reScopeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecomputeStrategyV1Request struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiRecomputeStrategyV1Request) XAPIKey(xAPIKey string) ApiRecomputeStrategyV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiRecomputeStrategyV1Request) XTenantId(xTenantId string) ApiRecomputeStrategyV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiRecomputeStrategyV1Request) XOrgId(xOrgId string) ApiRecomputeStrategyV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiRecomputeStrategyV1Request) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.RecomputeStrategyV1Execute(r)
}

/*
RecomputeStrategyV1 Recompute Strategy

Recompute dunning strategy based on current risk tier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiRecomputeStrategyV1Request
*/
func (a *CasesAPIService) RecomputeStrategyV1(ctx context.Context, caseId string) ApiRecomputeStrategyV1Request {
	return ApiRecomputeStrategyV1Request{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) RecomputeStrategyV1Execute(r ApiRecomputeStrategyV1Request) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.RecomputeStrategyV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/recompute-strategy"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResumeCaseRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiResumeCaseRequest) XAPIKey(xAPIKey string) ApiResumeCaseRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiResumeCaseRequest) XTenantId(xTenantId string) ApiResumeCaseRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiResumeCaseRequest) XOrgId(xOrgId string) ApiResumeCaseRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiResumeCaseRequest) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.ResumeCaseExecute(r)
}

/*
ResumeCase Resume Case

Resume a paused case.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiResumeCaseRequest
*/
func (a *CasesAPIService) ResumeCase(ctx context.Context, caseId string) ApiResumeCaseRequest {
	return ApiResumeCaseRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) ResumeCaseExecute(r ApiResumeCaseRequest) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.ResumeCase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/resume"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCaseRequest struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	caseUpdate *CaseUpdate
	xTenantId *string
	xOrgId *string
}

func (r ApiUpdateCaseRequest) XAPIKey(xAPIKey string) ApiUpdateCaseRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdateCaseRequest) CaseUpdate(caseUpdate CaseUpdate) ApiUpdateCaseRequest {
	r.caseUpdate = &caseUpdate
	return r
}

func (r ApiUpdateCaseRequest) XTenantId(xTenantId string) ApiUpdateCaseRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdateCaseRequest) XOrgId(xOrgId string) ApiUpdateCaseRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdateCaseRequest) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.UpdateCaseExecute(r)
}

/*
UpdateCase Update Case

Partial update of a case.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiUpdateCaseRequest
*/
func (a *CasesAPIService) UpdateCase(ctx context.Context, caseId string) ApiUpdateCaseRequest {
	return ApiUpdateCaseRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) UpdateCaseExecute(r ApiUpdateCaseRequest) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.UpdateCase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.caseUpdate == nil {
		return localVarReturnValue, nil, reportError("caseUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.caseUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWriteOffCaseV1Request struct {
	ctx context.Context
	ApiService *CasesAPIService
	caseId string
	xAPIKey *string
	caseWriteOffRequest *CaseWriteOffRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiWriteOffCaseV1Request) XAPIKey(xAPIKey string) ApiWriteOffCaseV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiWriteOffCaseV1Request) CaseWriteOffRequest(caseWriteOffRequest CaseWriteOffRequest) ApiWriteOffCaseV1Request {
	r.caseWriteOffRequest = &caseWriteOffRequest
	return r
}

func (r ApiWriteOffCaseV1Request) XTenantId(xTenantId string) ApiWriteOffCaseV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiWriteOffCaseV1Request) XOrgId(xOrgId string) ApiWriteOffCaseV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiWriteOffCaseV1Request) Execute() (*CaseResponse, *http.Response, error) {
	return r.ApiService.WriteOffCaseV1Execute(r)
}

/*
WriteOffCaseV1 Write Off Case

Request write-off. D5: Never autonomous — creates approval task.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiWriteOffCaseV1Request
*/
func (a *CasesAPIService) WriteOffCaseV1(ctx context.Context, caseId string) ApiWriteOffCaseV1Request {
	return ApiWriteOffCaseV1Request{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return CaseResponse
func (a *CasesAPIService) WriteOffCaseV1Execute(r ApiWriteOffCaseV1Request) (*CaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesAPIService.WriteOffCaseV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/write-off"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.caseWriteOffRequest == nil {
		return localVarReturnValue, nil, reportError("caseWriteOffRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.caseWriteOffRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
