/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// VarianceAPIService VarianceAPI service
type VarianceAPIService service

type ApiComputeVarianceRequest struct {
	ctx context.Context
	ApiService *VarianceAPIService
	computeVarianceRequest *ComputeVarianceRequest
}

func (r ApiComputeVarianceRequest) ComputeVarianceRequest(computeVarianceRequest ComputeVarianceRequest) ApiComputeVarianceRequest {
	r.computeVarianceRequest = &computeVarianceRequest
	return r
}

func (r ApiComputeVarianceRequest) Execute() (*ComputeVarianceResponse, *http.Response, error) {
	return r.ApiService.ComputeVarianceExecute(r)
}

/*
ComputeVariance Trigger variance computation (operator)

Operator endpoint: trigger variance computation for feature+period.
Upserts into cost_variances table. Returns the computed variance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiComputeVarianceRequest
*/
func (a *VarianceAPIService) ComputeVariance(ctx context.Context) ApiComputeVarianceRequest {
	return ApiComputeVarianceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ComputeVarianceResponse
func (a *VarianceAPIService) ComputeVarianceExecute(r ApiComputeVarianceRequest) (*ComputeVarianceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComputeVarianceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VarianceAPIService.ComputeVariance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/variance/compute"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.computeVarianceRequest == nil {
		return localVarReturnValue, nil, reportError("computeVarianceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.computeVarianceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBomVarianceRequest struct {
	ctx context.Context
	ApiService *VarianceAPIService
	bomId string
	tenantId *string
	periodStart *time.Time
	periodEnd *time.Time
}

// Tenant UUID
func (r ApiGetBomVarianceRequest) TenantId(tenantId string) ApiGetBomVarianceRequest {
	r.tenantId = &tenantId
	return r
}

// Period start (ISO datetime)
func (r ApiGetBomVarianceRequest) PeriodStart(periodStart time.Time) ApiGetBomVarianceRequest {
	r.periodStart = &periodStart
	return r
}

// Period end (ISO datetime)
func (r ApiGetBomVarianceRequest) PeriodEnd(periodEnd time.Time) ApiGetBomVarianceRequest {
	r.periodEnd = &periodEnd
	return r
}

func (r ApiGetBomVarianceRequest) Execute() (*BomVarianceOut, *http.Response, error) {
	return r.ApiService.GetBomVarianceExecute(r)
}

/*
GetBomVariance BOM-level variance: standard vs actual

Computes BOM-level variance (standard total vs actual total) with per-component breakdown.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bomId
 @return ApiGetBomVarianceRequest
*/
func (a *VarianceAPIService) GetBomVariance(ctx context.Context, bomId string) ApiGetBomVarianceRequest {
	return ApiGetBomVarianceRequest{
		ApiService: a,
		ctx: ctx,
		bomId: bomId,
	}
}

// Execute executes the request
//  @return BomVarianceOut
func (a *VarianceAPIService) GetBomVarianceExecute(r ApiGetBomVarianceRequest) (*BomVarianceOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BomVarianceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VarianceAPIService.GetBomVariance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/variance/bom/{bom_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"bom_id"+"}", url.PathEscape(parameterValueToString(r.bomId, "bomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.periodStart == nil {
		return localVarReturnValue, nil, reportError("periodStart is required and must be specified")
	}
	if r.periodEnd == nil {
		return localVarReturnValue, nil, reportError("periodEnd is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVarianceDecompositionRequest struct {
	ctx context.Context
	ApiService *VarianceAPIService
	tenantId *string
	featureKey *string
	periodStart *time.Time
	periodEnd *time.Time
	bomTemplateId *string
}

// Tenant UUID
func (r ApiGetVarianceDecompositionRequest) TenantId(tenantId string) ApiGetVarianceDecompositionRequest {
	r.tenantId = &tenantId
	return r
}

// Feature key
func (r ApiGetVarianceDecompositionRequest) FeatureKey(featureKey string) ApiGetVarianceDecompositionRequest {
	r.featureKey = &featureKey
	return r
}

// Period start (ISO datetime)
func (r ApiGetVarianceDecompositionRequest) PeriodStart(periodStart time.Time) ApiGetVarianceDecompositionRequest {
	r.periodStart = &periodStart
	return r
}

// Period end (ISO datetime)
func (r ApiGetVarianceDecompositionRequest) PeriodEnd(periodEnd time.Time) ApiGetVarianceDecompositionRequest {
	r.periodEnd = &periodEnd
	return r
}

// BOM template UUID
func (r ApiGetVarianceDecompositionRequest) BomTemplateId(bomTemplateId string) ApiGetVarianceDecompositionRequest {
	r.bomTemplateId = &bomTemplateId
	return r
}

func (r ApiGetVarianceDecompositionRequest) Execute() (*VarianceDecompositionOut, *http.Response, error) {
	return r.ApiService.GetVarianceDecompositionExecute(r)
}

/*
GetVarianceDecomposition Full four-way variance decomposition for feature+period

Full four-way variance decomposition for a specific feature and period.
price + usage + volume + mix == total_variance (guaranteed).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetVarianceDecompositionRequest
*/
func (a *VarianceAPIService) GetVarianceDecomposition(ctx context.Context) ApiGetVarianceDecompositionRequest {
	return ApiGetVarianceDecompositionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VarianceDecompositionOut
func (a *VarianceAPIService) GetVarianceDecompositionExecute(r ApiGetVarianceDecompositionRequest) (*VarianceDecompositionOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VarianceDecompositionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VarianceAPIService.GetVarianceDecomposition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/variance/decomposition"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.featureKey == nil {
		return localVarReturnValue, nil, reportError("featureKey is required and must be specified")
	}
	if r.periodStart == nil {
		return localVarReturnValue, nil, reportError("periodStart is required and must be specified")
	}
	if r.periodEnd == nil {
		return localVarReturnValue, nil, reportError("periodEnd is required and must be specified")
	}
	if r.bomTemplateId == nil {
		return localVarReturnValue, nil, reportError("bomTemplateId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "feature_key", r.featureKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "bom_template_id", r.bomTemplateId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVarianceSummaryRequest struct {
	ctx context.Context
	ApiService *VarianceAPIService
	tenantId *string
	periodStart *time.Time
	periodEnd *time.Time
}

// Tenant UUID
func (r ApiGetVarianceSummaryRequest) TenantId(tenantId string) ApiGetVarianceSummaryRequest {
	r.tenantId = &tenantId
	return r
}

// Period start (ISO datetime)
func (r ApiGetVarianceSummaryRequest) PeriodStart(periodStart time.Time) ApiGetVarianceSummaryRequest {
	r.periodStart = &periodStart
	return r
}

// Period end (ISO datetime)
func (r ApiGetVarianceSummaryRequest) PeriodEnd(periodEnd time.Time) ApiGetVarianceSummaryRequest {
	r.periodEnd = &periodEnd
	return r
}

func (r ApiGetVarianceSummaryRequest) Execute() (*VarianceSummaryResponse, *http.Response, error) {
	return r.ApiService.GetVarianceSummaryExecute(r)
}

/*
GetVarianceSummary Variance summary for all features in period

Returns variance decomposition for all features in the period.
Flags heuristic variances (heuristic_alert=True) with a 2× threshold note.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetVarianceSummaryRequest
*/
func (a *VarianceAPIService) GetVarianceSummary(ctx context.Context) ApiGetVarianceSummaryRequest {
	return ApiGetVarianceSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VarianceSummaryResponse
func (a *VarianceAPIService) GetVarianceSummaryExecute(r ApiGetVarianceSummaryRequest) (*VarianceSummaryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VarianceSummaryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VarianceAPIService.GetVarianceSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/variance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.periodStart == nil {
		return localVarReturnValue, nil, reportError("periodStart is required and must be specified")
	}
	if r.periodEnd == nil {
		return localVarReturnValue, nil, reportError("periodEnd is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
