/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EscalationsAPIService EscalationsAPI service
type EscalationsAPIService service

type ApiCreateEscalationRequest struct {
	ctx context.Context
	ApiService *EscalationsAPIService
	caseId string
	escalationCreate *EscalationCreate
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiCreateEscalationRequest) EscalationCreate(escalationCreate EscalationCreate) ApiCreateEscalationRequest {
	r.escalationCreate = &escalationCreate
	return r
}

func (r ApiCreateEscalationRequest) XAPIKey(xAPIKey string) ApiCreateEscalationRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiCreateEscalationRequest) XTenantId(xTenantId string) ApiCreateEscalationRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiCreateEscalationRequest) XOrgId(xOrgId string) ApiCreateEscalationRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiCreateEscalationRequest) Authorization(authorization string) ApiCreateEscalationRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateEscalationRequest) Execute() (*EscalationResponse, *http.Response, error) {
	return r.ApiService.CreateEscalationExecute(r)
}

/*
CreateEscalation Create Escalation

Create an escalation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiCreateEscalationRequest
*/
func (a *EscalationsAPIService) CreateEscalation(ctx context.Context, caseId string) ApiCreateEscalationRequest {
	return ApiCreateEscalationRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return EscalationResponse
func (a *EscalationsAPIService) CreateEscalationExecute(r ApiCreateEscalationRequest) (*EscalationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EscalationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EscalationsAPIService.CreateEscalation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/escalations"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.escalationCreate == nil {
		return localVarReturnValue, nil, reportError("escalationCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.escalationCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDismissEscalationRequest struct {
	ctx context.Context
	ApiService *EscalationsAPIService
	caseId string
	escalationId string
	escalationDismissRequest *EscalationDismissRequest
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiDismissEscalationRequest) EscalationDismissRequest(escalationDismissRequest EscalationDismissRequest) ApiDismissEscalationRequest {
	r.escalationDismissRequest = &escalationDismissRequest
	return r
}

func (r ApiDismissEscalationRequest) XAPIKey(xAPIKey string) ApiDismissEscalationRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiDismissEscalationRequest) XTenantId(xTenantId string) ApiDismissEscalationRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiDismissEscalationRequest) XOrgId(xOrgId string) ApiDismissEscalationRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiDismissEscalationRequest) Authorization(authorization string) ApiDismissEscalationRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDismissEscalationRequest) Execute() (*EscalationResponse, *http.Response, error) {
	return r.ApiService.DismissEscalationExecute(r)
}

/*
DismissEscalation Dismiss Escalation

Dismiss an escalation (Spec B Task 10).

``hard=true`` additionally suppresses the no-response trigger from
immediately re-firing on the same case.  Always emits a
``DISMISS_REASON`` learning signal for Spec D consumption.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @param escalationId
 @return ApiDismissEscalationRequest
*/
func (a *EscalationsAPIService) DismissEscalation(ctx context.Context, caseId string, escalationId string) ApiDismissEscalationRequest {
	return ApiDismissEscalationRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
		escalationId: escalationId,
	}
}

// Execute executes the request
//  @return EscalationResponse
func (a *EscalationsAPIService) DismissEscalationExecute(r ApiDismissEscalationRequest) (*EscalationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EscalationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EscalationsAPIService.DismissEscalation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/escalations/{escalation_id}/dismiss"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"escalation_id"+"}", url.PathEscape(parameterValueToString(r.escalationId, "escalationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.escalationDismissRequest == nil {
		return localVarReturnValue, nil, reportError("escalationDismissRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.escalationDismissRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDispatchEscalationActionRequest struct {
	ctx context.Context
	ApiService *EscalationsAPIService
	escalationId string
	escalationActionRequest *EscalationActionRequest
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiDispatchEscalationActionRequest) EscalationActionRequest(escalationActionRequest EscalationActionRequest) ApiDispatchEscalationActionRequest {
	r.escalationActionRequest = &escalationActionRequest
	return r
}

func (r ApiDispatchEscalationActionRequest) XAPIKey(xAPIKey string) ApiDispatchEscalationActionRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiDispatchEscalationActionRequest) XTenantId(xTenantId string) ApiDispatchEscalationActionRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiDispatchEscalationActionRequest) XOrgId(xOrgId string) ApiDispatchEscalationActionRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiDispatchEscalationActionRequest) Authorization(authorization string) ApiDispatchEscalationActionRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDispatchEscalationActionRequest) Execute() (*EscalationActionResponse, *http.Response, error) {
	return r.ApiService.DispatchEscalationActionExecute(r)
}

/*
DispatchEscalationAction Dispatch Escalation Action

Run one of the 8 card actions against the escalation's case.

``tenant_id`` comes from the auth context — never the request body.
The escalation row must belong to this tenant or we 404 (no info
leak about whether the id exists in another tenant).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param escalationId
 @return ApiDispatchEscalationActionRequest
*/
func (a *EscalationsAPIService) DispatchEscalationAction(ctx context.Context, escalationId string) ApiDispatchEscalationActionRequest {
	return ApiDispatchEscalationActionRequest{
		ApiService: a,
		ctx: ctx,
		escalationId: escalationId,
	}
}

// Execute executes the request
//  @return EscalationActionResponse
func (a *EscalationsAPIService) DispatchEscalationActionExecute(r ApiDispatchEscalationActionRequest) (*EscalationActionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EscalationActionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EscalationsAPIService.DispatchEscalationAction")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/escalations/{escalation_id}/actions"
	localVarPath = strings.Replace(localVarPath, "{"+"escalation_id"+"}", url.PathEscape(parameterValueToString(r.escalationId, "escalationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.escalationActionRequest == nil {
		return localVarReturnValue, nil, reportError("escalationActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.escalationActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEscalationRequest struct {
	ctx context.Context
	ApiService *EscalationsAPIService
	caseId string
	escalationId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiGetEscalationRequest) XAPIKey(xAPIKey string) ApiGetEscalationRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetEscalationRequest) XTenantId(xTenantId string) ApiGetEscalationRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetEscalationRequest) XOrgId(xOrgId string) ApiGetEscalationRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetEscalationRequest) Authorization(authorization string) ApiGetEscalationRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetEscalationRequest) Execute() (*EscalationResponse, *http.Response, error) {
	return r.ApiService.GetEscalationExecute(r)
}

/*
GetEscalation Get Escalation

Get a single escalation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @param escalationId
 @return ApiGetEscalationRequest
*/
func (a *EscalationsAPIService) GetEscalation(ctx context.Context, caseId string, escalationId string) ApiGetEscalationRequest {
	return ApiGetEscalationRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
		escalationId: escalationId,
	}
}

// Execute executes the request
//  @return EscalationResponse
func (a *EscalationsAPIService) GetEscalationExecute(r ApiGetEscalationRequest) (*EscalationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EscalationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EscalationsAPIService.GetEscalation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/escalations/{escalation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"escalation_id"+"}", url.PathEscape(parameterValueToString(r.escalationId, "escalationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEscalationsRequest struct {
	ctx context.Context
	ApiService *EscalationsAPIService
	caseId string
	page *int32
	pageSize *int32
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiListEscalationsRequest) Page(page int32) ApiListEscalationsRequest {
	r.page = &page
	return r
}

func (r ApiListEscalationsRequest) PageSize(pageSize int32) ApiListEscalationsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListEscalationsRequest) XAPIKey(xAPIKey string) ApiListEscalationsRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListEscalationsRequest) XTenantId(xTenantId string) ApiListEscalationsRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListEscalationsRequest) XOrgId(xOrgId string) ApiListEscalationsRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListEscalationsRequest) Authorization(authorization string) ApiListEscalationsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListEscalationsRequest) Execute() (*EscalationListResponse, *http.Response, error) {
	return r.ApiService.ListEscalationsExecute(r)
}

/*
ListEscalations List Escalations

List escalations for a case.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @return ApiListEscalationsRequest
*/
func (a *EscalationsAPIService) ListEscalations(ctx context.Context, caseId string) ApiListEscalationsRequest {
	return ApiListEscalationsRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
	}
}

// Execute executes the request
//  @return EscalationListResponse
func (a *EscalationsAPIService) ListEscalationsExecute(r ApiListEscalationsRequest) (*EscalationListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EscalationListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EscalationsAPIService.ListEscalations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/escalations"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResolveEscalationRequest struct {
	ctx context.Context
	ApiService *EscalationsAPIService
	caseId string
	escalationId string
	escalationResolveRequest *EscalationResolveRequest
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiResolveEscalationRequest) EscalationResolveRequest(escalationResolveRequest EscalationResolveRequest) ApiResolveEscalationRequest {
	r.escalationResolveRequest = &escalationResolveRequest
	return r
}

func (r ApiResolveEscalationRequest) XAPIKey(xAPIKey string) ApiResolveEscalationRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiResolveEscalationRequest) XTenantId(xTenantId string) ApiResolveEscalationRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiResolveEscalationRequest) XOrgId(xOrgId string) ApiResolveEscalationRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiResolveEscalationRequest) Authorization(authorization string) ApiResolveEscalationRequest {
	r.authorization = &authorization
	return r
}

func (r ApiResolveEscalationRequest) Execute() (*EscalationResponse, *http.Response, error) {
	return r.ApiService.ResolveEscalationExecute(r)
}

/*
ResolveEscalation Resolve Escalation

Resolve an escalation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @param escalationId
 @return ApiResolveEscalationRequest
*/
func (a *EscalationsAPIService) ResolveEscalation(ctx context.Context, caseId string, escalationId string) ApiResolveEscalationRequest {
	return ApiResolveEscalationRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
		escalationId: escalationId,
	}
}

// Execute executes the request
//  @return EscalationResponse
func (a *EscalationsAPIService) ResolveEscalationExecute(r ApiResolveEscalationRequest) (*EscalationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EscalationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EscalationsAPIService.ResolveEscalation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/escalations/{escalation_id}/resolve"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"escalation_id"+"}", url.PathEscape(parameterValueToString(r.escalationId, "escalationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.escalationResolveRequest == nil {
		return localVarReturnValue, nil, reportError("escalationResolveRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.escalationResolveRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateEscalationRequest struct {
	ctx context.Context
	ApiService *EscalationsAPIService
	caseId string
	escalationId string
	escalationUpdate *EscalationUpdate
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiUpdateEscalationRequest) EscalationUpdate(escalationUpdate EscalationUpdate) ApiUpdateEscalationRequest {
	r.escalationUpdate = &escalationUpdate
	return r
}

func (r ApiUpdateEscalationRequest) XAPIKey(xAPIKey string) ApiUpdateEscalationRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdateEscalationRequest) XTenantId(xTenantId string) ApiUpdateEscalationRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdateEscalationRequest) XOrgId(xOrgId string) ApiUpdateEscalationRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdateEscalationRequest) Authorization(authorization string) ApiUpdateEscalationRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateEscalationRequest) Execute() (*EscalationResponse, *http.Response, error) {
	return r.ApiService.UpdateEscalationExecute(r)
}

/*
UpdateEscalation Update Escalation

Update an escalation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param caseId
 @param escalationId
 @return ApiUpdateEscalationRequest
*/
func (a *EscalationsAPIService) UpdateEscalation(ctx context.Context, caseId string, escalationId string) ApiUpdateEscalationRequest {
	return ApiUpdateEscalationRequest{
		ApiService: a,
		ctx: ctx,
		caseId: caseId,
		escalationId: escalationId,
	}
}

// Execute executes the request
//  @return EscalationResponse
func (a *EscalationsAPIService) UpdateEscalationExecute(r ApiUpdateEscalationRequest) (*EscalationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EscalationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EscalationsAPIService.UpdateEscalation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cases/{case_id}/escalations/{escalation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"case_id"+"}", url.PathEscape(parameterValueToString(r.caseId, "caseId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"escalation_id"+"}", url.PathEscape(parameterValueToString(r.escalationId, "escalationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.escalationUpdate == nil {
		return localVarReturnValue, nil, reportError("escalationUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.escalationUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
