/*
Moolabs API

Unified Moolabs SDK covering billing (CLS) and usage (Meter) operations. Both surfaces share one client and one auth flow.

API version: 0.2.0-rc1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UsageAPIService UsageAPI service
type UsageAPIService service

type ApiGetUsageEventRequest struct {
	ctx context.Context
	ApiService *UsageAPIService
	eventId string
}

func (r ApiGetUsageEventRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetUsageEventExecute(r)
}

/*
GetUsageEvent Get Usage Event

Get usage event details by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param eventId
 @return ApiGetUsageEventRequest
*/
func (a *UsageAPIService) GetUsageEvent(ctx context.Context, eventId string) ApiGetUsageEventRequest {
	return ApiGetUsageEventRequest{
		ApiService: a,
		ctx: ctx,
		eventId: eventId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UsageAPIService) GetUsageEventExecute(r ApiGetUsageEventRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/{event_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"event_id"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListUsageEventsRequest struct {
	ctx context.Context
	ApiService *UsageAPIService
	tenantId *string
	poolId *string
	ratingStatus *string
	featureKey *string
	meterSlug *string
	subjectId *string
	fromTime *string
	toTime *string
	limit *int32
	offset *int32
}

// Tenant identifier (optional if subject_id provided)
func (r ApiListUsageEventsRequest) TenantId(tenantId string) ApiListUsageEventsRequest {
	r.tenantId = &tenantId
	return r
}

// Pool identifier (optional if subject_id provided)
func (r ApiListUsageEventsRequest) PoolId(poolId string) ApiListUsageEventsRequest {
	r.poolId = &poolId
	return r
}

// Filter by rating status
func (r ApiListUsageEventsRequest) RatingStatus(ratingStatus string) ApiListUsageEventsRequest {
	r.ratingStatus = &ratingStatus
	return r
}

// Filter by feature key
func (r ApiListUsageEventsRequest) FeatureKey(featureKey string) ApiListUsageEventsRequest {
	r.featureKey = &featureKey
	return r
}

// Filter by meter slug
func (r ApiListUsageEventsRequest) MeterSlug(meterSlug string) ApiListUsageEventsRequest {
	r.meterSlug = &meterSlug
	return r
}

// Filter by subject ID (auto-resolves tenant_id/pool_id if not provided)
func (r ApiListUsageEventsRequest) SubjectId(subjectId string) ApiListUsageEventsRequest {
	r.subjectId = &subjectId
	return r
}

// Filter events from this time (ISO 8601, e.g., 2026-02-09T00:48:00Z)
func (r ApiListUsageEventsRequest) FromTime(fromTime string) ApiListUsageEventsRequest {
	r.fromTime = &fromTime
	return r
}

// Filter events to this time (ISO 8601, e.g., 2026-02-09T00:50:00Z)
func (r ApiListUsageEventsRequest) ToTime(toTime string) ApiListUsageEventsRequest {
	r.toTime = &toTime
	return r
}

// Maximum number of events to return
func (r ApiListUsageEventsRequest) Limit(limit int32) ApiListUsageEventsRequest {
	r.limit = &limit
	return r
}

// Offset for pagination
func (r ApiListUsageEventsRequest) Offset(offset int32) ApiListUsageEventsRequest {
	r.offset = &offset
	return r
}

func (r ApiListUsageEventsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListUsageEventsExecute(r)
}

/*
ListUsageEvents List Usage Events

List usage events with optional filters.

If subject_id is provided but tenant_id/pool_id are not, they will be auto-resolved.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListUsageEventsRequest
*/
func (a *UsageAPIService) ListUsageEvents(ctx context.Context) ApiListUsageEventsRequest {
	return ApiListUsageEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UsageAPIService) ListUsageEventsExecute(r ApiListUsageEventsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.ListUsageEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	if r.ratingStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rating_status", r.ratingStatus, "form", "")
	}
	if r.featureKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "feature_key", r.featureKey, "form", "")
	}
	if r.meterSlug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meter_slug", r.meterSlug, "form", "")
	}
	if r.subjectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject_id", r.subjectId, "form", "")
	}
	if r.fromTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_time", r.fromTime, "form", "")
	}
	if r.toTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_time", r.toTime, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordUsageRequest struct {
	ctx context.Context
	ApiService *UsageAPIService
	recordUsageRequest *RecordUsageRequest
}

func (r ApiRecordUsageRequest) RecordUsageRequest(recordUsageRequest RecordUsageRequest) ApiRecordUsageRequest {
	r.recordUsageRequest = &recordUsageRequest
	return r
}

func (r ApiRecordUsageRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordUsageExecute(r)
}

/*
RecordUsage Record Usage

Record a usage event.

Features:
- Idempotent recording (UNIQUE constraint on tenant_id, usage_event_id)
- Automatic wallet resolution from subject_id
- Usage fingerprint generation for duplicate detection
- Event normalization (usage_vector → canonical JSON)

The event will be queued for rating (status: PENDING).
A background worker will process it and create journal entries.

Returns:
    Created or existing usage event

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecordUsageRequest
*/
func (a *UsageAPIService) RecordUsage(ctx context.Context) ApiRecordUsageRequest {
	return ApiRecordUsageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UsageAPIService) RecordUsageExecute(r ApiRecordUsageRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.RecordUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.recordUsageRequest == nil {
		return localVarReturnValue, nil, reportError("recordUsageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.recordUsageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
