/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// InternalSubscriptionsAPIService InternalSubscriptionsAPI service
type InternalSubscriptionsAPIService service

type ApiSyncSubscriptionPostRequest struct {
	ctx context.Context
	ApiService *InternalSubscriptionsAPIService
	appApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest *AppApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest
	authorization *string
}

func (r ApiSyncSubscriptionPostRequest) AppApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest(appApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest AppApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest) ApiSyncSubscriptionPostRequest {
	r.appApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest = &appApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest
	return r
}

func (r ApiSyncSubscriptionPostRequest) Authorization(authorization string) ApiSyncSubscriptionPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiSyncSubscriptionPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SyncSubscriptionPostExecute(r)
}

/*
SyncSubscriptionPost Sync Subscription

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSyncSubscriptionPostRequest
*/
func (a *InternalSubscriptionsAPIService) SyncSubscriptionPost(ctx context.Context) ApiSyncSubscriptionPostRequest {
	return ApiSyncSubscriptionPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *InternalSubscriptionsAPIService) SyncSubscriptionPostExecute(r ApiSyncSubscriptionPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalSubscriptionsAPIService.SyncSubscriptionPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/internal/subscriptions/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest == nil {
		return localVarReturnValue, nil, reportError("appApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.appApiV1InternalSubscriptionSyncSchemasSubscriptionSyncRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
