/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc9
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// LedgerAPIService LedgerAPI service
type LedgerAPIService service

type ApiGetLedgerAuditRequest struct {
	ctx context.Context
	ApiService *LedgerAPIService
	tenantId *string
	poolId *string
	walletId *string
	journalEntryId *string
	usageEventId *string
	fromEffectiveAt *time.Time
	toEffectiveAt *time.Time
	limit *int32
}

// Tenant identifier
func (r ApiGetLedgerAuditRequest) TenantId(tenantId string) ApiGetLedgerAuditRequest {
	r.tenantId = &tenantId
	return r
}

// Pool identifier
func (r ApiGetLedgerAuditRequest) PoolId(poolId string) ApiGetLedgerAuditRequest {
	r.poolId = &poolId
	return r
}

// Optional wallet filter
func (r ApiGetLedgerAuditRequest) WalletId(walletId string) ApiGetLedgerAuditRequest {
	r.walletId = &walletId
	return r
}

// Optional journal entry filter
func (r ApiGetLedgerAuditRequest) JournalEntryId(journalEntryId string) ApiGetLedgerAuditRequest {
	r.journalEntryId = &journalEntryId
	return r
}

// Optional usage event filter
func (r ApiGetLedgerAuditRequest) UsageEventId(usageEventId string) ApiGetLedgerAuditRequest {
	r.usageEventId = &usageEventId
	return r
}

// Optional start time filter
func (r ApiGetLedgerAuditRequest) FromEffectiveAt(fromEffectiveAt time.Time) ApiGetLedgerAuditRequest {
	r.fromEffectiveAt = &fromEffectiveAt
	return r
}

// Optional end time filter
func (r ApiGetLedgerAuditRequest) ToEffectiveAt(toEffectiveAt time.Time) ApiGetLedgerAuditRequest {
	r.toEffectiveAt = &toEffectiveAt
	return r
}

// Maximum number of entries
func (r ApiGetLedgerAuditRequest) Limit(limit int32) ApiGetLedgerAuditRequest {
	r.limit = &limit
	return r
}

func (r ApiGetLedgerAuditRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetLedgerAuditExecute(r)
}

/*
GetLedgerAudit Get Ledger Audit

Explain ledger audit trace.

This provides a detailed audit trail of journal entries, postings, and burn allocations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLedgerAuditRequest
*/
func (a *LedgerAPIService) GetLedgerAudit(ctx context.Context) ApiGetLedgerAuditRequest {
	return ApiGetLedgerAuditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *LedgerAPIService) GetLedgerAuditExecute(r ApiGetLedgerAuditRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LedgerAPIService.GetLedgerAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ledger/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.poolId == nil {
		return localVarReturnValue, nil, reportError("poolId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	if r.walletId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "form", "")
	}
	if r.journalEntryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "journal_entry_id", r.journalEntryId, "form", "")
	}
	if r.usageEventId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "usage_event_id", r.usageEventId, "form", "")
	}
	if r.fromEffectiveAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_effective_at", r.fromEffectiveAt, "form", "")
	}
	if r.toEffectiveAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_effective_at", r.toEffectiveAt, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLedgerBalanceRequest struct {
	ctx context.Context
	ApiService *LedgerAPIService
	tenantId *string
	poolId *string
	walletId *string
	asOfEffectiveAt *time.Time
	asOfRecordedAt *time.Time
}

// Tenant identifier
func (r ApiGetLedgerBalanceRequest) TenantId(tenantId string) ApiGetLedgerBalanceRequest {
	r.tenantId = &tenantId
	return r
}

// Pool identifier
func (r ApiGetLedgerBalanceRequest) PoolId(poolId string) ApiGetLedgerBalanceRequest {
	r.poolId = &poolId
	return r
}

// Wallet identifier
func (r ApiGetLedgerBalanceRequest) WalletId(walletId string) ApiGetLedgerBalanceRequest {
	r.walletId = &walletId
	return r
}

// Effective timestamp (for time travel)
func (r ApiGetLedgerBalanceRequest) AsOfEffectiveAt(asOfEffectiveAt time.Time) ApiGetLedgerBalanceRequest {
	r.asOfEffectiveAt = &asOfEffectiveAt
	return r
}

// Recorded timestamp (for time travel)
func (r ApiGetLedgerBalanceRequest) AsOfRecordedAt(asOfRecordedAt time.Time) ApiGetLedgerBalanceRequest {
	r.asOfRecordedAt = &asOfRecordedAt
	return r
}

func (r ApiGetLedgerBalanceRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetLedgerBalanceExecute(r)
}

/*
GetLedgerBalance Get Ledger Balance

Get ledger balance at a specific point in time (time travel query).

This calculates the balance as of a specific effective_at and recorded_at timestamp.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLedgerBalanceRequest
*/
func (a *LedgerAPIService) GetLedgerBalance(ctx context.Context) ApiGetLedgerBalanceRequest {
	return ApiGetLedgerBalanceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *LedgerAPIService) GetLedgerBalanceExecute(r ApiGetLedgerBalanceRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LedgerAPIService.GetLedgerBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ledger/balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.poolId == nil {
		return localVarReturnValue, nil, reportError("poolId is required and must be specified")
	}
	if r.walletId == nil {
		return localVarReturnValue, nil, reportError("walletId is required and must be specified")
	}
	if r.asOfEffectiveAt == nil {
		return localVarReturnValue, nil, reportError("asOfEffectiveAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "as_of_effective_at", r.asOfEffectiveAt, "form", "")
	if r.asOfRecordedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_of_recorded_at", r.asOfRecordedAt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWalletStateRequest struct {
	ctx context.Context
	ApiService *LedgerAPIService
	walletId *string
	tenantId *string
	poolId *string
	asOf *time.Time
	consistency *string
	effectiveAsOf *time.Time
	recordedAsOf *time.Time
	consistentView *bool
}

// Wallet identifier
func (r ApiGetWalletStateRequest) WalletId(walletId string) ApiGetWalletStateRequest {
	r.walletId = &walletId
	return r
}

// Tenant identifier (resolved from auth when absent)
func (r ApiGetWalletStateRequest) TenantId(tenantId string) ApiGetWalletStateRequest {
	r.tenantId = &tenantId
	return r
}

// Credit pool identifier (resolved from auth when absent)
func (r ApiGetWalletStateRequest) PoolId(poolId string) ApiGetWalletStateRequest {
	r.poolId = &poolId
	return r
}

// As-of timestamp (for time travel, legacy, use effective_as_of instead)
func (r ApiGetWalletStateRequest) AsOf(asOf time.Time) ApiGetWalletStateRequest {
	r.asOf = &asOf
	return r
}

// Consistency level: &#39;eventual&#39; or &#39;STRONG&#39;
func (r ApiGetWalletStateRequest) Consistency(consistency string) ApiGetWalletStateRequest {
	r.consistency = &consistency
	return r
}

// Effective as-of timestamp (business time) for time travel
func (r ApiGetWalletStateRequest) EffectiveAsOf(effectiveAsOf time.Time) ApiGetWalletStateRequest {
	r.effectiveAsOf = &effectiveAsOf
	return r
}

// Recorded as-of timestamp (system time) for time travel
func (r ApiGetWalletStateRequest) RecordedAsOf(recordedAsOf time.Time) ApiGetWalletStateRequest {
	r.recordedAsOf = &recordedAsOf
	return r
}

// Use strong consistency (overrides consistency param if True)
func (r ApiGetWalletStateRequest) ConsistentView(consistentView bool) ApiGetWalletStateRequest {
	r.consistentView = &consistentView
	return r
}

func (r ApiGetWalletStateRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetWalletStateExecute(r)
}

/*
GetWalletState Get Wallet State

Get wallet state (balance and credit state).

- Eventually consistent by default (fast, uses denormalized remaining_micros)
- STRONG consistency available for admin/debug (slower, uses state projection)
- Returns balance, state (OK/LOW/OVERDRAFT/OVER_CAP), and metadata
- Includes last_projected_at and projected_from_recorded_cut for STRONG consistency
- Sets cache headers for eventual consistency reads

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWalletStateRequest
*/
func (a *LedgerAPIService) GetWalletState(ctx context.Context) ApiGetWalletStateRequest {
	return ApiGetWalletStateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *LedgerAPIService) GetWalletStateExecute(r ApiGetWalletStateRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LedgerAPIService.GetWalletState")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ledger/state"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.walletId == nil {
		return localVarReturnValue, nil, reportError("walletId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "form", "")
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	if r.asOf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_of", r.asOf, "form", "")
	}
	if r.consistency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "consistency", r.consistency, "form", "")
	} else {
		var defaultValue string = "eventual"
		r.consistency = &defaultValue
	}
	if r.effectiveAsOf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effective_as_of", r.effectiveAsOf, "form", "")
	}
	if r.recordedAsOf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recorded_as_of", r.recordedAsOf, "form", "")
	}
	if r.consistentView != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "consistent_view", r.consistentView, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWalletStatesBatchRequest struct {
	ctx context.Context
	ApiService *LedgerAPIService
	batchWalletStateRequest *BatchWalletStateRequest
}

func (r ApiGetWalletStatesBatchRequest) BatchWalletStateRequest(batchWalletStateRequest BatchWalletStateRequest) ApiGetWalletStatesBatchRequest {
	r.batchWalletStateRequest = &batchWalletStateRequest
	return r
}

func (r ApiGetWalletStatesBatchRequest) Execute() (*BatchWalletStateResponse, *http.Response, error) {
	return r.ApiService.GetWalletStatesBatchExecute(r)
}

/*
GetWalletStatesBatch Get Wallet States Batch

Get states for multiple wallets in a single request.

This endpoint allows fetching wallet states (balance, state) for multiple wallets
in a single API call, which is much more efficient than making individual requests.

- Supports up to 100 wallets per request
- Eventually consistent by default (fast, uses denormalized remaining_micros)
- STRONG consistency available for admin/debug (slower, uses state projection)
- Returns states and any errors separately

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWalletStatesBatchRequest
*/
func (a *LedgerAPIService) GetWalletStatesBatch(ctx context.Context) ApiGetWalletStatesBatchRequest {
	return ApiGetWalletStatesBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BatchWalletStateResponse
func (a *LedgerAPIService) GetWalletStatesBatchExecute(r ApiGetWalletStatesBatchRequest) (*BatchWalletStateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchWalletStateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LedgerAPIService.GetWalletStatesBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ledger/state/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.batchWalletStateRequest == nil {
		return localVarReturnValue, nil, reportError("batchWalletStateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchWalletStateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
