/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// AdminAPIService AdminAPI service
type AdminAPIService service

type ApiDiagnoseSubscriptionRequest struct {
	ctx context.Context
	ApiService *AdminAPIService
	subscriptionId string
	tenantId *string
}

// Tenant identifier
func (r ApiDiagnoseSubscriptionRequest) TenantId(tenantId string) ApiDiagnoseSubscriptionRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiDiagnoseSubscriptionRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DiagnoseSubscriptionExecute(r)
}

/*
DiagnoseSubscription Diagnose Subscription

Diagnose subscription sync and grant creation status.

Returns:
    Dictionary with diagnostic information about:
    - Subscription sync status
    - Lifecycle events
    - Grants created
    - Pools created
    - Wallets created

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subscriptionId
 @return ApiDiagnoseSubscriptionRequest
*/
func (a *AdminAPIService) DiagnoseSubscription(ctx context.Context, subscriptionId string) ApiDiagnoseSubscriptionRequest {
	return ApiDiagnoseSubscriptionRequest{
		ApiService: a,
		ctx: ctx,
		subscriptionId: subscriptionId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) DiagnoseSubscriptionExecute(r ApiDiagnoseSubscriptionRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.DiagnoseSubscription")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/diagnostics/subscription/{subscription_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"subscription_id"+"}", url.PathEscape(parameterValueToString(r.subscriptionId, "subscriptionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIngestDeadLettersV1Request struct {
	ctx context.Context
	ApiService *AdminAPIService
	tenantId *string
	poolId *string
	replayStatus *string
	reasonCode *string
	limit *int32
}

// Optional tenant filter
func (r ApiGetIngestDeadLettersV1Request) TenantId(tenantId string) ApiGetIngestDeadLettersV1Request {
	r.tenantId = &tenantId
	return r
}

// Optional pool filter
func (r ApiGetIngestDeadLettersV1Request) PoolId(poolId string) ApiGetIngestDeadLettersV1Request {
	r.poolId = &poolId
	return r
}

// Optional replay status filter: PENDING/REPLAYED/FAILED
func (r ApiGetIngestDeadLettersV1Request) ReplayStatus(replayStatus string) ApiGetIngestDeadLettersV1Request {
	r.replayStatus = &replayStatus
	return r
}

// Optional reason code filter
func (r ApiGetIngestDeadLettersV1Request) ReasonCode(reasonCode string) ApiGetIngestDeadLettersV1Request {
	r.reasonCode = &reasonCode
	return r
}

// Maximum rows
func (r ApiGetIngestDeadLettersV1Request) Limit(limit int32) ApiGetIngestDeadLettersV1Request {
	r.limit = &limit
	return r
}

func (r ApiGetIngestDeadLettersV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetIngestDeadLettersV1Execute(r)
}

/*
GetIngestDeadLettersV1 Get Ingest Dead Letters

List durable ingest dead-letter records.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetIngestDeadLettersV1Request
*/
func (a *AdminAPIService) GetIngestDeadLettersV1(ctx context.Context) ApiGetIngestDeadLettersV1Request {
	return ApiGetIngestDeadLettersV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) GetIngestDeadLettersV1Execute(r ApiGetIngestDeadLettersV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.GetIngestDeadLettersV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/ingest/dead-letters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	if r.replayStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replay_status", r.replayStatus, "form", "")
	}
	if r.reasonCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason_code", r.reasonCode, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLedgerAuditGetRequest struct {
	ctx context.Context
	ApiService *AdminAPIService
	tenantId *string
	poolId *string
	walletId *string
	journalEntryId *string
	usageEventId *string
	fromEffectiveAt *time.Time
	toEffectiveAt *time.Time
	limit *int32
}

// Tenant identifier
func (r ApiGetLedgerAuditGetRequest) TenantId(tenantId string) ApiGetLedgerAuditGetRequest {
	r.tenantId = &tenantId
	return r
}

// Pool identifier
func (r ApiGetLedgerAuditGetRequest) PoolId(poolId string) ApiGetLedgerAuditGetRequest {
	r.poolId = &poolId
	return r
}

// Optional wallet filter
func (r ApiGetLedgerAuditGetRequest) WalletId(walletId string) ApiGetLedgerAuditGetRequest {
	r.walletId = &walletId
	return r
}

// Optional journal entry filter
func (r ApiGetLedgerAuditGetRequest) JournalEntryId(journalEntryId string) ApiGetLedgerAuditGetRequest {
	r.journalEntryId = &journalEntryId
	return r
}

// Optional usage event filter
func (r ApiGetLedgerAuditGetRequest) UsageEventId(usageEventId string) ApiGetLedgerAuditGetRequest {
	r.usageEventId = &usageEventId
	return r
}

// Optional start time filter
func (r ApiGetLedgerAuditGetRequest) FromEffectiveAt(fromEffectiveAt time.Time) ApiGetLedgerAuditGetRequest {
	r.fromEffectiveAt = &fromEffectiveAt
	return r
}

// Optional end time filter
func (r ApiGetLedgerAuditGetRequest) ToEffectiveAt(toEffectiveAt time.Time) ApiGetLedgerAuditGetRequest {
	r.toEffectiveAt = &toEffectiveAt
	return r
}

// Maximum number of entries
func (r ApiGetLedgerAuditGetRequest) Limit(limit int32) ApiGetLedgerAuditGetRequest {
	r.limit = &limit
	return r
}

func (r ApiGetLedgerAuditGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetLedgerAuditGetExecute(r)
}

/*
GetLedgerAuditGet Get Ledger Audit

Explain ledger audit trace.

This provides a detailed audit trail of journal entries, postings, and burn allocations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLedgerAuditGetRequest
*/
func (a *AdminAPIService) GetLedgerAuditGet(ctx context.Context) ApiGetLedgerAuditGetRequest {
	return ApiGetLedgerAuditGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) GetLedgerAuditGetExecute(r ApiGetLedgerAuditGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.GetLedgerAuditGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/ledger/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.poolId == nil {
		return localVarReturnValue, nil, reportError("poolId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	if r.walletId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "form", "")
	}
	if r.journalEntryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "journal_entry_id", r.journalEntryId, "form", "")
	}
	if r.usageEventId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "usage_event_id", r.usageEventId, "form", "")
	}
	if r.fromEffectiveAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_effective_at", r.fromEffectiveAt, "form", "")
	}
	if r.toEffectiveAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_effective_at", r.toEffectiveAt, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLedgerBalanceGetRequest struct {
	ctx context.Context
	ApiService *AdminAPIService
	tenantId *string
	poolId *string
	walletId *string
	asOfEffectiveAt *time.Time
	asOfRecordedAt *time.Time
}

// Tenant identifier
func (r ApiGetLedgerBalanceGetRequest) TenantId(tenantId string) ApiGetLedgerBalanceGetRequest {
	r.tenantId = &tenantId
	return r
}

// Pool identifier
func (r ApiGetLedgerBalanceGetRequest) PoolId(poolId string) ApiGetLedgerBalanceGetRequest {
	r.poolId = &poolId
	return r
}

// Wallet identifier
func (r ApiGetLedgerBalanceGetRequest) WalletId(walletId string) ApiGetLedgerBalanceGetRequest {
	r.walletId = &walletId
	return r
}

// Effective timestamp (for time travel)
func (r ApiGetLedgerBalanceGetRequest) AsOfEffectiveAt(asOfEffectiveAt time.Time) ApiGetLedgerBalanceGetRequest {
	r.asOfEffectiveAt = &asOfEffectiveAt
	return r
}

// Recorded timestamp (for time travel)
func (r ApiGetLedgerBalanceGetRequest) AsOfRecordedAt(asOfRecordedAt time.Time) ApiGetLedgerBalanceGetRequest {
	r.asOfRecordedAt = &asOfRecordedAt
	return r
}

func (r ApiGetLedgerBalanceGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetLedgerBalanceGetExecute(r)
}

/*
GetLedgerBalanceGet Get Ledger Balance

Get ledger balance at a specific point in time (time travel query).

This calculates the balance as of a specific effective_at and recorded_at timestamp.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLedgerBalanceGetRequest
*/
func (a *AdminAPIService) GetLedgerBalanceGet(ctx context.Context) ApiGetLedgerBalanceGetRequest {
	return ApiGetLedgerBalanceGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) GetLedgerBalanceGetExecute(r ApiGetLedgerBalanceGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.GetLedgerBalanceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/ledger/balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.poolId == nil {
		return localVarReturnValue, nil, reportError("poolId is required and must be specified")
	}
	if r.walletId == nil {
		return localVarReturnValue, nil, reportError("walletId is required and must be specified")
	}
	if r.asOfEffectiveAt == nil {
		return localVarReturnValue, nil, reportError("asOfEffectiveAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "as_of_effective_at", r.asOfEffectiveAt, "form", "")
	if r.asOfRecordedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_of_recorded_at", r.asOfRecordedAt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOverrideFirstIngressEndpointV1Request struct {
	ctx context.Context
	ApiService *AdminAPIService
	overrideFirstIngressRequest *OverrideFirstIngressRequest
}

func (r ApiOverrideFirstIngressEndpointV1Request) OverrideFirstIngressRequest(overrideFirstIngressRequest OverrideFirstIngressRequest) ApiOverrideFirstIngressEndpointV1Request {
	r.overrideFirstIngressRequest = &overrideFirstIngressRequest
	return r
}

func (r ApiOverrideFirstIngressEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.OverrideFirstIngressEndpointV1Execute(r)
}

/*
OverrideFirstIngressEndpointV1 Override First Ingress Endpoint

Break-glass first_ingress_at override.

This endpoint requires DB role/session policy enforcement by
billing.override_first_ingress_at() and writes audit rows.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOverrideFirstIngressEndpointV1Request
*/
func (a *AdminAPIService) OverrideFirstIngressEndpointV1(ctx context.Context) ApiOverrideFirstIngressEndpointV1Request {
	return ApiOverrideFirstIngressEndpointV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) OverrideFirstIngressEndpointV1Execute(r ApiOverrideFirstIngressEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.OverrideFirstIngressEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/usage/first-ingress/override"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.overrideFirstIngressRequest == nil {
		return localVarReturnValue, nil, reportError("overrideFirstIngressRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.overrideFirstIngressRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessLifecycleEventManuallyV1AdminRequest struct {
	ctx context.Context
	ApiService *AdminAPIService
	subscriptionId string
	tenantId *string
}

// Tenant identifier
func (r ApiProcessLifecycleEventManuallyV1AdminRequest) TenantId(tenantId string) ApiProcessLifecycleEventManuallyV1AdminRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiProcessLifecycleEventManuallyV1AdminRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ProcessLifecycleEventManuallyV1AdminExecute(r)
}

/*
ProcessLifecycleEventManuallyV1Admin Process Lifecycle Event Manually

Manually process an existing lifecycle event.

This directly calls the worker's process function to create grants and wallets
without requiring Kafka. Useful for testing or reprocessing events.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subscriptionId Subscription ID
 @return ApiProcessLifecycleEventManuallyV1AdminRequest
*/
func (a *AdminAPIService) ProcessLifecycleEventManuallyV1Admin(ctx context.Context, subscriptionId string) ApiProcessLifecycleEventManuallyV1AdminRequest {
	return ApiProcessLifecycleEventManuallyV1AdminRequest{
		ApiService: a,
		ctx: ctx,
		subscriptionId: subscriptionId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) ProcessLifecycleEventManuallyV1AdminExecute(r ApiProcessLifecycleEventManuallyV1AdminRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.ProcessLifecycleEventManuallyV1Admin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/subscriptions/{subscription_id}/process-lifecycle-event"
	localVarPath = strings.Replace(localVarPath, "{"+"subscription_id"+"}", url.PathEscape(parameterValueToString(r.subscriptionId, "subscriptionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReplayIngestDeadLetterEndpointV1Request struct {
	ctx context.Context
	ApiService *AdminAPIService
	deadLetterId string
	replayDeadLetterRequest *ReplayDeadLetterRequest
}

func (r ApiReplayIngestDeadLetterEndpointV1Request) ReplayDeadLetterRequest(replayDeadLetterRequest ReplayDeadLetterRequest) ApiReplayIngestDeadLetterEndpointV1Request {
	r.replayDeadLetterRequest = &replayDeadLetterRequest
	return r
}

func (r ApiReplayIngestDeadLetterEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ReplayIngestDeadLetterEndpointV1Execute(r)
}

/*
ReplayIngestDeadLetterEndpointV1 Replay Ingest Dead Letter Endpoint

Replay a dead-letter event back through normalization + usage ingest.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deadLetterId Dead-letter row identifier
 @return ApiReplayIngestDeadLetterEndpointV1Request
*/
func (a *AdminAPIService) ReplayIngestDeadLetterEndpointV1(ctx context.Context, deadLetterId string) ApiReplayIngestDeadLetterEndpointV1Request {
	return ApiReplayIngestDeadLetterEndpointV1Request{
		ApiService: a,
		ctx: ctx,
		deadLetterId: deadLetterId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) ReplayIngestDeadLetterEndpointV1Execute(r ApiReplayIngestDeadLetterEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.ReplayIngestDeadLetterEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/ingest/dead-letters/{dead_letter_id}/replay"
	localVarPath = strings.Replace(localVarPath, "{"+"dead_letter_id"+"}", url.PathEscape(parameterValueToString(r.deadLetterId, "deadLetterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replayDeadLetterRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetryUnpricedRequest struct {
	ctx context.Context
	ApiService *AdminAPIService
	retryUnpricedRequest *RetryUnpricedRequest
}

func (r ApiRetryUnpricedRequest) RetryUnpricedRequest(retryUnpricedRequest RetryUnpricedRequest) ApiRetryUnpricedRequest {
	r.retryUnpricedRequest = &retryUnpricedRequest
	return r
}

func (r ApiRetryUnpricedRequest) Execute() (*RetryUnpricedResponse, *http.Response, error) {
	return r.ApiService.RetryUnpricedExecute(r)
}

/*
RetryUnpriced Retry Unpriced

Retry an UNPRICED usage event.

This resets the event to PENDING status so it can be re-rated.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetryUnpricedRequest
*/
func (a *AdminAPIService) RetryUnpriced(ctx context.Context) ApiRetryUnpricedRequest {
	return ApiRetryUnpricedRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RetryUnpricedResponse
func (a *AdminAPIService) RetryUnpricedExecute(r ApiRetryUnpricedRequest) (*RetryUnpricedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RetryUnpricedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.RetryUnpriced")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/usage/unpriced/retry"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.retryUnpricedRequest == nil {
		return localVarReturnValue, nil, reportError("retryUnpricedRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.retryUnpricedRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReviewQuarantinedRequest struct {
	ctx context.Context
	ApiService *AdminAPIService
	reviewQuarantinedRequest *ReviewQuarantinedRequest
}

func (r ApiReviewQuarantinedRequest) ReviewQuarantinedRequest(reviewQuarantinedRequest ReviewQuarantinedRequest) ApiReviewQuarantinedRequest {
	r.reviewQuarantinedRequest = &reviewQuarantinedRequest
	return r
}

func (r ApiReviewQuarantinedRequest) Execute() (*ReviewQuarantinedResponse, *http.Response, error) {
	return r.ApiService.ReviewQuarantinedExecute(r)
}

/*
ReviewQuarantined Review Quarantined

Review a QUARANTINED usage event.

Actions:
- "retry": Reset to PENDING for retry
- "manual_rate": Mark for manual rating
- "ignore": Keep in QUARANTINED state

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReviewQuarantinedRequest
*/
func (a *AdminAPIService) ReviewQuarantined(ctx context.Context) ApiReviewQuarantinedRequest {
	return ApiReviewQuarantinedRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReviewQuarantinedResponse
func (a *AdminAPIService) ReviewQuarantinedExecute(r ApiReviewQuarantinedRequest) (*ReviewQuarantinedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReviewQuarantinedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.ReviewQuarantined")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/usage/quarantined/review"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reviewQuarantinedRequest == nil {
		return localVarReturnValue, nil, reportError("reviewQuarantinedRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reviewQuarantinedRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTriggerSubscriptionSyncRequest struct {
	ctx context.Context
	ApiService *AdminAPIService
	subscriptionId string
}

func (r ApiTriggerSubscriptionSyncRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TriggerSubscriptionSyncExecute(r)
}

/*
TriggerSubscriptionSync Trigger Subscription Sync

Manually trigger subscription sync and lifecycle event publishing.

This endpoint:
1. Fetches subscription from OpenMeter
2. Gets tenant_id from environment variable (shared across all customers)
3. Syncs the subscription from OpenMeter
4. Publishes an ACTIVATED lifecycle event if the subscription is active and no event exists
5. Returns the sync result

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subscriptionId Subscription ID to sync
 @return ApiTriggerSubscriptionSyncRequest
*/
func (a *AdminAPIService) TriggerSubscriptionSync(ctx context.Context, subscriptionId string) ApiTriggerSubscriptionSyncRequest {
	return ApiTriggerSubscriptionSyncRequest{
		ApiService: a,
		ctx: ctx,
		subscriptionId: subscriptionId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdminAPIService) TriggerSubscriptionSyncExecute(r ApiTriggerSubscriptionSyncRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.TriggerSubscriptionSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/subscriptions/{subscription_id}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"subscription_id"+"}", url.PathEscape(parameterValueToString(r.subscriptionId, "subscriptionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
