/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RatingAPIService RatingAPI service
type RatingAPIService service

type ApiProcessPendingEventsV1Request struct {
	ctx context.Context
	ApiService *RatingAPIService
	limit *int32
	shardAttemptOffset *int32
	tenantId *string
	poolId *string
}

// Number of events to process
func (r ApiProcessPendingEventsV1Request) Limit(limit int32) ApiProcessPendingEventsV1Request {
	r.limit = &limit
	return r
}

// Shard attempt offset
func (r ApiProcessPendingEventsV1Request) ShardAttemptOffset(shardAttemptOffset int32) ApiProcessPendingEventsV1Request {
	r.shardAttemptOffset = &shardAttemptOffset
	return r
}

// Filter by tenant_id (for testing)
func (r ApiProcessPendingEventsV1Request) TenantId(tenantId string) ApiProcessPendingEventsV1Request {
	r.tenantId = &tenantId
	return r
}

// Filter by pool_id (for testing)
func (r ApiProcessPendingEventsV1Request) PoolId(poolId string) ApiProcessPendingEventsV1Request {
	r.poolId = &poolId
	return r
}

func (r ApiProcessPendingEventsV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ProcessPendingEventsV1Execute(r)
}

/*
ProcessPendingEventsV1 Process Pending Events

Process pending usage events.

This is a batch processing endpoint that:
- Fetches PENDING events
- Rates each event
- Returns summary

In production, this would be a background worker.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessPendingEventsV1Request
*/
func (a *RatingAPIService) ProcessPendingEventsV1(ctx context.Context) ApiProcessPendingEventsV1Request {
	return ApiProcessPendingEventsV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RatingAPIService) ProcessPendingEventsV1Execute(r ApiProcessPendingEventsV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatingAPIService.ProcessPendingEventsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/rating/process-pending"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	if r.shardAttemptOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shard_attempt_offset", r.shardAttemptOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.shardAttemptOffset = &defaultValue
	}
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRateEventRequest struct {
	ctx context.Context
	ApiService *RatingAPIService
	usageEventId string
}

func (r ApiRateEventRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RateEventExecute(r)
}

/*
RateEvent Rate Event

Rate a single usage event.

This endpoint processes a PENDING usage event and creates:
- Journal entry
- Postings
- Burn allocations
- Updates grants

Also supports retrying events with retryable statuses:
- UNPRICED: Can be retried if rate card is added
- QUARANTINED: Can be retried if guardrails are adjusted
- WAITING_FUNDS: Can be retried if funds are added

Returns:
    Created journal entry or error

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param usageEventId
 @return ApiRateEventRequest
*/
func (a *RatingAPIService) RateEvent(ctx context.Context, usageEventId string) ApiRateEventRequest {
	return ApiRateEventRequest{
		ApiService: a,
		ctx: ctx,
		usageEventId: usageEventId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RatingAPIService) RateEventExecute(r ApiRateEventRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatingAPIService.RateEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/rating/rate/{usage_event_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"usage_event_id"+"}", url.PathEscape(parameterValueToString(r.usageEventId, "usageEventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
