/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// ReconstructionAPIService ReconstructionAPI service
type ReconstructionAPIService service

type ApiCreateReconstructionRunRequest struct {
	ctx context.Context
	ApiService *ReconstructionAPIService
	createReconstructionRunRequest *CreateReconstructionRunRequest
}

func (r ApiCreateReconstructionRunRequest) CreateReconstructionRunRequest(createReconstructionRunRequest CreateReconstructionRunRequest) ApiCreateReconstructionRunRequest {
	r.createReconstructionRunRequest = &createReconstructionRunRequest
	return r
}

func (r ApiCreateReconstructionRunRequest) Execute() (*ReconstructionRunResponse, *http.Response, error) {
	return r.ApiService.CreateReconstructionRunExecute(r)
}

/*
CreateReconstructionRun Create Reconstruction Run

Create and process a reconstruction run.

This endpoint:
- Materializes wallet subtree from root wallet
- Gets affected events in the time window
- Re-rates affected events
- Creates CORRECTION journal entries linked to originals

Triggered on LATE events (policy-based).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateReconstructionRunRequest
*/
func (a *ReconstructionAPIService) CreateReconstructionRun(ctx context.Context) ApiCreateReconstructionRunRequest {
	return ApiCreateReconstructionRunRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReconstructionRunResponse
func (a *ReconstructionAPIService) CreateReconstructionRunExecute(r ApiCreateReconstructionRunRequest) (*ReconstructionRunResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReconstructionRunResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReconstructionAPIService.CreateReconstructionRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reconstruction/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createReconstructionRunRequest == nil {
		return localVarReturnValue, nil, reportError("createReconstructionRunRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createReconstructionRunRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAffectedEventsEndpointV1Request struct {
	ctx context.Context
	ApiService *ReconstructionAPIService
	tenantId *string
	poolId *string
	walletIds *string
	fromEffectiveAt *time.Time
	toEffectiveAt *time.Time
}

// Tenant identifier
func (r ApiGetAffectedEventsEndpointV1Request) TenantId(tenantId string) ApiGetAffectedEventsEndpointV1Request {
	r.tenantId = &tenantId
	return r
}

// Pool identifier
func (r ApiGetAffectedEventsEndpointV1Request) PoolId(poolId string) ApiGetAffectedEventsEndpointV1Request {
	r.poolId = &poolId
	return r
}

// Comma-separated wallet IDs
func (r ApiGetAffectedEventsEndpointV1Request) WalletIds(walletIds string) ApiGetAffectedEventsEndpointV1Request {
	r.walletIds = &walletIds
	return r
}

// Start of effective time window
func (r ApiGetAffectedEventsEndpointV1Request) FromEffectiveAt(fromEffectiveAt time.Time) ApiGetAffectedEventsEndpointV1Request {
	r.fromEffectiveAt = &fromEffectiveAt
	return r
}

// End of effective time window
func (r ApiGetAffectedEventsEndpointV1Request) ToEffectiveAt(toEffectiveAt time.Time) ApiGetAffectedEventsEndpointV1Request {
	r.toEffectiveAt = &toEffectiveAt
	return r
}

func (r ApiGetAffectedEventsEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetAffectedEventsEndpointV1Execute(r)
}

/*
GetAffectedEventsEndpointV1 Get Affected Events Endpoint

Get affected usage events in the time window for wallet subtree.

Returns events that were rated in the time window for the specified wallets.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAffectedEventsEndpointV1Request
*/
func (a *ReconstructionAPIService) GetAffectedEventsEndpointV1(ctx context.Context) ApiGetAffectedEventsEndpointV1Request {
	return ApiGetAffectedEventsEndpointV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ReconstructionAPIService) GetAffectedEventsEndpointV1Execute(r ApiGetAffectedEventsEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReconstructionAPIService.GetAffectedEventsEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reconstruction/affected-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.poolId == nil {
		return localVarReturnValue, nil, reportError("poolId is required and must be specified")
	}
	if r.walletIds == nil {
		return localVarReturnValue, nil, reportError("walletIds is required and must be specified")
	}
	if r.fromEffectiveAt == nil {
		return localVarReturnValue, nil, reportError("fromEffectiveAt is required and must be specified")
	}
	if r.toEffectiveAt == nil {
		return localVarReturnValue, nil, reportError("toEffectiveAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_ids", r.walletIds, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "from_effective_at", r.fromEffectiveAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to_effective_at", r.toEffectiveAt, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLateEventsV1Request struct {
	ctx context.Context
	ApiService *ReconstructionAPIService
	tenantId *string
	poolId *string
	lateThresholdSeconds *int32
}

// Tenant identifier
func (r ApiGetLateEventsV1Request) TenantId(tenantId string) ApiGetLateEventsV1Request {
	r.tenantId = &tenantId
	return r
}

// Pool identifier
func (r ApiGetLateEventsV1Request) PoolId(poolId string) ApiGetLateEventsV1Request {
	r.poolId = &poolId
	return r
}

// LATE event threshold (seconds)
func (r ApiGetLateEventsV1Request) LateThresholdSeconds(lateThresholdSeconds int32) ApiGetLateEventsV1Request {
	r.lateThresholdSeconds = &lateThresholdSeconds
	return r
}

func (r ApiGetLateEventsV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetLateEventsV1Execute(r)
}

/*
GetLateEventsV1 Get Late Events

Detect LATE events (events recorded significantly after effective_at).

Returns events where recorded_at is much later than effective_at.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLateEventsV1Request
*/
func (a *ReconstructionAPIService) GetLateEventsV1(ctx context.Context) ApiGetLateEventsV1Request {
	return ApiGetLateEventsV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ReconstructionAPIService) GetLateEventsV1Execute(r ApiGetLateEventsV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReconstructionAPIService.GetLateEventsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reconstruction/late-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.poolId == nil {
		return localVarReturnValue, nil, reportError("poolId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	if r.lateThresholdSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "late_threshold_seconds", r.lateThresholdSeconds, "form", "")
	} else {
		var defaultValue int32 = 3600
		r.lateThresholdSeconds = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWalletSubtreeRequest struct {
	ctx context.Context
	ApiService *ReconstructionAPIService
	walletId string
	tenantId *string
	poolId *string
	maxDepth *int32
}

// Tenant identifier
func (r ApiGetWalletSubtreeRequest) TenantId(tenantId string) ApiGetWalletSubtreeRequest {
	r.tenantId = &tenantId
	return r
}

// Pool identifier
func (r ApiGetWalletSubtreeRequest) PoolId(poolId string) ApiGetWalletSubtreeRequest {
	r.poolId = &poolId
	return r
}

// Maximum depth to traverse
func (r ApiGetWalletSubtreeRequest) MaxDepth(maxDepth int32) ApiGetWalletSubtreeRequest {
	r.maxDepth = &maxDepth
	return r
}

func (r ApiGetWalletSubtreeRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetWalletSubtreeExecute(r)
}

/*
GetWalletSubtree Get Wallet Subtree

Materialize wallet subtree starting from root wallet.

Returns all wallets in the hierarchy under the root wallet.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param walletId Wallet identifier
 @return ApiGetWalletSubtreeRequest
*/
func (a *ReconstructionAPIService) GetWalletSubtree(ctx context.Context, walletId string) ApiGetWalletSubtreeRequest {
	return ApiGetWalletSubtreeRequest{
		ApiService: a,
		ctx: ctx,
		walletId: walletId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ReconstructionAPIService) GetWalletSubtreeExecute(r ApiGetWalletSubtreeRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReconstructionAPIService.GetWalletSubtree")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reconstruction/wallets/{wallet_id}/subtree"
	localVarPath = strings.Replace(localVarPath, "{"+"wallet_id"+"}", url.PathEscape(parameterValueToString(r.walletId, "walletId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.poolId == nil {
		return localVarReturnValue, nil, reportError("poolId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	if r.maxDepth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_depth", r.maxDepth, "form", "")
	} else {
		var defaultValue int32 = 3
		r.maxDepth = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
