/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.3.0-rc2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// WordAddinAPIService WordAddinAPI service
type WordAddinAPIService service

type ApiWordOpenRequest struct {
	ctx context.Context
	ApiService *WordAddinAPIService
	quoteId string
}

func (r ApiWordOpenRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WordOpenExecute(r)
}

/*
WordOpen Word Open

Serve the latest master .docx stamped with a Moolabs bind custom-XML part.

The bind part is a ZIP-embedded XML element (namespace urn:moolabs:bind)
whose text content is a JSON object:
  {tenant_id, quote_id, doc_key, base_version, bind_token}

The bind_token is a short-TTL (30 min) HS256 JWT scoped to
(tenant_id, quote_id, doc_key) with purpose="bind".  It expires so a
forwarded copy of the file cannot be replayed after the TTL.

The custom-XML part is NOT visible in Word's standard UI but IS readable
by any party who unzips the file — ids only, no long-lived secrets.

Returns 404 when no document has been uploaded for this quote.
Returns 503 when WORD_ADDIN_JWT_SECRET is not configured.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiWordOpenRequest
*/
func (a *WordAddinAPIService) WordOpen(ctx context.Context, quoteId string) ApiWordOpenRequest {
	return ApiWordOpenRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WordAddinAPIService) WordOpenExecute(r ApiWordOpenRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WordAddinAPIService.WordOpen")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/word/open"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWordSyncRequest struct {
	ctx context.Context
	ApiService *WordAddinAPIService
	quoteId string
	file *os.File
	baseVersion *int32
	xBindToken *string
}

// The current .docx from the add-in
func (r ApiWordSyncRequest) File(file *os.File) ApiWordSyncRequest {
	r.file = file
	return r
}

// The version_no the add-in derived this doc from
func (r ApiWordSyncRequest) BaseVersion(baseVersion int32) ApiWordSyncRequest {
	r.baseVersion = &baseVersion
	return r
}

func (r ApiWordSyncRequest) XBindToken(xBindToken string) ApiWordSyncRequest {
	r.xBindToken = &xBindToken
	return r
}

func (r ApiWordSyncRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WordSyncExecute(r)
}

/*
WordSync Word Sync

Accept the add-in's current .docx and store it as a new master version.

Auth (SPIKE — see PRODUCTION NOTE in module docstring):
  The caller must supply the bind_token in the X-Bind-Token header.
  The token is verified (signature + expiry + scope) to prove the caller
  holds the file that was served by /word/open.
  PRODUCTION: replace bind-token auth with durable session token +
  require_quotes_enabled dependency per spec §9.

Version-fence:
  base_version must equal the current head version_no for this quote's
  contract.  If not (someone else pushed a new version, or the doc is
  stale) → 409 Conflict.  The add-in must reconcile (re-open the new
  master) before pushing again.

Validation:
  - File must start with PK\x03\x04 (OOXML/ZIP magic).
  - File size must be <= 30 MiB.

Returns:
  200 {doc_key, version_no, status: "stored"} on success.
  409 {detail: "Version conflict..."} on stale base_version.
  422 on invalid bytes.
  401/403 on bad/missing token.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param quoteId
 @return ApiWordSyncRequest
*/
func (a *WordAddinAPIService) WordSync(ctx context.Context, quoteId string) ApiWordSyncRequest {
	return ApiWordSyncRequest{
		ApiService: a,
		ctx: ctx,
		quoteId: quoteId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WordAddinAPIService) WordSyncExecute(r ApiWordSyncRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WordAddinAPIService.WordSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/quotes/{quote_id}/contract/editor/word/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"quote_id"+"}", url.PathEscape(parameterValueToString(r.quoteId, "quoteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}
	if r.baseVersion == nil {
		return localVarReturnValue, nil, reportError("baseVersion is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBindToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Bind-Token", r.xBindToken, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "base_version", r.baseVersion, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
