/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// DisputesAPIService DisputesAPI service
type DisputesAPIService service

type ApiAddEvidenceEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	evidenceCreateRequest *EvidenceCreateRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiAddEvidenceEndpointRequest) XAPIKey(xAPIKey string) ApiAddEvidenceEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiAddEvidenceEndpointRequest) EvidenceCreateRequest(evidenceCreateRequest EvidenceCreateRequest) ApiAddEvidenceEndpointRequest {
	r.evidenceCreateRequest = &evidenceCreateRequest
	return r
}

func (r ApiAddEvidenceEndpointRequest) XTenantId(xTenantId string) ApiAddEvidenceEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiAddEvidenceEndpointRequest) XOrgId(xOrgId string) ApiAddEvidenceEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiAddEvidenceEndpointRequest) Execute() (*EvidenceResponse, *http.Response, error) {
	return r.ApiService.AddEvidenceEndpointExecute(r)
}

/*
AddEvidenceEndpoint Add Evidence Endpoint

POST /disputes/{id}/evidence — Add non-file-backed evidence to a dispute.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiAddEvidenceEndpointRequest
*/
func (a *DisputesAPIService) AddEvidenceEndpoint(ctx context.Context, disputeId string) ApiAddEvidenceEndpointRequest {
	return ApiAddEvidenceEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return EvidenceResponse
func (a *DisputesAPIService) AddEvidenceEndpointExecute(r ApiAddEvidenceEndpointRequest) (*EvidenceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EvidenceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.AddEvidenceEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}/evidence"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.evidenceCreateRequest == nil {
		return localVarReturnValue, nil, reportError("evidenceCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.evidenceCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddExternalDocEvidenceEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	evidenceType *string
	attachment *os.File
	xTenantId *string
	xOrgId *string
	summary *string
	amountMicros *int32
}

func (r ApiAddExternalDocEvidenceEndpointRequest) XAPIKey(xAPIKey string) ApiAddExternalDocEvidenceEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiAddExternalDocEvidenceEndpointRequest) EvidenceType(evidenceType string) ApiAddExternalDocEvidenceEndpointRequest {
	r.evidenceType = &evidenceType
	return r
}

func (r ApiAddExternalDocEvidenceEndpointRequest) Attachment(attachment *os.File) ApiAddExternalDocEvidenceEndpointRequest {
	r.attachment = attachment
	return r
}

func (r ApiAddExternalDocEvidenceEndpointRequest) XTenantId(xTenantId string) ApiAddExternalDocEvidenceEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiAddExternalDocEvidenceEndpointRequest) XOrgId(xOrgId string) ApiAddExternalDocEvidenceEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiAddExternalDocEvidenceEndpointRequest) Summary(summary string) ApiAddExternalDocEvidenceEndpointRequest {
	r.summary = &summary
	return r
}

func (r ApiAddExternalDocEvidenceEndpointRequest) AmountMicros(amountMicros int32) ApiAddExternalDocEvidenceEndpointRequest {
	r.amountMicros = &amountMicros
	return r
}

func (r ApiAddExternalDocEvidenceEndpointRequest) Execute() (*EvidenceResponse, *http.Response, error) {
	return r.ApiService.AddExternalDocEvidenceEndpointExecute(r)
}

/*
AddExternalDocEvidenceEndpoint Add External Doc Evidence Endpoint

POST /disputes/{id}/evidence/upload — Add file-backed external-doc evidence.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiAddExternalDocEvidenceEndpointRequest
*/
func (a *DisputesAPIService) AddExternalDocEvidenceEndpoint(ctx context.Context, disputeId string) ApiAddExternalDocEvidenceEndpointRequest {
	return ApiAddExternalDocEvidenceEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return EvidenceResponse
func (a *DisputesAPIService) AddExternalDocEvidenceEndpointExecute(r ApiAddExternalDocEvidenceEndpointRequest) (*EvidenceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EvidenceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.AddExternalDocEvidenceEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}/evidence/upload"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.evidenceType == nil {
		return localVarReturnValue, nil, reportError("evidenceType is required and must be specified")
	}
	if r.attachment == nil {
		return localVarReturnValue, nil, reportError("attachment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "evidence_type", r.evidenceType, "", "")
	if r.summary != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "summary", r.summary, "", "")
	}
	if r.amountMicros != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "amount_micros", r.amountMicros, "", "")
	}
	var attachmentLocalVarFormFileName string
	var attachmentLocalVarFileName     string
	var attachmentLocalVarFileBytes    []byte

	attachmentLocalVarFormFileName = "attachment"
	attachmentLocalVarFile := r.attachment

	if attachmentLocalVarFile != nil {
		fbs, _ := io.ReadAll(attachmentLocalVarFile)

		attachmentLocalVarFileBytes = fbs
		attachmentLocalVarFileName = attachmentLocalVarFile.Name()
		attachmentLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: attachmentLocalVarFileBytes, fileName: attachmentLocalVarFileName, formFileName: attachmentLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApproveDisputeEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	disputeApprovalRequest *DisputeApprovalRequest
}

func (r ApiApproveDisputeEndpointRequest) XAPIKey(xAPIKey string) ApiApproveDisputeEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiApproveDisputeEndpointRequest) XTenantId(xTenantId string) ApiApproveDisputeEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiApproveDisputeEndpointRequest) XOrgId(xOrgId string) ApiApproveDisputeEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiApproveDisputeEndpointRequest) DisputeApprovalRequest(disputeApprovalRequest DisputeApprovalRequest) ApiApproveDisputeEndpointRequest {
	r.disputeApprovalRequest = &disputeApprovalRequest
	return r
}

func (r ApiApproveDisputeEndpointRequest) Execute() (*DisputeResponse, *http.Response, error) {
	return r.ApiService.ApproveDisputeEndpointExecute(r)
}

/*
ApproveDisputeEndpoint Approve Dispute Endpoint

POST /disputes/{id}/approve — Approve an auto-proposed dispute:
flip PROPOSED → OPEN, create the invoice link, bump
``anchor.disputed_micros``, and complete the linked
RESOLVE_DISPUTE task.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiApproveDisputeEndpointRequest
*/
func (a *DisputesAPIService) ApproveDisputeEndpoint(ctx context.Context, disputeId string) ApiApproveDisputeEndpointRequest {
	return ApiApproveDisputeEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return DisputeResponse
func (a *DisputesAPIService) ApproveDisputeEndpointExecute(r ApiApproveDisputeEndpointRequest) (*DisputeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DisputeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.ApproveDisputeEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}/approve"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.disputeApprovalRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDisputeEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetDisputeEndpointRequest) XAPIKey(xAPIKey string) ApiGetDisputeEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetDisputeEndpointRequest) XTenantId(xTenantId string) ApiGetDisputeEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetDisputeEndpointRequest) XOrgId(xOrgId string) ApiGetDisputeEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetDisputeEndpointRequest) Execute() (*DisputeResponse, *http.Response, error) {
	return r.ApiService.GetDisputeEndpointExecute(r)
}

/*
GetDisputeEndpoint Get Dispute Endpoint

GET /disputes/{id} — Get a single dispute.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiGetDisputeEndpointRequest
*/
func (a *DisputesAPIService) GetDisputeEndpoint(ctx context.Context, disputeId string) ApiGetDisputeEndpointRequest {
	return ApiGetDisputeEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return DisputeResponse
func (a *DisputesAPIService) GetDisputeEndpointExecute(r ApiGetDisputeEndpointRequest) (*DisputeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DisputeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.GetDisputeEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDisputesEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	xAPIKey *string
	page *int32
	pageSize *int32
	caseId *string
	status *string
	xTenantId *string
	xOrgId *string
}

func (r ApiListDisputesEndpointRequest) XAPIKey(xAPIKey string) ApiListDisputesEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListDisputesEndpointRequest) Page(page int32) ApiListDisputesEndpointRequest {
	r.page = &page
	return r
}

func (r ApiListDisputesEndpointRequest) PageSize(pageSize int32) ApiListDisputesEndpointRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListDisputesEndpointRequest) CaseId(caseId string) ApiListDisputesEndpointRequest {
	r.caseId = &caseId
	return r
}

func (r ApiListDisputesEndpointRequest) Status(status string) ApiListDisputesEndpointRequest {
	r.status = &status
	return r
}

func (r ApiListDisputesEndpointRequest) XTenantId(xTenantId string) ApiListDisputesEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListDisputesEndpointRequest) XOrgId(xOrgId string) ApiListDisputesEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListDisputesEndpointRequest) Execute() (*DisputeListResponse, *http.Response, error) {
	return r.ApiService.ListDisputesEndpointExecute(r)
}

/*
ListDisputesEndpoint List Disputes Endpoint

GET /disputes — List disputes with filters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDisputesEndpointRequest
*/
func (a *DisputesAPIService) ListDisputesEndpoint(ctx context.Context) ApiListDisputesEndpointRequest {
	return ApiListDisputesEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DisputeListResponse
func (a *DisputesAPIService) ListDisputesEndpointExecute(r ApiListDisputesEndpointRequest) (*DisputeListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DisputeListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.ListDisputesEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	if r.caseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "case_id", r.caseId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEvidenceEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiListEvidenceEndpointRequest) XAPIKey(xAPIKey string) ApiListEvidenceEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListEvidenceEndpointRequest) XTenantId(xTenantId string) ApiListEvidenceEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListEvidenceEndpointRequest) XOrgId(xOrgId string) ApiListEvidenceEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListEvidenceEndpointRequest) Execute() (*EvidenceListResponse, *http.Response, error) {
	return r.ApiService.ListEvidenceEndpointExecute(r)
}

/*
ListEvidenceEndpoint List Evidence Endpoint

GET /disputes/{id}/evidence — List evidence for a dispute.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiListEvidenceEndpointRequest
*/
func (a *DisputesAPIService) ListEvidenceEndpoint(ctx context.Context, disputeId string) ApiListEvidenceEndpointRequest {
	return ApiListEvidenceEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return EvidenceListResponse
func (a *DisputesAPIService) ListEvidenceEndpointExecute(r ApiListEvidenceEndpointRequest) (*EvidenceListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EvidenceListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.ListEvidenceEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}/evidence"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRejectDisputeEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	disputeApprovalRequest *DisputeApprovalRequest
}

func (r ApiRejectDisputeEndpointRequest) XAPIKey(xAPIKey string) ApiRejectDisputeEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiRejectDisputeEndpointRequest) XTenantId(xTenantId string) ApiRejectDisputeEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiRejectDisputeEndpointRequest) XOrgId(xOrgId string) ApiRejectDisputeEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiRejectDisputeEndpointRequest) DisputeApprovalRequest(disputeApprovalRequest DisputeApprovalRequest) ApiRejectDisputeEndpointRequest {
	r.disputeApprovalRequest = &disputeApprovalRequest
	return r
}

func (r ApiRejectDisputeEndpointRequest) Execute() (*DisputeResponse, *http.Response, error) {
	return r.ApiService.RejectDisputeEndpointExecute(r)
}

/*
RejectDisputeEndpoint Reject Dispute Endpoint

POST /disputes/{id}/reject — Reject an auto-proposed dispute:
flip PROPOSED → RESOLVED_INVALID, leave AR accounting untouched,
and complete the RESOLVE_DISPUTE task with outcome=rejected.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiRejectDisputeEndpointRequest
*/
func (a *DisputesAPIService) RejectDisputeEndpoint(ctx context.Context, disputeId string) ApiRejectDisputeEndpointRequest {
	return ApiRejectDisputeEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return DisputeResponse
func (a *DisputesAPIService) RejectDisputeEndpointExecute(r ApiRejectDisputeEndpointRequest) (*DisputeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DisputeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.RejectDisputeEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}/reject"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.disputeApprovalRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResolveDisputeEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	disputeResolveRequest *DisputeResolveRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiResolveDisputeEndpointRequest) XAPIKey(xAPIKey string) ApiResolveDisputeEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiResolveDisputeEndpointRequest) DisputeResolveRequest(disputeResolveRequest DisputeResolveRequest) ApiResolveDisputeEndpointRequest {
	r.disputeResolveRequest = &disputeResolveRequest
	return r
}

func (r ApiResolveDisputeEndpointRequest) XTenantId(xTenantId string) ApiResolveDisputeEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiResolveDisputeEndpointRequest) XOrgId(xOrgId string) ApiResolveDisputeEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiResolveDisputeEndpointRequest) Execute() (*DisputeResponse, *http.Response, error) {
	return r.ApiService.ResolveDisputeEndpointExecute(r)
}

/*
ResolveDisputeEndpoint Resolve Dispute Endpoint

POST /disputes/{id}/resolve — Resolve a dispute.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiResolveDisputeEndpointRequest
*/
func (a *DisputesAPIService) ResolveDisputeEndpoint(ctx context.Context, disputeId string) ApiResolveDisputeEndpointRequest {
	return ApiResolveDisputeEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return DisputeResponse
func (a *DisputesAPIService) ResolveDisputeEndpointExecute(r ApiResolveDisputeEndpointRequest) (*DisputeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DisputeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.ResolveDisputeEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}/resolve"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.disputeResolveRequest == nil {
		return localVarReturnValue, nil, reportError("disputeResolveRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.disputeResolveRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReviewEvidenceEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	evidenceId string
	xAPIKey *string
	evidenceReviewRequest *EvidenceReviewRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiReviewEvidenceEndpointRequest) XAPIKey(xAPIKey string) ApiReviewEvidenceEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiReviewEvidenceEndpointRequest) EvidenceReviewRequest(evidenceReviewRequest EvidenceReviewRequest) ApiReviewEvidenceEndpointRequest {
	r.evidenceReviewRequest = &evidenceReviewRequest
	return r
}

func (r ApiReviewEvidenceEndpointRequest) XTenantId(xTenantId string) ApiReviewEvidenceEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiReviewEvidenceEndpointRequest) XOrgId(xOrgId string) ApiReviewEvidenceEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiReviewEvidenceEndpointRequest) Execute() (*EvidenceResponse, *http.Response, error) {
	return r.ApiService.ReviewEvidenceEndpointExecute(r)
}

/*
ReviewEvidenceEndpoint Review Evidence Endpoint

POST /disputes/{id}/evidence/{eid}/review — Review evidence.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @param evidenceId
 @return ApiReviewEvidenceEndpointRequest
*/
func (a *DisputesAPIService) ReviewEvidenceEndpoint(ctx context.Context, disputeId string, evidenceId string) ApiReviewEvidenceEndpointRequest {
	return ApiReviewEvidenceEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
		evidenceId: evidenceId,
	}
}

// Execute executes the request
//  @return EvidenceResponse
func (a *DisputesAPIService) ReviewEvidenceEndpointExecute(r ApiReviewEvidenceEndpointRequest) (*EvidenceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EvidenceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.ReviewEvidenceEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}/evidence/{evidence_id}/review"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"evidence_id"+"}", url.PathEscape(parameterValueToString(r.evidenceId, "evidenceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.evidenceReviewRequest == nil {
		return localVarReturnValue, nil, reportError("evidenceReviewRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.evidenceReviewRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateDisputeEndpointRequest struct {
	ctx context.Context
	ApiService *DisputesAPIService
	disputeId string
	xAPIKey *string
	disputeUpdateRequest *DisputeUpdateRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiUpdateDisputeEndpointRequest) XAPIKey(xAPIKey string) ApiUpdateDisputeEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdateDisputeEndpointRequest) DisputeUpdateRequest(disputeUpdateRequest DisputeUpdateRequest) ApiUpdateDisputeEndpointRequest {
	r.disputeUpdateRequest = &disputeUpdateRequest
	return r
}

func (r ApiUpdateDisputeEndpointRequest) XTenantId(xTenantId string) ApiUpdateDisputeEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdateDisputeEndpointRequest) XOrgId(xOrgId string) ApiUpdateDisputeEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdateDisputeEndpointRequest) Execute() (*DisputeResponse, *http.Response, error) {
	return r.ApiService.UpdateDisputeEndpointExecute(r)
}

/*
UpdateDisputeEndpoint Update Dispute Endpoint

PATCH /disputes/{id} — Update dispute fields.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param disputeId
 @return ApiUpdateDisputeEndpointRequest
*/
func (a *DisputesAPIService) UpdateDisputeEndpoint(ctx context.Context, disputeId string) ApiUpdateDisputeEndpointRequest {
	return ApiUpdateDisputeEndpointRequest{
		ApiService: a,
		ctx: ctx,
		disputeId: disputeId,
	}
}

// Execute executes the request
//  @return DisputeResponse
func (a *DisputesAPIService) UpdateDisputeEndpointExecute(r ApiUpdateDisputeEndpointRequest) (*DisputeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DisputeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesAPIService.UpdateDisputeEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/disputes/{dispute_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dispute_id"+"}", url.PathEscape(parameterValueToString(r.disputeId, "disputeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.disputeUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("disputeUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.disputeUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
