/*
Moolabs API

Unified Moolabs SDK covering billing (CLS) and usage (Meter) operations. Both surfaces share one client and one auth flow.

API version: 0.0.0-rc7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// GrantsAPIService GrantsAPI service
type GrantsAPIService service

type ApiGetGrantRequest struct {
	ctx context.Context
	ApiService *GrantsAPIService
	grantId string
}

func (r ApiGetGrantRequest) Execute() (*GrantResponse, *http.Response, error) {
	return r.ApiService.GetGrantExecute(r)
}

/*
GetGrant Get Grant

Get grant details by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param grantId
 @return ApiGetGrantRequest
*/
func (a *GrantsAPIService) GetGrant(ctx context.Context, grantId string) ApiGetGrantRequest {
	return ApiGetGrantRequest{
		ApiService: a,
		ctx: ctx,
		grantId: grantId,
	}
}

// Execute executes the request
//  @return GrantResponse
func (a *GrantsAPIService) GetGrantExecute(r ApiGetGrantRequest) (*GrantResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GrantResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GrantsAPIService.GetGrant")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/grants/{grant_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"grant_id"+"}", url.PathEscape(parameterValueToString(r.grantId, "grantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListGrantsRequest struct {
	ctx context.Context
	ApiService *GrantsAPIService
	tenantId *string
	poolId *string
	walletId *string
	subjectId *string
	subscriptionId *string
	featureKey *string
	meterSlug *string
	asOf *time.Time
	effectiveAsOf *time.Time
	recordedAsOf *time.Time
	consistentView *bool
	limit *int32
	offset *int32
}

// Tenant identifier (optional if subject_id or subscription_id provided)
func (r ApiListGrantsRequest) TenantId(tenantId string) ApiListGrantsRequest {
	r.tenantId = &tenantId
	return r
}

// Pool identifier (optional if subject_id or subscription_id provided)
func (r ApiListGrantsRequest) PoolId(poolId string) ApiListGrantsRequest {
	r.poolId = &poolId
	return r
}

// Wallet identifier to filter by
func (r ApiListGrantsRequest) WalletId(walletId string) ApiListGrantsRequest {
	r.walletId = &walletId
	return r
}

// Subject identifier (for finding wallet, auto-resolves tenant_id/pool_id)
func (r ApiListGrantsRequest) SubjectId(subjectId string) ApiListGrantsRequest {
	r.subjectId = &subjectId
	return r
}

// Subscription identifier (filters grants by subscription, auto-resolves tenant_id/pool_id)
func (r ApiListGrantsRequest) SubscriptionId(subscriptionId string) ApiListGrantsRequest {
	r.subscriptionId = &subscriptionId
	return r
}

// Feature key for scope filtering
func (r ApiListGrantsRequest) FeatureKey(featureKey string) ApiListGrantsRequest {
	r.featureKey = &featureKey
	return r
}

// Meter slug for scope filtering
func (r ApiListGrantsRequest) MeterSlug(meterSlug string) ApiListGrantsRequest {
	r.meterSlug = &meterSlug
	return r
}

// As-of timestamp for time travel (legacy, use effective_as_of instead)
func (r ApiListGrantsRequest) AsOf(asOf time.Time) ApiListGrantsRequest {
	r.asOf = &asOf
	return r
}

// Effective as-of timestamp (business time) for time travel
func (r ApiListGrantsRequest) EffectiveAsOf(effectiveAsOf time.Time) ApiListGrantsRequest {
	r.effectiveAsOf = &effectiveAsOf
	return r
}

// Recorded as-of timestamp (system time) for time travel
func (r ApiListGrantsRequest) RecordedAsOf(recordedAsOf time.Time) ApiListGrantsRequest {
	r.recordedAsOf = &recordedAsOf
	return r
}

// Use strong consistency for reads
func (r ApiListGrantsRequest) ConsistentView(consistentView bool) ApiListGrantsRequest {
	r.consistentView = &consistentView
	return r
}

// Maximum number of grants to return
func (r ApiListGrantsRequest) Limit(limit int32) ApiListGrantsRequest {
	r.limit = &limit
	return r
}

// Offset for pagination
func (r ApiListGrantsRequest) Offset(offset int32) ApiListGrantsRequest {
	r.offset = &offset
	return r
}

func (r ApiListGrantsRequest) Execute() (*GrantsListResponse, *http.Response, error) {
	return r.ApiService.ListGrantsExecute(r)
}

/*
ListGrants List Grants

List grants.

Returns grants for a tenant/pool, optionally filtered by wallet_id, subject_id, subscription_id,
feature_key, meter_slug, or as_of timestamp.

If subject_id or subscription_id is provided but tenant_id/pool_id are not, they will be auto-resolved.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListGrantsRequest
*/
func (a *GrantsAPIService) ListGrants(ctx context.Context) ApiListGrantsRequest {
	return ApiListGrantsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GrantsListResponse
func (a *GrantsAPIService) ListGrantsExecute(r ApiListGrantsRequest) (*GrantsListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GrantsListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GrantsAPIService.ListGrants")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/grants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	if r.walletId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "form", "")
	}
	if r.subjectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject_id", r.subjectId, "form", "")
	}
	if r.subscriptionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subscription_id", r.subscriptionId, "form", "")
	}
	if r.featureKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "feature_key", r.featureKey, "form", "")
	}
	if r.meterSlug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meter_slug", r.meterSlug, "form", "")
	}
	if r.asOf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_of", r.asOf, "form", "")
	}
	if r.effectiveAsOf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effective_as_of", r.effectiveAsOf, "form", "")
	}
	if r.recordedAsOf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recorded_as_of", r.recordedAsOf, "form", "")
	}
	if r.consistentView != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "consistent_view", r.consistentView, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMintGrantRequest struct {
	ctx context.Context
	ApiService *GrantsAPIService
	createGrantRequest *CreateGrantRequest
}

func (r ApiMintGrantRequest) CreateGrantRequest(createGrantRequest CreateGrantRequest) ApiMintGrantRequest {
	r.createGrantRequest = &createGrantRequest
	return r
}

func (r ApiMintGrantRequest) Execute() (*GrantResponse, *http.Response, error) {
	return r.ApiService.MintGrantExecute(r)
}

/*
MintGrant Mint Grant

Mint a new credit grant.

Features:
- Idempotent minting (UNIQUE constraint on tenant_id, source_id, shard_index)
- Scope support (ALL, FEATURE_LIST, METER_LIST)
- Rollover configuration
- Cost basis (FX locking for paid grants)
- Sharding support (for large TOPUP grants)

Returns:
    Created or existing grant

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMintGrantRequest
*/
func (a *GrantsAPIService) MintGrant(ctx context.Context) ApiMintGrantRequest {
	return ApiMintGrantRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GrantResponse
func (a *GrantsAPIService) MintGrantExecute(r ApiMintGrantRequest) (*GrantResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GrantResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GrantsAPIService.MintGrant")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/grants/mint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createGrantRequest == nil {
		return localVarReturnValue, nil, reportError("createGrantRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createGrantRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVoidGrantRequest struct {
	ctx context.Context
	ApiService *GrantsAPIService
	grantId string
	voidGrantRequest *VoidGrantRequest
}

func (r ApiVoidGrantRequest) VoidGrantRequest(voidGrantRequest VoidGrantRequest) ApiVoidGrantRequest {
	r.voidGrantRequest = &voidGrantRequest
	return r
}

func (r ApiVoidGrantRequest) Execute() (*GrantResponse, *http.Response, error) {
	return r.ApiService.VoidGrantExecute(r)
}

/*
VoidGrant Void Grant

Void a grant.

This marks the grant as voided, making the remaining credits unavailable.
The grant cannot be un-voided.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param grantId
 @return ApiVoidGrantRequest
*/
func (a *GrantsAPIService) VoidGrant(ctx context.Context, grantId string) ApiVoidGrantRequest {
	return ApiVoidGrantRequest{
		ApiService: a,
		ctx: ctx,
		grantId: grantId,
	}
}

// Execute executes the request
//  @return GrantResponse
func (a *GrantsAPIService) VoidGrantExecute(r ApiVoidGrantRequest) (*GrantResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GrantResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GrantsAPIService.VoidGrant")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/grants/{grant_id}/void"
	localVarPath = strings.Replace(localVarPath, "{"+"grant_id"+"}", url.PathEscape(parameterValueToString(r.grantId, "grantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.voidGrantRequest == nil {
		return localVarReturnValue, nil, reportError("voidGrantRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.voidGrantRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
