/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// OutboxAPIService OutboxAPI service
type OutboxAPIService service

type ApiListOutboxEventsEndpointRequest struct {
	ctx context.Context
	ApiService *OutboxAPIService
	tenantId *string
	eventType *string
	status *string
	limit *int32
}

// Filter by tenant ID
func (r ApiListOutboxEventsEndpointRequest) TenantId(tenantId string) ApiListOutboxEventsEndpointRequest {
	r.tenantId = &tenantId
	return r
}

// Filter by event type
func (r ApiListOutboxEventsEndpointRequest) EventType(eventType string) ApiListOutboxEventsEndpointRequest {
	r.eventType = &eventType
	return r
}

// Filter by status: pending, delivered, failed
func (r ApiListOutboxEventsEndpointRequest) Status(status string) ApiListOutboxEventsEndpointRequest {
	r.status = &status
	return r
}

// Maximum events to return
func (r ApiListOutboxEventsEndpointRequest) Limit(limit int32) ApiListOutboxEventsEndpointRequest {
	r.limit = &limit
	return r
}

func (r ApiListOutboxEventsEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListOutboxEventsEndpointExecute(r)
}

/*
ListOutboxEventsEndpoint List Outbox Events Endpoint

List outbox events.

Returns a list of events in the outbox, optionally filtered by
tenant, event type, or status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListOutboxEventsEndpointRequest
*/
func (a *OutboxAPIService) ListOutboxEventsEndpoint(ctx context.Context) ApiListOutboxEventsEndpointRequest {
	return ApiListOutboxEventsEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OutboxAPIService) ListOutboxEventsEndpointExecute(r ApiListOutboxEventsEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutboxAPIService.ListOutboxEventsEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/outbox/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_type", r.eventType, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessOutboxEndpointRequest struct {
	ctx context.Context
	ApiService *OutboxAPIService
	tenantId *string
	batchSize *int32
	maxAttempts *int32
}

// Optional tenant filter
func (r ApiProcessOutboxEndpointRequest) TenantId(tenantId string) ApiProcessOutboxEndpointRequest {
	r.tenantId = &tenantId
	return r
}

// Maximum events to process
func (r ApiProcessOutboxEndpointRequest) BatchSize(batchSize int32) ApiProcessOutboxEndpointRequest {
	r.batchSize = &batchSize
	return r
}

// Maximum retry attempts
func (r ApiProcessOutboxEndpointRequest) MaxAttempts(maxAttempts int32) ApiProcessOutboxEndpointRequest {
	r.maxAttempts = &maxAttempts
	return r
}

func (r ApiProcessOutboxEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ProcessOutboxEndpointExecute(r)
}

/*
ProcessOutboxEndpoint Process Outbox Endpoint

Process outbox events that are ready for delivery.

This endpoint should be called periodically (e.g., by a worker) to
deliver notifications and webhooks from the outbox.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessOutboxEndpointRequest
*/
func (a *OutboxAPIService) ProcessOutboxEndpoint(ctx context.Context) ApiProcessOutboxEndpointRequest {
	return ApiProcessOutboxEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OutboxAPIService) ProcessOutboxEndpointExecute(r ApiProcessOutboxEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutboxAPIService.ProcessOutboxEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/outbox/process"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.batchSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "batch_size", r.batchSize, "form", "")
	} else {
		var defaultValue int32 = 100
		r.batchSize = &defaultValue
	}
	if r.maxAttempts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_attempts", r.maxAttempts, "form", "")
	} else {
		var defaultValue int32 = 10
		r.maxAttempts = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
