/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AccountTeamAPIService AccountTeamAPI service
type AccountTeamAPIService service

type ApiCreateAccountTeamMemberRequest struct {
	ctx context.Context
	ApiService *AccountTeamAPIService
	accountId string
	accountTeamMemberIn *AccountTeamMemberIn
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
	xUserId *string
}

func (r ApiCreateAccountTeamMemberRequest) AccountTeamMemberIn(accountTeamMemberIn AccountTeamMemberIn) ApiCreateAccountTeamMemberRequest {
	r.accountTeamMemberIn = &accountTeamMemberIn
	return r
}

func (r ApiCreateAccountTeamMemberRequest) XAPIKey(xAPIKey string) ApiCreateAccountTeamMemberRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiCreateAccountTeamMemberRequest) XTenantId(xTenantId string) ApiCreateAccountTeamMemberRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiCreateAccountTeamMemberRequest) XOrgId(xOrgId string) ApiCreateAccountTeamMemberRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiCreateAccountTeamMemberRequest) Authorization(authorization string) ApiCreateAccountTeamMemberRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateAccountTeamMemberRequest) XUserId(xUserId string) ApiCreateAccountTeamMemberRequest {
	r.xUserId = &xUserId
	return r
}

func (r ApiCreateAccountTeamMemberRequest) Execute() (*AccountTeamMemberOut, *http.Response, error) {
	return r.ApiService.CreateAccountTeamMemberExecute(r)
}

/*
CreateAccountTeamMember Create Account Team Member

Add an internal stakeholder to the account's team.

The ``user_id`` column is populated from the authenticated
request context, never from the body (Issue C3).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiCreateAccountTeamMemberRequest
*/
func (a *AccountTeamAPIService) CreateAccountTeamMember(ctx context.Context, accountId string) ApiCreateAccountTeamMemberRequest {
	return ApiCreateAccountTeamMemberRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return AccountTeamMemberOut
func (a *AccountTeamAPIService) CreateAccountTeamMemberExecute(r ApiCreateAccountTeamMemberRequest) (*AccountTeamMemberOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountTeamMemberOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountTeamAPIService.CreateAccountTeamMember")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/accounts/{account_id}/team"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountTeamMemberIn == nil {
		return localVarReturnValue, nil, reportError("accountTeamMemberIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.xUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-User-Id", r.xUserId, "simple", "")
	}
	// body params
	localVarPostBody = r.accountTeamMemberIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAccountTeamMemberRequest struct {
	ctx context.Context
	ApiService *AccountTeamAPIService
	accountId string
	memberId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiDeleteAccountTeamMemberRequest) XAPIKey(xAPIKey string) ApiDeleteAccountTeamMemberRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiDeleteAccountTeamMemberRequest) XTenantId(xTenantId string) ApiDeleteAccountTeamMemberRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiDeleteAccountTeamMemberRequest) XOrgId(xOrgId string) ApiDeleteAccountTeamMemberRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiDeleteAccountTeamMemberRequest) Authorization(authorization string) ApiDeleteAccountTeamMemberRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteAccountTeamMemberRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAccountTeamMemberExecute(r)
}

/*
DeleteAccountTeamMember Delete Account Team Member

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @param memberId
 @return ApiDeleteAccountTeamMemberRequest
*/
func (a *AccountTeamAPIService) DeleteAccountTeamMember(ctx context.Context, accountId string, memberId string) ApiDeleteAccountTeamMemberRequest {
	return ApiDeleteAccountTeamMemberRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		memberId: memberId,
	}
}

// Execute executes the request
func (a *AccountTeamAPIService) DeleteAccountTeamMemberExecute(r ApiDeleteAccountTeamMemberRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountTeamAPIService.DeleteAccountTeamMember")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/accounts/{account_id}/team/{member_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"member_id"+"}", url.PathEscape(parameterValueToString(r.memberId, "memberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListAccountTeamRequest struct {
	ctx context.Context
	ApiService *AccountTeamAPIService
	accountId string
	notifyOnly *bool
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiListAccountTeamRequest) NotifyOnly(notifyOnly bool) ApiListAccountTeamRequest {
	r.notifyOnly = &notifyOnly
	return r
}

func (r ApiListAccountTeamRequest) XAPIKey(xAPIKey string) ApiListAccountTeamRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListAccountTeamRequest) XTenantId(xTenantId string) ApiListAccountTeamRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListAccountTeamRequest) XOrgId(xOrgId string) ApiListAccountTeamRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListAccountTeamRequest) Authorization(authorization string) ApiListAccountTeamRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListAccountTeamRequest) Execute() ([]AccountTeamMemberOut, *http.Response, error) {
	return r.ApiService.ListAccountTeamExecute(r)
}

/*
ListAccountTeam List Account Team

List internal team members for an account.

``notify_only=true`` returns only members with
``notify_on_escalation=true`` — used by the escalation agent
when assembling a tier-N notification list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiListAccountTeamRequest
*/
func (a *AccountTeamAPIService) ListAccountTeam(ctx context.Context, accountId string) ApiListAccountTeamRequest {
	return ApiListAccountTeamRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return []AccountTeamMemberOut
func (a *AccountTeamAPIService) ListAccountTeamExecute(r ApiListAccountTeamRequest) ([]AccountTeamMemberOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AccountTeamMemberOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountTeamAPIService.ListAccountTeam")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/accounts/{account_id}/team"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.notifyOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notify_only", r.notifyOnly, "form", "")
	} else {
		var defaultValue bool = false
		r.notifyOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAccountTeamMemberRequest struct {
	ctx context.Context
	ApiService *AccountTeamAPIService
	accountId string
	memberId string
	accountTeamMemberPatch *AccountTeamMemberPatch
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiUpdateAccountTeamMemberRequest) AccountTeamMemberPatch(accountTeamMemberPatch AccountTeamMemberPatch) ApiUpdateAccountTeamMemberRequest {
	r.accountTeamMemberPatch = &accountTeamMemberPatch
	return r
}

func (r ApiUpdateAccountTeamMemberRequest) XAPIKey(xAPIKey string) ApiUpdateAccountTeamMemberRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdateAccountTeamMemberRequest) XTenantId(xTenantId string) ApiUpdateAccountTeamMemberRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdateAccountTeamMemberRequest) XOrgId(xOrgId string) ApiUpdateAccountTeamMemberRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdateAccountTeamMemberRequest) Authorization(authorization string) ApiUpdateAccountTeamMemberRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateAccountTeamMemberRequest) Execute() (*AccountTeamMemberOut, *http.Response, error) {
	return r.ApiService.UpdateAccountTeamMemberExecute(r)
}

/*
UpdateAccountTeamMember Update Account Team Member

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @param memberId
 @return ApiUpdateAccountTeamMemberRequest
*/
func (a *AccountTeamAPIService) UpdateAccountTeamMember(ctx context.Context, accountId string, memberId string) ApiUpdateAccountTeamMemberRequest {
	return ApiUpdateAccountTeamMemberRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		memberId: memberId,
	}
}

// Execute executes the request
//  @return AccountTeamMemberOut
func (a *AccountTeamAPIService) UpdateAccountTeamMemberExecute(r ApiUpdateAccountTeamMemberRequest) (*AccountTeamMemberOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountTeamMemberOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountTeamAPIService.UpdateAccountTeamMember")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/accounts/{account_id}/team/{member_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"member_id"+"}", url.PathEscape(parameterValueToString(r.memberId, "memberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountTeamMemberPatch == nil {
		return localVarReturnValue, nil, reportError("accountTeamMemberPatch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.accountTeamMemberPatch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
