/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TopupAPIService TopupAPI service
type TopupAPIService service

type ApiCreatePaymentLinkV1Request struct {
	ctx context.Context
	ApiService *TopupAPIService
	paymentLinkRequest *PaymentLinkRequest
}

func (r ApiCreatePaymentLinkV1Request) PaymentLinkRequest(paymentLinkRequest PaymentLinkRequest) ApiCreatePaymentLinkV1Request {
	r.paymentLinkRequest = &paymentLinkRequest
	return r
}

func (r ApiCreatePaymentLinkV1Request) Execute() (*PaymentLinkResponse, *http.Response, error) {
	return r.ApiService.CreatePaymentLinkV1Execute(r)
}

/*
CreatePaymentLinkV1 Create Payment Link

Create a hosted checkout link for ARC invoice/PTP card payments.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePaymentLinkV1Request
*/
func (a *TopupAPIService) CreatePaymentLinkV1(ctx context.Context) ApiCreatePaymentLinkV1Request {
	return ApiCreatePaymentLinkV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaymentLinkResponse
func (a *TopupAPIService) CreatePaymentLinkV1Execute(r ApiCreatePaymentLinkV1Request) (*PaymentLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaymentLinkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopupAPIService.CreatePaymentLinkV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/topup/payment-link"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.paymentLinkRequest == nil {
		return localVarReturnValue, nil, reportError("paymentLinkRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.paymentLinkRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTopupCheckoutRequest struct {
	ctx context.Context
	ApiService *TopupAPIService
	walletId *string
	tenantId *string
	poolId *string
	amountUsd *float32
}

// Wallet to top up
func (r ApiTopupCheckoutRequest) WalletId(walletId string) ApiTopupCheckoutRequest {
	r.walletId = &walletId
	return r
}

// Tenant ID (optional; looked up from wallet if omitted)
func (r ApiTopupCheckoutRequest) TenantId(tenantId string) ApiTopupCheckoutRequest {
	r.tenantId = &tenantId
	return r
}

// Pool ID (optional; looked up from wallet if omitted)
func (r ApiTopupCheckoutRequest) PoolId(poolId string) ApiTopupCheckoutRequest {
	r.poolId = &poolId
	return r
}

// Amount in USD
func (r ApiTopupCheckoutRequest) AmountUsd(amountUsd float32) ApiTopupCheckoutRequest {
	r.amountUsd = &amountUsd
	return r
}

func (r ApiTopupCheckoutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TopupCheckoutExecute(r)
}

/*
TopupCheckout Topup Checkout

Redirect to Stripe Checkout for wallet top-up.

Used by the "Top up this wallet" link in alert emails. Accepts only wallet_id
and amount_usd so we do not expose tenant_id/pool_id to customers; looks up
tenant and pool from the wallet when not provided.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTopupCheckoutRequest
*/
func (a *TopupAPIService) TopupCheckout(ctx context.Context) ApiTopupCheckoutRequest {
	return ApiTopupCheckoutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *TopupAPIService) TopupCheckoutExecute(r ApiTopupCheckoutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopupAPIService.TopupCheckout")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/topup/checkout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.walletId == nil {
		return localVarReturnValue, nil, reportError("walletId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "form", "")
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	if r.amountUsd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amount_usd", r.amountUsd, "form", "")
	} else {
		var defaultValue float32 = 50.0
		r.amountUsd = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
