/*
Moolabs API

Unified Moolabs SDK covering billing (CLS) and usage (Meter) operations. Both surfaces share one client and one auth flow.

API version: 0.1.0-rc1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// IntegrationsAPIService IntegrationsAPI service
type IntegrationsAPIService service

type ApiOpenmeterWebhookRequest struct {
	ctx context.Context
	ApiService *IntegrationsAPIService
	tenantId *string
	poolId *string
}

func (r ApiOpenmeterWebhookRequest) TenantId(tenantId string) ApiOpenmeterWebhookRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiOpenmeterWebhookRequest) PoolId(poolId string) ApiOpenmeterWebhookRequest {
	r.poolId = &poolId
	return r
}

func (r ApiOpenmeterWebhookRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.OpenmeterWebhookExecute(r)
}

/*
OpenmeterWebhook Openmeter Webhook

Handle OpenMeter webhook CloudEvent.

This endpoint receives CloudEvents from OpenMeter and normalizes them
into CLS usage events.

**CloudEvent Format:**
OpenMeter sends CloudEvents in CloudEvents v1.0 format:
```json
{
  "specversion": "1.0",
  "type": "usage",
  "id": "event-id-123",
  "time": "2026-01-13T21:00:00Z",
  "source": "https://api.openmeter.io/v1/meters/meter-slug",
  "subject": "customer-id-123",
  "data": {
    "value": 100,
    "meter": "meter-slug",
    ...
  }
}
```

Or wrapped format (API v2):
```json
{
  "event": {
    "specversion": "1.0",
    "type": "usage",
    ...
  },
  "ingestedAt": "...",
  "storedAt": "..."
}
```

**Request Headers:**
- `X-OpenMeter-Signature` (optional): Webhook signature for verification

**Query Parameters:**
- `tenant_id` (required): Tenant identifier
- `pool_id` (required): Credit pool identifier

**Response:**
- 201: Event processed successfully
- 400: Invalid event format or missing required fields
- 500: Processing error

**Idempotency:**
- Uses CloudEvent `id` field as idempotency key
- Duplicate events are safely ignored (UNIQUE constraint)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOpenmeterWebhookRequest
*/
func (a *IntegrationsAPIService) OpenmeterWebhook(ctx context.Context) ApiOpenmeterWebhookRequest {
	return ApiOpenmeterWebhookRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IntegrationsAPIService) OpenmeterWebhookExecute(r ApiOpenmeterWebhookRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationsAPIService.OpenmeterWebhook")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/openmeter/webhooks/openmeter"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOpenmeterWebhookBatchRequest struct {
	ctx context.Context
	ApiService *IntegrationsAPIService
	tenantId *string
	poolId *string
}

func (r ApiOpenmeterWebhookBatchRequest) TenantId(tenantId string) ApiOpenmeterWebhookBatchRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiOpenmeterWebhookBatchRequest) PoolId(poolId string) ApiOpenmeterWebhookBatchRequest {
	r.poolId = &poolId
	return r
}

func (r ApiOpenmeterWebhookBatchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.OpenmeterWebhookBatchExecute(r)
}

/*
OpenmeterWebhookBatch Openmeter Webhook Batch

Handle batch of OpenMeter webhook CloudEvents.

Processes multiple CloudEvents in a single request.
Each event is processed independently (idempotent).

**Request Body:**
```json
{
  "events": [
    { "specversion": "1.0", "type": "usage", ... },
    { "specversion": "1.0", "type": "usage", ... }
  ]
}
```

**Response:**
- 201: All events processed (some may have failed individually)
- Results include per-event status

**Query Parameters:**
- `tenant_id` (required): Tenant identifier
- `pool_id` (required): Credit pool identifier

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOpenmeterWebhookBatchRequest
*/
func (a *IntegrationsAPIService) OpenmeterWebhookBatch(ctx context.Context) ApiOpenmeterWebhookBatchRequest {
	return ApiOpenmeterWebhookBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IntegrationsAPIService) OpenmeterWebhookBatchExecute(r ApiOpenmeterWebhookBatchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationsAPIService.OpenmeterWebhookBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/openmeter/webhooks/openmeter/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.poolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_id", r.poolId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
