/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ArcAdminAPIService ArcAdminAPI service
type ArcAdminAPIService service

type ApiBackfillMalformedDisputesV1ArcAdminRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	backfillMalformedDisputesRequest *BackfillMalformedDisputesRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiBackfillMalformedDisputesV1ArcAdminRequest) XAPIKey(xAPIKey string) ApiBackfillMalformedDisputesV1ArcAdminRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiBackfillMalformedDisputesV1ArcAdminRequest) BackfillMalformedDisputesRequest(backfillMalformedDisputesRequest BackfillMalformedDisputesRequest) ApiBackfillMalformedDisputesV1ArcAdminRequest {
	r.backfillMalformedDisputesRequest = &backfillMalformedDisputesRequest
	return r
}

func (r ApiBackfillMalformedDisputesV1ArcAdminRequest) XTenantId(xTenantId string) ApiBackfillMalformedDisputesV1ArcAdminRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiBackfillMalformedDisputesV1ArcAdminRequest) XOrgId(xOrgId string) ApiBackfillMalformedDisputesV1ArcAdminRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiBackfillMalformedDisputesV1ArcAdminRequest) Execute() (*BackfillMalformedDisputesResponse, *http.Response, error) {
	return r.ApiService.BackfillMalformedDisputesV1ArcAdminExecute(r)
}

/*
BackfillMalformedDisputesV1ArcAdmin Repair AI-classified disputes the pre-T4 router mis-routed

Find AI-classified disputes that landed on $0 amount or fully-paid
invoices, soft-resolve them, and re-feed the source comm into the
(now-fixed) router so it produces a PROPOSED dispute + operator
approval task.

Tenant scope: strictly the tenant resolved by ``get_tenant_id``
from the X-API-Key header.  Operators running cleanup across
multiple tenants must rotate keys; the body cannot override the
auth-gated tenant.  (An earlier draft accepted ``body.tenant_id``,
which let any tenant-scoped key write against another tenant.)

Defensive on real-run rerouting: if the rerun raises (LLM
unavailable, anchor resolution exception, etc.) the soft-mark on
the broken dispute STAYS — the operator can reclassify the source
comm manually via ``POST /admin/communications/{id}/reclassify``.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBackfillMalformedDisputesV1ArcAdminRequest
*/
func (a *ArcAdminAPIService) BackfillMalformedDisputesV1ArcAdmin(ctx context.Context) ApiBackfillMalformedDisputesV1ArcAdminRequest {
	return ApiBackfillMalformedDisputesV1ArcAdminRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BackfillMalformedDisputesResponse
func (a *ArcAdminAPIService) BackfillMalformedDisputesV1ArcAdminExecute(r ApiBackfillMalformedDisputesV1ArcAdminRequest) (*BackfillMalformedDisputesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BackfillMalformedDisputesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.BackfillMalformedDisputesV1ArcAdmin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/inbound-routing/backfill-malformed-disputes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.backfillMalformedDisputesRequest == nil {
		return localVarReturnValue, nil, reportError("backfillMalformedDisputesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.backfillMalformedDisputesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkReplayEndpointV1ArcRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	bulkReplayRequest *BulkReplayRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiBulkReplayEndpointV1ArcRequest) XAPIKey(xAPIKey string) ApiBulkReplayEndpointV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiBulkReplayEndpointV1ArcRequest) BulkReplayRequest(bulkReplayRequest BulkReplayRequest) ApiBulkReplayEndpointV1ArcRequest {
	r.bulkReplayRequest = &bulkReplayRequest
	return r
}

func (r ApiBulkReplayEndpointV1ArcRequest) XTenantId(xTenantId string) ApiBulkReplayEndpointV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiBulkReplayEndpointV1ArcRequest) XOrgId(xOrgId string) ApiBulkReplayEndpointV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiBulkReplayEndpointV1ArcRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BulkReplayEndpointV1ArcExecute(r)
}

/*
BulkReplayEndpointV1Arc Bulk Replay Endpoint

POST /admin/dead-letters/bulk-replay — Replay multiple dead-lettered events.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBulkReplayEndpointV1ArcRequest
*/
func (a *ArcAdminAPIService) BulkReplayEndpointV1Arc(ctx context.Context) ApiBulkReplayEndpointV1ArcRequest {
	return ApiBulkReplayEndpointV1ArcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) BulkReplayEndpointV1ArcExecute(r ApiBulkReplayEndpointV1ArcRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.BulkReplayEndpointV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/dead-letters/bulk-replay"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.bulkReplayRequest == nil {
		return localVarReturnValue, nil, reportError("bulkReplayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.bulkReplayRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAgentRunStatusV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	runId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetAgentRunStatusV1Request) XAPIKey(xAPIKey string) ApiGetAgentRunStatusV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetAgentRunStatusV1Request) XTenantId(xTenantId string) ApiGetAgentRunStatusV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetAgentRunStatusV1Request) XOrgId(xOrgId string) ApiGetAgentRunStatusV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetAgentRunStatusV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetAgentRunStatusV1Execute(r)
}

/*
GetAgentRunStatusV1 Get agent run status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param runId
 @return ApiGetAgentRunStatusV1Request
*/
func (a *ArcAdminAPIService) GetAgentRunStatusV1(ctx context.Context, runId string) ApiGetAgentRunStatusV1Request {
	return ApiGetAgentRunStatusV1Request{
		ApiService: a,
		ctx: ctx,
		runId: runId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) GetAgentRunStatusV1Execute(r ApiGetAgentRunStatusV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.GetAgentRunStatusV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/agent-runs/{run_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"run_id"+"}", url.PathEscape(parameterValueToString(r.runId, "runId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeadLettersV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	page *int32
	pageSize *int32
	source *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetDeadLettersV1Request) XAPIKey(xAPIKey string) ApiGetDeadLettersV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetDeadLettersV1Request) Page(page int32) ApiGetDeadLettersV1Request {
	r.page = &page
	return r
}

func (r ApiGetDeadLettersV1Request) PageSize(pageSize int32) ApiGetDeadLettersV1Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetDeadLettersV1Request) Source(source string) ApiGetDeadLettersV1Request {
	r.source = &source
	return r
}

func (r ApiGetDeadLettersV1Request) XTenantId(xTenantId string) ApiGetDeadLettersV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetDeadLettersV1Request) XOrgId(xOrgId string) ApiGetDeadLettersV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetDeadLettersV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetDeadLettersV1Execute(r)
}

/*
GetDeadLettersV1 Get Dead Letters

GET /admin/dead-letters — List dead-lettered events.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetDeadLettersV1Request
*/
func (a *ArcAdminAPIService) GetDeadLettersV1(ctx context.Context) ApiGetDeadLettersV1Request {
	return ApiGetDeadLettersV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) GetDeadLettersV1Execute(r ApiGetDeadLettersV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.GetDeadLettersV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/dead-letters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEmailConfigV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetEmailConfigV1Request) XAPIKey(xAPIKey string) ApiGetEmailConfigV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetEmailConfigV1Request) XTenantId(xTenantId string) ApiGetEmailConfigV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetEmailConfigV1Request) XOrgId(xOrgId string) ApiGetEmailConfigV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetEmailConfigV1Request) Execute() (*EmailConfigOut, *http.Response, error) {
	return r.ApiService.GetEmailConfigV1Execute(r)
}

/*
GetEmailConfigV1 Get Email Config

Return the tenant's BYO sender-domain config (or an empty row).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetEmailConfigV1Request
*/
func (a *ArcAdminAPIService) GetEmailConfigV1(ctx context.Context) ApiGetEmailConfigV1Request {
	return ApiGetEmailConfigV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmailConfigOut
func (a *ArcAdminAPIService) GetEmailConfigV1Execute(r ApiGetEmailConfigV1Request) (*EmailConfigOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailConfigOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.GetEmailConfigV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/email-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOutboundFailuresV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	page *int32
	pageSize *int32
	xTenantId *string
	xOrgId *string
}

func (r ApiGetOutboundFailuresV1Request) XAPIKey(xAPIKey string) ApiGetOutboundFailuresV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetOutboundFailuresV1Request) Page(page int32) ApiGetOutboundFailuresV1Request {
	r.page = &page
	return r
}

func (r ApiGetOutboundFailuresV1Request) PageSize(pageSize int32) ApiGetOutboundFailuresV1Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetOutboundFailuresV1Request) XTenantId(xTenantId string) ApiGetOutboundFailuresV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetOutboundFailuresV1Request) XOrgId(xOrgId string) ApiGetOutboundFailuresV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetOutboundFailuresV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetOutboundFailuresV1Execute(r)
}

/*
GetOutboundFailuresV1 Get Outbound Failures

GET /admin/outbound-failures — List failed outbound events.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOutboundFailuresV1Request
*/
func (a *ArcAdminAPIService) GetOutboundFailuresV1(ctx context.Context) ApiGetOutboundFailuresV1Request {
	return ApiGetOutboundFailuresV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) GetOutboundFailuresV1Execute(r ApiGetOutboundFailuresV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.GetOutboundFailuresV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/outbound-failures"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPotentialDuplicatesV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetPotentialDuplicatesV1Request) XAPIKey(xAPIKey string) ApiGetPotentialDuplicatesV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetPotentialDuplicatesV1Request) XTenantId(xTenantId string) ApiGetPotentialDuplicatesV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetPotentialDuplicatesV1Request) XOrgId(xOrgId string) ApiGetPotentialDuplicatesV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetPotentialDuplicatesV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetPotentialDuplicatesV1Execute(r)
}

/*
GetPotentialDuplicatesV1 Get Potential Duplicates

GET /admin/potential-duplicates — Detect duplicate remittances.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPotentialDuplicatesV1Request
*/
func (a *ArcAdminAPIService) GetPotentialDuplicatesV1(ctx context.Context) ApiGetPotentialDuplicatesV1Request {
	return ApiGetPotentialDuplicatesV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) GetPotentialDuplicatesV1Execute(r ApiGetPotentialDuplicatesV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.GetPotentialDuplicatesV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/potential-duplicates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTenantEscalationConfigV1ArcRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiGetTenantEscalationConfigV1ArcRequest) XAPIKey(xAPIKey string) ApiGetTenantEscalationConfigV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetTenantEscalationConfigV1ArcRequest) XTenantId(xTenantId string) ApiGetTenantEscalationConfigV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetTenantEscalationConfigV1ArcRequest) XOrgId(xOrgId string) ApiGetTenantEscalationConfigV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetTenantEscalationConfigV1ArcRequest) Execute() (*TenantEscalationConfigOut, *http.Response, error) {
	return r.ApiService.GetTenantEscalationConfigV1ArcExecute(r)
}

/*
GetTenantEscalationConfigV1Arc Get Tenant Escalation Config

Return the effective escalation config for the current tenant.

Always returns a 200; absence of an override row ⇒ defaults apply.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTenantEscalationConfigV1ArcRequest
*/
func (a *ArcAdminAPIService) GetTenantEscalationConfigV1Arc(ctx context.Context) ApiGetTenantEscalationConfigV1ArcRequest {
	return ApiGetTenantEscalationConfigV1ArcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TenantEscalationConfigOut
func (a *ArcAdminAPIService) GetTenantEscalationConfigV1ArcExecute(r ApiGetTenantEscalationConfigV1ArcRequest) (*TenantEscalationConfigOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TenantEscalationConfigOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.GetTenantEscalationConfigV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/tenant-escalation-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImportDisputesEndpointRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	importDisputesRequest *ImportDisputesRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiImportDisputesEndpointRequest) XAPIKey(xAPIKey string) ApiImportDisputesEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiImportDisputesEndpointRequest) ImportDisputesRequest(importDisputesRequest ImportDisputesRequest) ApiImportDisputesEndpointRequest {
	r.importDisputesRequest = &importDisputesRequest
	return r
}

func (r ApiImportDisputesEndpointRequest) XTenantId(xTenantId string) ApiImportDisputesEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiImportDisputesEndpointRequest) XOrgId(xOrgId string) ApiImportDisputesEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiImportDisputesEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImportDisputesEndpointExecute(r)
}

/*
ImportDisputesEndpoint Import Disputes Endpoint

POST /admin/import/disputes — Bulk create disputes for data migration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImportDisputesEndpointRequest
*/
func (a *ArcAdminAPIService) ImportDisputesEndpoint(ctx context.Context) ApiImportDisputesEndpointRequest {
	return ApiImportDisputesEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) ImportDisputesEndpointExecute(r ApiImportDisputesEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.ImportDisputesEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/import/disputes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.importDisputesRequest == nil {
		return localVarReturnValue, nil, reportError("importDisputesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.importDisputesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImportInvoicesEndpointRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	importInvoicesRequest *ImportInvoicesRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiImportInvoicesEndpointRequest) XAPIKey(xAPIKey string) ApiImportInvoicesEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiImportInvoicesEndpointRequest) ImportInvoicesRequest(importInvoicesRequest ImportInvoicesRequest) ApiImportInvoicesEndpointRequest {
	r.importInvoicesRequest = &importInvoicesRequest
	return r
}

func (r ApiImportInvoicesEndpointRequest) XTenantId(xTenantId string) ApiImportInvoicesEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiImportInvoicesEndpointRequest) XOrgId(xOrgId string) ApiImportInvoicesEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiImportInvoicesEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImportInvoicesEndpointExecute(r)
}

/*
ImportInvoicesEndpoint Import Invoices Endpoint

POST /admin/import/invoices — Bulk upsert invoices for data migration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImportInvoicesEndpointRequest
*/
func (a *ArcAdminAPIService) ImportInvoicesEndpoint(ctx context.Context) ApiImportInvoicesEndpointRequest {
	return ApiImportInvoicesEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) ImportInvoicesEndpointExecute(r ApiImportInvoicesEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.ImportInvoicesEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/import/invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.importInvoicesRequest == nil {
		return localVarReturnValue, nil, reportError("importInvoicesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.importInvoicesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImportPromisesEndpointRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	importPromisesRequest *ImportPromisesRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiImportPromisesEndpointRequest) XAPIKey(xAPIKey string) ApiImportPromisesEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiImportPromisesEndpointRequest) ImportPromisesRequest(importPromisesRequest ImportPromisesRequest) ApiImportPromisesEndpointRequest {
	r.importPromisesRequest = &importPromisesRequest
	return r
}

func (r ApiImportPromisesEndpointRequest) XTenantId(xTenantId string) ApiImportPromisesEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiImportPromisesEndpointRequest) XOrgId(xOrgId string) ApiImportPromisesEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiImportPromisesEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImportPromisesEndpointExecute(r)
}

/*
ImportPromisesEndpoint Import Promises Endpoint

POST /admin/import/promises — Bulk upsert PTPs for data migration.

Upsert key is ``(tenant_id, external_ptp_id)``.  Recomputes
``case.next_promise_due_at`` for every touched case.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImportPromisesEndpointRequest
*/
func (a *ArcAdminAPIService) ImportPromisesEndpoint(ctx context.Context) ApiImportPromisesEndpointRequest {
	return ApiImportPromisesEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) ImportPromisesEndpointExecute(r ApiImportPromisesEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.ImportPromisesEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/import/promises"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.importPromisesRequest == nil {
		return localVarReturnValue, nil, reportError("importPromisesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.importPromisesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMergeRemittancesEndpointRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	mergeRemittancesRequest *MergeRemittancesRequest
	xTenantId *string
	xOrgId *string
}

func (r ApiMergeRemittancesEndpointRequest) XAPIKey(xAPIKey string) ApiMergeRemittancesEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiMergeRemittancesEndpointRequest) MergeRemittancesRequest(mergeRemittancesRequest MergeRemittancesRequest) ApiMergeRemittancesEndpointRequest {
	r.mergeRemittancesRequest = &mergeRemittancesRequest
	return r
}

func (r ApiMergeRemittancesEndpointRequest) XTenantId(xTenantId string) ApiMergeRemittancesEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiMergeRemittancesEndpointRequest) XOrgId(xOrgId string) ApiMergeRemittancesEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiMergeRemittancesEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MergeRemittancesEndpointExecute(r)
}

/*
MergeRemittancesEndpoint Merge Remittances Endpoint

POST /admin/remittances/merge — Merge duplicate remittances.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMergeRemittancesEndpointRequest
*/
func (a *ArcAdminAPIService) MergeRemittancesEndpoint(ctx context.Context) ApiMergeRemittancesEndpointRequest {
	return ApiMergeRemittancesEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) MergeRemittancesEndpointExecute(r ApiMergeRemittancesEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.MergeRemittancesEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/remittances/merge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.mergeRemittancesRequest == nil {
		return localVarReturnValue, nil, reportError("mergeRemittancesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.mergeRemittancesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchTenantEscalationConfigV1ArcRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	tenantEscalationConfigPatch *TenantEscalationConfigPatch
	xTenantId *string
	xOrgId *string
	xUserId *string
}

func (r ApiPatchTenantEscalationConfigV1ArcRequest) XAPIKey(xAPIKey string) ApiPatchTenantEscalationConfigV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiPatchTenantEscalationConfigV1ArcRequest) TenantEscalationConfigPatch(tenantEscalationConfigPatch TenantEscalationConfigPatch) ApiPatchTenantEscalationConfigV1ArcRequest {
	r.tenantEscalationConfigPatch = &tenantEscalationConfigPatch
	return r
}

func (r ApiPatchTenantEscalationConfigV1ArcRequest) XTenantId(xTenantId string) ApiPatchTenantEscalationConfigV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiPatchTenantEscalationConfigV1ArcRequest) XOrgId(xOrgId string) ApiPatchTenantEscalationConfigV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiPatchTenantEscalationConfigV1ArcRequest) XUserId(xUserId string) ApiPatchTenantEscalationConfigV1ArcRequest {
	r.xUserId = &xUserId
	return r
}

func (r ApiPatchTenantEscalationConfigV1ArcRequest) Execute() (*TenantEscalationConfigOut, *http.Response, error) {
	return r.ApiService.PatchTenantEscalationConfigV1ArcExecute(r)
}

/*
PatchTenantEscalationConfigV1Arc Patch Tenant Escalation Config

Deep-merge ``body.config`` over the existing tenant config.

Creates the row on first PATCH.  Always appends an audit row
capturing the prior + new configs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPatchTenantEscalationConfigV1ArcRequest
*/
func (a *ArcAdminAPIService) PatchTenantEscalationConfigV1Arc(ctx context.Context) ApiPatchTenantEscalationConfigV1ArcRequest {
	return ApiPatchTenantEscalationConfigV1ArcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TenantEscalationConfigOut
func (a *ArcAdminAPIService) PatchTenantEscalationConfigV1ArcExecute(r ApiPatchTenantEscalationConfigV1ArcRequest) (*TenantEscalationConfigOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TenantEscalationConfigOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.PatchTenantEscalationConfigV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/tenant-escalation-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.tenantEscalationConfigPatch == nil {
		return localVarReturnValue, nil, reportError("tenantEscalationConfigPatch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.xUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-User-Id", r.xUserId, "simple", "")
	}
	// body params
	localVarPostBody = r.tenantEscalationConfigPatch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReclassifyCommunicationRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	communicationId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiReclassifyCommunicationRequest) XAPIKey(xAPIKey string) ApiReclassifyCommunicationRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiReclassifyCommunicationRequest) XTenantId(xTenantId string) ApiReclassifyCommunicationRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiReclassifyCommunicationRequest) XOrgId(xOrgId string) ApiReclassifyCommunicationRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiReclassifyCommunicationRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ReclassifyCommunicationExecute(r)
}

/*
ReclassifyCommunication Re-enqueue inbound classification for an existing communication

Force the classifier to re-run on a stored communication.

Used by the (future) learning-loop UI to bulk-reclassify after a
pattern correction.  Dedupes by ``inbound_classify:<comm_id>`` so
the row is queued at most once per comm — re-posting is safe.

Tenant-scoped: looks up the comm by ``(id, tenant_id)`` so an
operator authenticated against tenant A cannot force a reclassify
on tenant B's inbound email.  Missing comm — or comm belonging to
a different tenant — returns 404 without distinguishing the two.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param communicationId
 @return ApiReclassifyCommunicationRequest
*/
func (a *ArcAdminAPIService) ReclassifyCommunication(ctx context.Context, communicationId string) ApiReclassifyCommunicationRequest {
	return ApiReclassifyCommunicationRequest{
		ApiService: a,
		ctx: ctx,
		communicationId: communicationId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) ReclassifyCommunicationExecute(r ApiReclassifyCommunicationRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.ReclassifyCommunication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/communications/{communication_id}/reclassify"
	localVarPath = strings.Replace(localVarPath, "{"+"communication_id"+"}", url.PathEscape(parameterValueToString(r.communicationId, "communicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReplayDeadLetterEndpointV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	eventId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiReplayDeadLetterEndpointV1Request) XAPIKey(xAPIKey string) ApiReplayDeadLetterEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiReplayDeadLetterEndpointV1Request) XTenantId(xTenantId string) ApiReplayDeadLetterEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiReplayDeadLetterEndpointV1Request) XOrgId(xOrgId string) ApiReplayDeadLetterEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiReplayDeadLetterEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ReplayDeadLetterEndpointV1Execute(r)
}

/*
ReplayDeadLetterEndpointV1 Replay Dead Letter Endpoint

POST /admin/dead-letters/{id}/replay — Replay a single dead-lettered event.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param eventId
 @return ApiReplayDeadLetterEndpointV1Request
*/
func (a *ArcAdminAPIService) ReplayDeadLetterEndpointV1(ctx context.Context, eventId string) ApiReplayDeadLetterEndpointV1Request {
	return ApiReplayDeadLetterEndpointV1Request{
		ApiService: a,
		ctx: ctx,
		eventId: eventId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) ReplayDeadLetterEndpointV1Execute(r ApiReplayDeadLetterEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.ReplayDeadLetterEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/dead-letters/{event_id}/replay"
	localVarPath = strings.Replace(localVarPath, "{"+"event_id"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetryOutboundFailureEndpointV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	eventId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiRetryOutboundFailureEndpointV1Request) XAPIKey(xAPIKey string) ApiRetryOutboundFailureEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiRetryOutboundFailureEndpointV1Request) XTenantId(xTenantId string) ApiRetryOutboundFailureEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiRetryOutboundFailureEndpointV1Request) XOrgId(xOrgId string) ApiRetryOutboundFailureEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiRetryOutboundFailureEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RetryOutboundFailureEndpointV1Execute(r)
}

/*
RetryOutboundFailureEndpointV1 Retry Outbound Failure Endpoint

POST /admin/outbound-failures/{id}/retry — Retry a failed outbound event.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param eventId
 @return ApiRetryOutboundFailureEndpointV1Request
*/
func (a *ArcAdminAPIService) RetryOutboundFailureEndpointV1(ctx context.Context, eventId string) ApiRetryOutboundFailureEndpointV1Request {
	return ApiRetryOutboundFailureEndpointV1Request{
		ApiService: a,
		ctx: ctx,
		eventId: eventId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) RetryOutboundFailureEndpointV1Execute(r ApiRetryOutboundFailureEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.RetryOutboundFailureEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/outbound-failures/{event_id}/retry"
	localVarPath = strings.Replace(localVarPath, "{"+"event_id"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRotateInboundSecretV1ArcRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiRotateInboundSecretV1ArcRequest) XAPIKey(xAPIKey string) ApiRotateInboundSecretV1ArcRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiRotateInboundSecretV1ArcRequest) XTenantId(xTenantId string) ApiRotateInboundSecretV1ArcRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiRotateInboundSecretV1ArcRequest) XOrgId(xOrgId string) ApiRotateInboundSecretV1ArcRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiRotateInboundSecretV1ArcRequest) Execute() (*EmailConfigOut, *http.Response, error) {
	return r.ApiService.RotateInboundSecretV1ArcExecute(r)
}

/*
RotateInboundSecretV1Arc Rotate Inbound Secret

Rotate the inbound-webhook HMAC secret.

The new secret must be copied into the Resend inbound webhook
dashboard; the UI will display it once after rotation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRotateInboundSecretV1ArcRequest
*/
func (a *ArcAdminAPIService) RotateInboundSecretV1Arc(ctx context.Context) ApiRotateInboundSecretV1ArcRequest {
	return ApiRotateInboundSecretV1ArcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmailConfigOut
func (a *ArcAdminAPIService) RotateInboundSecretV1ArcExecute(r ApiRotateInboundSecretV1ArcRequest) (*EmailConfigOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailConfigOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.RotateInboundSecretV1Arc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/email-config/rotate-secret"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRunAgentSyncRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	agentType string
	xAPIKey *string
	caseId *string
	xTenantId *string
	xOrgId *string
}

func (r ApiRunAgentSyncRequest) XAPIKey(xAPIKey string) ApiRunAgentSyncRequest {
	r.xAPIKey = &xAPIKey
	return r
}

// Optional: run only for this case
func (r ApiRunAgentSyncRequest) CaseId(caseId string) ApiRunAgentSyncRequest {
	r.caseId = &caseId
	return r
}

func (r ApiRunAgentSyncRequest) XTenantId(xTenantId string) ApiRunAgentSyncRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiRunAgentSyncRequest) XOrgId(xOrgId string) ApiRunAgentSyncRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiRunAgentSyncRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RunAgentSyncExecute(r)
}

/*
RunAgentSync Run Agent Synchronously

Run a single batch of the specified agent. Admin/E2E testing only.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agentType
 @return ApiRunAgentSyncRequest
*/
func (a *ArcAdminAPIService) RunAgentSync(ctx context.Context, agentType string) ApiRunAgentSyncRequest {
	return ApiRunAgentSyncRequest{
		ApiService: a,
		ctx: ctx,
		agentType: agentType,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) RunAgentSyncExecute(r ApiRunAgentSyncRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.RunAgentSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/agents/{agent_type}/run"
	localVarPath = strings.Replace(localVarPath, "{"+"agent_type"+"}", url.PathEscape(parameterValueToString(r.agentType, "agentType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	if r.caseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "case_id", r.caseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSeedTenantEndpointRequest struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	xTenantId *string
	xOrgId *string
}

func (r ApiSeedTenantEndpointRequest) XAPIKey(xAPIKey string) ApiSeedTenantEndpointRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiSeedTenantEndpointRequest) XTenantId(xTenantId string) ApiSeedTenantEndpointRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiSeedTenantEndpointRequest) XOrgId(xOrgId string) ApiSeedTenantEndpointRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiSeedTenantEndpointRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SeedTenantEndpointExecute(r)
}

/*
SeedTenantEndpoint Seed Tenant Endpoint

POST /admin/seed — Seed dunning strategies and agent policies.

Idempotent: skips any data that already exists.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSeedTenantEndpointRequest
*/
func (a *ArcAdminAPIService) SeedTenantEndpoint(ctx context.Context) ApiSeedTenantEndpointRequest {
	return ApiSeedTenantEndpointRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ArcAdminAPIService) SeedTenantEndpointExecute(r ApiSeedTenantEndpointRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.SeedTenantEndpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/seed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpsertEmailConfigV1Request struct {
	ctx context.Context
	ApiService *ArcAdminAPIService
	xAPIKey *string
	emailConfigUpsert *EmailConfigUpsert
	forceSecretOverwrite *bool
	xTenantId *string
	xOrgId *string
}

func (r ApiUpsertEmailConfigV1Request) XAPIKey(xAPIKey string) ApiUpsertEmailConfigV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpsertEmailConfigV1Request) EmailConfigUpsert(emailConfigUpsert EmailConfigUpsert) ApiUpsertEmailConfigV1Request {
	r.emailConfigUpsert = &emailConfigUpsert
	return r
}

// Break-glass: allow this PUT to overwrite an existing non-empty &#x60;&#x60;inbound_secret&#x60;&#x60; with a different value. Without this flag the server returns 409 to prevent the smoke-harness drift that silently breaks inbound webhooks for real tenants. Use POST /email-config/rotate-secret for the production rotation flow.
func (r ApiUpsertEmailConfigV1Request) ForceSecretOverwrite(forceSecretOverwrite bool) ApiUpsertEmailConfigV1Request {
	r.forceSecretOverwrite = &forceSecretOverwrite
	return r
}

func (r ApiUpsertEmailConfigV1Request) XTenantId(xTenantId string) ApiUpsertEmailConfigV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpsertEmailConfigV1Request) XOrgId(xOrgId string) ApiUpsertEmailConfigV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpsertEmailConfigV1Request) Execute() (*EmailConfigOut, *http.Response, error) {
	return r.ApiService.UpsertEmailConfigV1Execute(r)
}

/*
UpsertEmailConfigV1 Upsert Email Config

Create or update the tenant's sender-domain config.

If the Resend API key is configured we also provision the domain
with Resend and return the DNS records the operator needs to set.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpsertEmailConfigV1Request
*/
func (a *ArcAdminAPIService) UpsertEmailConfigV1(ctx context.Context) ApiUpsertEmailConfigV1Request {
	return ApiUpsertEmailConfigV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmailConfigOut
func (a *ArcAdminAPIService) UpsertEmailConfigV1Execute(r ApiUpsertEmailConfigV1Request) (*EmailConfigOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailConfigOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArcAdminAPIService.UpsertEmailConfigV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/admin/email-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAPIKey == nil {
		return localVarReturnValue, nil, reportError("xAPIKey is required and must be specified")
	}
	if r.emailConfigUpsert == nil {
		return localVarReturnValue, nil, reportError("emailConfigUpsert is required and must be specified")
	}

	if r.forceSecretOverwrite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force_secret_overwrite", r.forceSecretOverwrite, "form", "")
	} else {
		var defaultValue bool = false
		r.forceSecretOverwrite = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	// body params
	localVarPostBody = r.emailConfigUpsert
[...]
