/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CreditMemosAPIService CreditMemosAPI service
type CreditMemosAPIService service

type ApiApplyCreditMemoV1Request struct {
	ctx context.Context
	ApiService *CreditMemosAPIService
	memoId string
	creditMemoApplyRequest *CreditMemoApplyRequest
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiApplyCreditMemoV1Request) CreditMemoApplyRequest(creditMemoApplyRequest CreditMemoApplyRequest) ApiApplyCreditMemoV1Request {
	r.creditMemoApplyRequest = &creditMemoApplyRequest
	return r
}

func (r ApiApplyCreditMemoV1Request) XAPIKey(xAPIKey string) ApiApplyCreditMemoV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiApplyCreditMemoV1Request) XTenantId(xTenantId string) ApiApplyCreditMemoV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiApplyCreditMemoV1Request) XOrgId(xOrgId string) ApiApplyCreditMemoV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiApplyCreditMemoV1Request) Authorization(authorization string) ApiApplyCreditMemoV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiApplyCreditMemoV1Request) Execute() (*CreditMemoResponse, *http.Response, error) {
	return r.ApiService.ApplyCreditMemoV1Execute(r)
}

/*
ApplyCreditMemoV1 Apply Credit Memo

Apply a credit memo to an invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param memoId
 @return ApiApplyCreditMemoV1Request
*/
func (a *CreditMemosAPIService) ApplyCreditMemoV1(ctx context.Context, memoId string) ApiApplyCreditMemoV1Request {
	return ApiApplyCreditMemoV1Request{
		ApiService: a,
		ctx: ctx,
		memoId: memoId,
	}
}

// Execute executes the request
//  @return CreditMemoResponse
func (a *CreditMemosAPIService) ApplyCreditMemoV1Execute(r ApiApplyCreditMemoV1Request) (*CreditMemoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditMemoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditMemosAPIService.ApplyCreditMemoV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/credit-memos/{memo_id}/apply"
	localVarPath = strings.Replace(localVarPath, "{"+"memo_id"+"}", url.PathEscape(parameterValueToString(r.memoId, "memoId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.creditMemoApplyRequest == nil {
		return localVarReturnValue, nil, reportError("creditMemoApplyRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.creditMemoApplyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApproveCreditMemoV1Request struct {
	ctx context.Context
	ApiService *CreditMemosAPIService
	memoId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiApproveCreditMemoV1Request) XAPIKey(xAPIKey string) ApiApproveCreditMemoV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiApproveCreditMemoV1Request) XTenantId(xTenantId string) ApiApproveCreditMemoV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiApproveCreditMemoV1Request) XOrgId(xOrgId string) ApiApproveCreditMemoV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiApproveCreditMemoV1Request) Authorization(authorization string) ApiApproveCreditMemoV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiApproveCreditMemoV1Request) Execute() (*CreditMemoResponse, *http.Response, error) {
	return r.ApiService.ApproveCreditMemoV1Execute(r)
}

/*
ApproveCreditMemoV1 Approve Credit Memo

Approve a credit memo.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param memoId
 @return ApiApproveCreditMemoV1Request
*/
func (a *CreditMemosAPIService) ApproveCreditMemoV1(ctx context.Context, memoId string) ApiApproveCreditMemoV1Request {
	return ApiApproveCreditMemoV1Request{
		ApiService: a,
		ctx: ctx,
		memoId: memoId,
	}
}

// Execute executes the request
//  @return CreditMemoResponse
func (a *CreditMemosAPIService) ApproveCreditMemoV1Execute(r ApiApproveCreditMemoV1Request) (*CreditMemoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditMemoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditMemosAPIService.ApproveCreditMemoV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/credit-memos/{memo_id}/approve"
	localVarPath = strings.Replace(localVarPath, "{"+"memo_id"+"}", url.PathEscape(parameterValueToString(r.memoId, "memoId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCreditMemoV1Request struct {
	ctx context.Context
	ApiService *CreditMemosAPIService
	creditMemoCreate *CreditMemoCreate
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiCreateCreditMemoV1Request) CreditMemoCreate(creditMemoCreate CreditMemoCreate) ApiCreateCreditMemoV1Request {
	r.creditMemoCreate = &creditMemoCreate
	return r
}

func (r ApiCreateCreditMemoV1Request) XAPIKey(xAPIKey string) ApiCreateCreditMemoV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiCreateCreditMemoV1Request) XTenantId(xTenantId string) ApiCreateCreditMemoV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiCreateCreditMemoV1Request) XOrgId(xOrgId string) ApiCreateCreditMemoV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiCreateCreditMemoV1Request) Authorization(authorization string) ApiCreateCreditMemoV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiCreateCreditMemoV1Request) Execute() (*CreditMemoResponse, *http.Response, error) {
	return r.ApiService.CreateCreditMemoV1Execute(r)
}

/*
CreateCreditMemoV1 Create Credit Memo

Create a credit memo in draft status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateCreditMemoV1Request
*/
func (a *CreditMemosAPIService) CreateCreditMemoV1(ctx context.Context) ApiCreateCreditMemoV1Request {
	return ApiCreateCreditMemoV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreditMemoResponse
func (a *CreditMemosAPIService) CreateCreditMemoV1Execute(r ApiCreateCreditMemoV1Request) (*CreditMemoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditMemoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditMemosAPIService.CreateCreditMemoV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/credit-memos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.creditMemoCreate == nil {
		return localVarReturnValue, nil, reportError("creditMemoCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.creditMemoCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCreditMemoV1Request struct {
	ctx context.Context
	ApiService *CreditMemosAPIService
	memoId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiGetCreditMemoV1Request) XAPIKey(xAPIKey string) ApiGetCreditMemoV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiGetCreditMemoV1Request) XTenantId(xTenantId string) ApiGetCreditMemoV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiGetCreditMemoV1Request) XOrgId(xOrgId string) ApiGetCreditMemoV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiGetCreditMemoV1Request) Authorization(authorization string) ApiGetCreditMemoV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiGetCreditMemoV1Request) Execute() (*CreditMemoResponse, *http.Response, error) {
	return r.ApiService.GetCreditMemoV1Execute(r)
}

/*
GetCreditMemoV1 Get Credit Memo

Get a single credit memo.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param memoId
 @return ApiGetCreditMemoV1Request
*/
func (a *CreditMemosAPIService) GetCreditMemoV1(ctx context.Context, memoId string) ApiGetCreditMemoV1Request {
	return ApiGetCreditMemoV1Request{
		ApiService: a,
		ctx: ctx,
		memoId: memoId,
	}
}

// Execute executes the request
//  @return CreditMemoResponse
func (a *CreditMemosAPIService) GetCreditMemoV1Execute(r ApiGetCreditMemoV1Request) (*CreditMemoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditMemoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditMemosAPIService.GetCreditMemoV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/credit-memos/{memo_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"memo_id"+"}", url.PathEscape(parameterValueToString(r.memoId, "memoId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCreditMemosV1GetRequest struct {
	ctx context.Context
	ApiService *CreditMemosAPIService
	accountId *string
	status *string
	page *int32
	pageSize *int32
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiListCreditMemosV1GetRequest) AccountId(accountId string) ApiListCreditMemosV1GetRequest {
	r.accountId = &accountId
	return r
}

func (r ApiListCreditMemosV1GetRequest) Status(status string) ApiListCreditMemosV1GetRequest {
	r.status = &status
	return r
}

func (r ApiListCreditMemosV1GetRequest) Page(page int32) ApiListCreditMemosV1GetRequest {
	r.page = &page
	return r
}

func (r ApiListCreditMemosV1GetRequest) PageSize(pageSize int32) ApiListCreditMemosV1GetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListCreditMemosV1GetRequest) XAPIKey(xAPIKey string) ApiListCreditMemosV1GetRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListCreditMemosV1GetRequest) XTenantId(xTenantId string) ApiListCreditMemosV1GetRequest {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListCreditMemosV1GetRequest) XOrgId(xOrgId string) ApiListCreditMemosV1GetRequest {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListCreditMemosV1GetRequest) Authorization(authorization string) ApiListCreditMemosV1GetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListCreditMemosV1GetRequest) Execute() (*CreditMemoListResponse, *http.Response, error) {
	return r.ApiService.ListCreditMemosV1GetExecute(r)
}

/*
ListCreditMemosV1Get List Credit Memos

List credit memos with pagination and optional filters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCreditMemosV1GetRequest
*/
func (a *CreditMemosAPIService) ListCreditMemosV1Get(ctx context.Context) ApiListCreditMemosV1GetRequest {
	return ApiListCreditMemosV1GetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreditMemoListResponse
func (a *CreditMemosAPIService) ListCreditMemosV1GetExecute(r ApiListCreditMemosV1GetRequest) (*CreditMemoListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditMemoListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditMemosAPIService.ListCreditMemosV1Get")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/credit-memos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCreditMemoV1Request struct {
	ctx context.Context
	ApiService *CreditMemosAPIService
	memoId string
	creditMemoUpdate *CreditMemoUpdate
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiUpdateCreditMemoV1Request) CreditMemoUpdate(creditMemoUpdate CreditMemoUpdate) ApiUpdateCreditMemoV1Request {
	r.creditMemoUpdate = &creditMemoUpdate
	return r
}

func (r ApiUpdateCreditMemoV1Request) XAPIKey(xAPIKey string) ApiUpdateCreditMemoV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiUpdateCreditMemoV1Request) XTenantId(xTenantId string) ApiUpdateCreditMemoV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiUpdateCreditMemoV1Request) XOrgId(xOrgId string) ApiUpdateCreditMemoV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiUpdateCreditMemoV1Request) Authorization(authorization string) ApiUpdateCreditMemoV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateCreditMemoV1Request) Execute() (*CreditMemoResponse, *http.Response, error) {
	return r.ApiService.UpdateCreditMemoV1Execute(r)
}

/*
UpdateCreditMemoV1 Update Credit Memo

Update a credit memo (draft only).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param memoId
 @return ApiUpdateCreditMemoV1Request
*/
func (a *CreditMemosAPIService) UpdateCreditMemoV1(ctx context.Context, memoId string) ApiUpdateCreditMemoV1Request {
	return ApiUpdateCreditMemoV1Request{
		ApiService: a,
		ctx: ctx,
		memoId: memoId,
	}
}

// Execute executes the request
//  @return CreditMemoResponse
func (a *CreditMemosAPIService) UpdateCreditMemoV1Execute(r ApiUpdateCreditMemoV1Request) (*CreditMemoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditMemoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditMemosAPIService.UpdateCreditMemoV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/credit-memos/{memo_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"memo_id"+"}", url.PathEscape(parameterValueToString(r.memoId, "memoId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.creditMemoUpdate == nil {
		return localVarReturnValue, nil, reportError("creditMemoUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.creditMemoUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVoidCreditMemoV1Request struct {
	ctx context.Context
	ApiService *CreditMemosAPIService
	memoId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiVoidCreditMemoV1Request) XAPIKey(xAPIKey string) ApiVoidCreditMemoV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiVoidCreditMemoV1Request) XTenantId(xTenantId string) ApiVoidCreditMemoV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiVoidCreditMemoV1Request) XOrgId(xOrgId string) ApiVoidCreditMemoV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiVoidCreditMemoV1Request) Authorization(authorization string) ApiVoidCreditMemoV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiVoidCreditMemoV1Request) Execute() (*CreditMemoResponse, *http.Response, error) {
	return r.ApiService.VoidCreditMemoV1Execute(r)
}

/*
VoidCreditMemoV1 Void Credit Memo

Void a credit memo.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param memoId
 @return ApiVoidCreditMemoV1Request
*/
func (a *CreditMemosAPIService) VoidCreditMemoV1(ctx context.Context, memoId string) ApiVoidCreditMemoV1Request {
	return ApiVoidCreditMemoV1Request{
		ApiService: a,
		ctx: ctx,
		memoId: memoId,
	}
}

// Execute executes the request
//  @return CreditMemoResponse
func (a *CreditMemosAPIService) VoidCreditMemoV1Execute(r ApiVoidCreditMemoV1Request) (*CreditMemoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditMemoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditMemosAPIService.VoidCreditMemoV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/credit-memos/{memo_id}/void"
	localVarPath = strings.Replace(localVarPath, "{"+"memo_id"+"}", url.PathEscape(parameterValueToString(r.memoId, "memoId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
