/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CashCreditsAPIService CashCreditsAPI service
type CashCreditsAPIService service

type ApiApplyCreditEndpointV1Request struct {
	ctx context.Context
	ApiService *CashCreditsAPIService
	creditId string
	applyCreditRequest *ApplyCreditRequest
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiApplyCreditEndpointV1Request) ApplyCreditRequest(applyCreditRequest ApplyCreditRequest) ApiApplyCreditEndpointV1Request {
	r.applyCreditRequest = &applyCreditRequest
	return r
}

func (r ApiApplyCreditEndpointV1Request) XAPIKey(xAPIKey string) ApiApplyCreditEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiApplyCreditEndpointV1Request) XTenantId(xTenantId string) ApiApplyCreditEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiApplyCreditEndpointV1Request) XOrgId(xOrgId string) ApiApplyCreditEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiApplyCreditEndpointV1Request) Authorization(authorization string) ApiApplyCreditEndpointV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiApplyCreditEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ApplyCreditEndpointV1Execute(r)
}

/*
ApplyCreditEndpointV1 Apply Credit Endpoint

POST /cash-credits/{id}/apply — Apply credit to invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param creditId
 @return ApiApplyCreditEndpointV1Request
*/
func (a *CashCreditsAPIService) ApplyCreditEndpointV1(ctx context.Context, creditId string) ApiApplyCreditEndpointV1Request {
	return ApiApplyCreditEndpointV1Request{
		ApiService: a,
		ctx: ctx,
		creditId: creditId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CashCreditsAPIService) ApplyCreditEndpointV1Execute(r ApiApplyCreditEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashCreditsAPIService.ApplyCreditEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cash-credits/{credit_id}/apply"
	localVarPath = strings.Replace(localVarPath, "{"+"credit_id"+"}", url.PathEscape(parameterValueToString(r.creditId, "creditId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applyCreditRequest == nil {
		return localVarReturnValue, nil, reportError("applyCreditRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.applyCreditRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConvertCreditEndpointV1Request struct {
	ctx context.Context
	ApiService *CashCreditsAPIService
	creditId string
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiConvertCreditEndpointV1Request) XAPIKey(xAPIKey string) ApiConvertCreditEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiConvertCreditEndpointV1Request) XTenantId(xTenantId string) ApiConvertCreditEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiConvertCreditEndpointV1Request) XOrgId(xOrgId string) ApiConvertCreditEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiConvertCreditEndpointV1Request) Authorization(authorization string) ApiConvertCreditEndpointV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiConvertCreditEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ConvertCreditEndpointV1Execute(r)
}

/*
ConvertCreditEndpointV1 Convert Credit Endpoint

POST /cash-credits/{id}/convert — Convert to usage grant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param creditId
 @return ApiConvertCreditEndpointV1Request
*/
func (a *CashCreditsAPIService) ConvertCreditEndpointV1(ctx context.Context, creditId string) ApiConvertCreditEndpointV1Request {
	return ApiConvertCreditEndpointV1Request{
		ApiService: a,
		ctx: ctx,
		creditId: creditId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CashCreditsAPIService) ConvertCreditEndpointV1Execute(r ApiConvertCreditEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashCreditsAPIService.ConvertCreditEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cash-credits/{credit_id}/convert"
	localVarPath = strings.Replace(localVarPath, "{"+"credit_id"+"}", url.PathEscape(parameterValueToString(r.creditId, "creditId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCreditsEndpointV1Request struct {
	ctx context.Context
	ApiService *CashCreditsAPIService
	accountId *string
	status *string
	page *int32
	pageSize *int32
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiListCreditsEndpointV1Request) AccountId(accountId string) ApiListCreditsEndpointV1Request {
	r.accountId = &accountId
	return r
}

func (r ApiListCreditsEndpointV1Request) Status(status string) ApiListCreditsEndpointV1Request {
	r.status = &status
	return r
}

func (r ApiListCreditsEndpointV1Request) Page(page int32) ApiListCreditsEndpointV1Request {
	r.page = &page
	return r
}

func (r ApiListCreditsEndpointV1Request) PageSize(pageSize int32) ApiListCreditsEndpointV1Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiListCreditsEndpointV1Request) XAPIKey(xAPIKey string) ApiListCreditsEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListCreditsEndpointV1Request) XTenantId(xTenantId string) ApiListCreditsEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiListCreditsEndpointV1Request) XOrgId(xOrgId string) ApiListCreditsEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiListCreditsEndpointV1Request) Authorization(authorization string) ApiListCreditsEndpointV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiListCreditsEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListCreditsEndpointV1Execute(r)
}

/*
ListCreditsEndpointV1 List Credits Endpoint

GET /cash-credits — List cash credits.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCreditsEndpointV1Request
*/
func (a *CashCreditsAPIService) ListCreditsEndpointV1(ctx context.Context) ApiListCreditsEndpointV1Request {
	return ApiListCreditsEndpointV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CashCreditsAPIService) ListCreditsEndpointV1Execute(r ApiListCreditsEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashCreditsAPIService.ListCreditsEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cash-credits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRefundCreditEndpointV1Request struct {
	ctx context.Context
	ApiService *CashCreditsAPIService
	creditId string
	refundCreditRequest *RefundCreditRequest
	xAPIKey *string
	xTenantId *string
	xOrgId *string
	authorization *string
}

func (r ApiRefundCreditEndpointV1Request) RefundCreditRequest(refundCreditRequest RefundCreditRequest) ApiRefundCreditEndpointV1Request {
	r.refundCreditRequest = &refundCreditRequest
	return r
}

func (r ApiRefundCreditEndpointV1Request) XAPIKey(xAPIKey string) ApiRefundCreditEndpointV1Request {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiRefundCreditEndpointV1Request) XTenantId(xTenantId string) ApiRefundCreditEndpointV1Request {
	r.xTenantId = &xTenantId
	return r
}

func (r ApiRefundCreditEndpointV1Request) XOrgId(xOrgId string) ApiRefundCreditEndpointV1Request {
	r.xOrgId = &xOrgId
	return r
}

func (r ApiRefundCreditEndpointV1Request) Authorization(authorization string) ApiRefundCreditEndpointV1Request {
	r.authorization = &authorization
	return r
}

func (r ApiRefundCreditEndpointV1Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RefundCreditEndpointV1Execute(r)
}

/*
RefundCreditEndpointV1 Refund Credit Endpoint

POST /cash-credits/{id}/refund — Refund credit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param creditId
 @return ApiRefundCreditEndpointV1Request
*/
func (a *CashCreditsAPIService) RefundCreditEndpointV1(ctx context.Context, creditId string) ApiRefundCreditEndpointV1Request {
	return ApiRefundCreditEndpointV1Request{
		ApiService: a,
		ctx: ctx,
		creditId: creditId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CashCreditsAPIService) RefundCreditEndpointV1Execute(r ApiRefundCreditEndpointV1Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashCreditsAPIService.RefundCreditEndpointV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/arc/cash-credits/{credit_id}/refund"
	localVarPath = strings.Replace(localVarPath, "{"+"credit_id"+"}", url.PathEscape(parameterValueToString(r.creditId, "creditId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.refundCreditRequest == nil {
		return localVarReturnValue, nil, reportError("refundCreditRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "simple", "")
	}
	if r.xOrgId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org-Id", r.xOrgId, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.refundCreditRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ArcHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
