/*
Moolabs API

Unified Moolabs SDK. Capability-based public surface stitched from internal service specs: bff, meter, arc, acute. Customers see capability namespaces (usage, billing, collections, etc.); the SDK routes per-operation internally.

API version: 0.2.0-rc3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package moolabs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// MarginsAPIService MarginsAPI service
type MarginsAPIService service

type ApiGetCompletenessRequest struct {
	ctx context.Context
	ApiService *MarginsAPIService
	matchGrade *string
	includePartial *bool
	periodStart *time.Time
	periodEnd *time.Time
}

// &#39;financial_only&#39; or &#39;include_operational&#39;
func (r ApiGetCompletenessRequest) MatchGrade(matchGrade string) ApiGetCompletenessRequest {
	r.matchGrade = &matchGrade
	return r
}

// Include partially_reconciled billing events
func (r ApiGetCompletenessRequest) IncludePartial(includePartial bool) ApiGetCompletenessRequest {
	r.includePartial = &includePartial
	return r
}

// ISO datetime start (inclusive)
func (r ApiGetCompletenessRequest) PeriodStart(periodStart time.Time) ApiGetCompletenessRequest {
	r.periodStart = &periodStart
	return r
}

// ISO datetime end (exclusive)
func (r ApiGetCompletenessRequest) PeriodEnd(periodEnd time.Time) ApiGetCompletenessRequest {
	r.periodEnd = &periodEnd
	return r
}

func (r ApiGetCompletenessRequest) Execute() (*CompletenessResponse, *http.Response, error) {
	return r.ApiService.GetCompletenessExecute(r)
}

/*
GetCompleteness Financial completeness metric

Financial completeness = count(usage_events with status=fully_reconciled)
                        / count(all AI usage_events in usage_event_log)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCompletenessRequest
*/
func (a *MarginsAPIService) GetCompleteness(ctx context.Context) ApiGetCompletenessRequest {
	return ApiGetCompletenessRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CompletenessResponse
func (a *MarginsAPIService) GetCompletenessExecute(r ApiGetCompletenessRequest) (*CompletenessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompletenessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarginsAPIService.GetCompleteness")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cost/margins/completeness"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.matchGrade != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match_grade", r.matchGrade, "form", "")
	} else {
		var defaultValue string = "financial_only"
		r.matchGrade = &defaultValue
	}
	if r.includePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_partial", r.includePartial, "form", "")
	} else {
		var defaultValue bool = false
		r.includePartial = &defaultValue
	}
	if r.periodStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	}
	if r.periodEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCreditCostRatioApiV1Request struct {
	ctx context.Context
	ApiService *MarginsAPIService
	matchGrade *string
	includePartial *bool
	periodStart *time.Time
	periodEnd *time.Time
}

// &#39;financial_only&#39; or &#39;include_operational&#39;
func (r ApiGetCreditCostRatioApiV1Request) MatchGrade(matchGrade string) ApiGetCreditCostRatioApiV1Request {
	r.matchGrade = &matchGrade
	return r
}

// Include partially_reconciled billing events
func (r ApiGetCreditCostRatioApiV1Request) IncludePartial(includePartial bool) ApiGetCreditCostRatioApiV1Request {
	r.includePartial = &includePartial
	return r
}

// ISO datetime start (inclusive)
func (r ApiGetCreditCostRatioApiV1Request) PeriodStart(periodStart time.Time) ApiGetCreditCostRatioApiV1Request {
	r.periodStart = &periodStart
	return r
}

// ISO datetime end (exclusive)
func (r ApiGetCreditCostRatioApiV1Request) PeriodEnd(periodEnd time.Time) ApiGetCreditCostRatioApiV1Request {
	r.periodEnd = &periodEnd
	return r
}

func (r ApiGetCreditCostRatioApiV1Request) Execute() (*CreditCostRatioResponse, *http.Response, error) {
	return r.ApiService.GetCreditCostRatioApiV1Execute(r)
}

/*
GetCreditCostRatioApiV1 Daily valued_burn / total_cost ratio time series

Daily time series of valued_burn / total_cost ratio. Uses fully_reconciled events only.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCreditCostRatioApiV1Request
*/
func (a *MarginsAPIService) GetCreditCostRatioApiV1(ctx context.Context) ApiGetCreditCostRatioApiV1Request {
	return ApiGetCreditCostRatioApiV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreditCostRatioResponse
func (a *MarginsAPIService) GetCreditCostRatioApiV1Execute(r ApiGetCreditCostRatioApiV1Request) (*CreditCostRatioResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreditCostRatioResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarginsAPIService.GetCreditCostRatioApiV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cost/margins/credit-cost-ratio"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.matchGrade != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match_grade", r.matchGrade, "form", "")
	} else {
		var defaultValue string = "financial_only"
		r.matchGrade = &defaultValue
	}
	if r.includePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_partial", r.includePartial, "form", "")
	} else {
		var defaultValue bool = false
		r.includePartial = &defaultValue
	}
	if r.periodStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	}
	if r.periodEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMarginByCustomerApiRequest struct {
	ctx context.Context
	ApiService *MarginsAPIService
	matchGrade *string
	includePartial *bool
	periodStart *time.Time
	periodEnd *time.Time
}

// &#39;financial_only&#39; or &#39;include_operational&#39;
func (r ApiGetMarginByCustomerApiRequest) MatchGrade(matchGrade string) ApiGetMarginByCustomerApiRequest {
	r.matchGrade = &matchGrade
	return r
}

// Include partially_reconciled billing events
func (r ApiGetMarginByCustomerApiRequest) IncludePartial(includePartial bool) ApiGetMarginByCustomerApiRequest {
	r.includePartial = &includePartial
	return r
}

// ISO datetime start (inclusive)
func (r ApiGetMarginByCustomerApiRequest) PeriodStart(periodStart time.Time) ApiGetMarginByCustomerApiRequest {
	r.periodStart = &periodStart
	return r
}

// ISO datetime end (exclusive)
func (r ApiGetMarginByCustomerApiRequest) PeriodEnd(periodEnd time.Time) ApiGetMarginByCustomerApiRequest {
	r.periodEnd = &periodEnd
	return r
}

func (r ApiGetMarginByCustomerApiRequest) Execute() (*CustomerMarginResponse, *http.Response, error) {
	return r.ApiService.GetMarginByCustomerApiExecute(r)
}

/*
GetMarginByCustomerApi Margin per customer

Returns margin aggregated per customer_id.
Only includes fully_reconciled billing events by default (include_partial=false).
Zero-valued-burn: margin_pct=null, margin_reason='zero_valued_burn'.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMarginByCustomerApiRequest
*/
func (a *MarginsAPIService) GetMarginByCustomerApi(ctx context.Context) ApiGetMarginByCustomerApiRequest {
	return ApiGetMarginByCustomerApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CustomerMarginResponse
func (a *MarginsAPIService) GetMarginByCustomerApiExecute(r ApiGetMarginByCustomerApiRequest) (*CustomerMarginResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerMarginResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarginsAPIService.GetMarginByCustomerApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cost/margins/by-customer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.matchGrade != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match_grade", r.matchGrade, "form", "")
	} else {
		var defaultValue string = "financial_only"
		r.matchGrade = &defaultValue
	}
	if r.includePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_partial", r.includePartial, "form", "")
	} else {
		var defaultValue bool = false
		r.includePartial = &defaultValue
	}
	if r.periodStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	}
	if r.periodEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMarginByFeatureApiRequest struct {
	ctx context.Context
	ApiService *MarginsAPIService
	matchGrade *string
	includePartial *bool
	periodStart *time.Time
	periodEnd *time.Time
}

// &#39;financial_only&#39; or &#39;include_operational&#39;
func (r ApiGetMarginByFeatureApiRequest) MatchGrade(matchGrade string) ApiGetMarginByFeatureApiRequest {
	r.matchGrade = &matchGrade
	return r
}

// Include partially_reconciled billing events
func (r ApiGetMarginByFeatureApiRequest) IncludePartial(includePartial bool) ApiGetMarginByFeatureApiRequest {
	r.includePartial = &includePartial
	return r
}

// ISO datetime start (inclusive)
func (r ApiGetMarginByFeatureApiRequest) PeriodStart(periodStart time.Time) ApiGetMarginByFeatureApiRequest {
	r.periodStart = &periodStart
	return r
}

// ISO datetime end (exclusive)
func (r ApiGetMarginByFeatureApiRequest) PeriodEnd(periodEnd time.Time) ApiGetMarginByFeatureApiRequest {
	r.periodEnd = &periodEnd
	return r
}

func (r ApiGetMarginByFeatureApiRequest) Execute() (*FeatureMarginResponse, *http.Response, error) {
	return r.ApiService.GetMarginByFeatureApiExecute(r)
}

/*
GetMarginByFeatureApi Margin per feature

Returns margin aggregated per feature_id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMarginByFeatureApiRequest
*/
func (a *MarginsAPIService) GetMarginByFeatureApi(ctx context.Context) ApiGetMarginByFeatureApiRequest {
	return ApiGetMarginByFeatureApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FeatureMarginResponse
func (a *MarginsAPIService) GetMarginByFeatureApiExecute(r ApiGetMarginByFeatureApiRequest) (*FeatureMarginResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FeatureMarginResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarginsAPIService.GetMarginByFeatureApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cost/margins/by-feature"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.matchGrade != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match_grade", r.matchGrade, "form", "")
	} else {
		var defaultValue string = "financial_only"
		r.matchGrade = &defaultValue
	}
	if r.includePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_partial", r.includePartial, "form", "")
	} else {
		var defaultValue bool = false
		r.includePartial = &defaultValue
	}
	if r.periodStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	}
	if r.periodEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMarginSnapshotRequest struct {
	ctx context.Context
	ApiService *MarginsAPIService
	periodType *string
	matchGrade *string
	includePartial *bool
	periodStart *time.Time
	periodEnd *time.Time
}

// &#39;daily&#39;, &#39;weekly&#39;, or &#39;monthly&#39;
func (r ApiGetMarginSnapshotRequest) PeriodType(periodType string) ApiGetMarginSnapshotRequest {
	r.periodType = &periodType
	return r
}

// &#39;financial_only&#39; or &#39;include_operational&#39;
func (r ApiGetMarginSnapshotRequest) MatchGrade(matchGrade string) ApiGetMarginSnapshotRequest {
	r.matchGrade = &matchGrade
	return r
}

// Include partially_reconciled billing events
func (r ApiGetMarginSnapshotRequest) IncludePartial(includePartial bool) ApiGetMarginSnapshotRequest {
	r.includePartial = &includePartial
	return r
}

// ISO datetime start (inclusive)
func (r ApiGetMarginSnapshotRequest) PeriodStart(periodStart time.Time) ApiGetMarginSnapshotRequest {
	r.periodStart = &periodStart
	return r
}

// ISO datetime end (exclusive)
func (r ApiGetMarginSnapshotRequest) PeriodEnd(periodEnd time.Time) ApiGetMarginSnapshotRequest {
	r.periodEnd = &periodEnd
	return r
}

func (r ApiGetMarginSnapshotRequest) Execute() (*MarginSnapshotResponse, *http.Response, error) {
	return r.ApiService.GetMarginSnapshotExecute(r)
}

/*
GetMarginSnapshot Period margin snapshot with reconciliation breakdown

Returns margin snapshot for the given period.
Includes per-billing-event reconciliation status breakdown.
Zero-valued-burn events excluded from margin_pct but included in cost totals.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMarginSnapshotRequest
*/
func (a *MarginsAPIService) GetMarginSnapshot(ctx context.Context) ApiGetMarginSnapshotRequest {
	return ApiGetMarginSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MarginSnapshotResponse
func (a *MarginsAPIService) GetMarginSnapshotExecute(r ApiGetMarginSnapshotRequest) (*MarginSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MarginSnapshotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarginsAPIService.GetMarginSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cost/margins/snapshot"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.periodType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_type", r.periodType, "form", "")
	} else {
		var defaultValue string = "daily"
		r.periodType = &defaultValue
	}
	if r.matchGrade != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match_grade", r.matchGrade, "form", "")
	} else {
		var defaultValue string = "financial_only"
		r.matchGrade = &defaultValue
	}
	if r.includePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_partial", r.includePartial, "form", "")
	} else {
		var defaultValue bool = false
		r.includePartial = &defaultValue
	}
	if r.periodStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_start", r.periodStart, "form", "")
	}
	if r.periodEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period_end", r.periodEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTriggerReconciliationRequest struct {
	ctx context.Context
	ApiService *MarginsAPIService
	reconcileRequest *ReconcileRequest
}

func (r ApiTriggerReconciliationRequest) ReconcileRequest(reconcileRequest ReconcileRequest) ApiTriggerReconciliationRequest {
	r.reconcileRequest = &reconcileRequest
	return r
}

func (r ApiTriggerReconciliationRequest) Execute() (*ReconcileResponse, *http.Response, error) {
	return r.ApiService.TriggerReconciliationExecute(r)
}

/*
TriggerReconciliation Trigger manual reconciliation (operator)

Operator endpoint: trigger reconciliation for specific cost_event_ids or all pending.
Returns a job_id for tracking (synchronous in this implementation; async in production).
body.tenant_id must match the API-key-derived tenant for security.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTriggerReconciliationRequest
*/
func (a *MarginsAPIService) TriggerReconciliation(ctx context.Context) ApiTriggerReconciliationRequest {
	return ApiTriggerReconciliationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReconcileResponse
func (a *MarginsAPIService) TriggerReconciliationExecute(r ApiTriggerReconciliationRequest) (*ReconcileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReconcileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarginsAPIService.TriggerReconciliation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cost/margins/reconcile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reconcileRequest == nil {
		return localVarReturnValue, nil, reportError("reconcileRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reconcileRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTriggerSnapshotComputeRequest struct {
	ctx context.Context
	ApiService *MarginsAPIService
	snapshotComputeRequest *SnapshotComputeRequest
}

func (r ApiTriggerSnapshotComputeRequest) SnapshotComputeRequest(snapshotComputeRequest SnapshotComputeRequest) ApiTriggerSnapshotComputeRequest {
	r.snapshotComputeRequest = &snapshotComputeRequest
	return r
}

func (r ApiTriggerSnapshotComputeRequest) Execute() (*SnapshotComputeResponse, *http.Response, error) {
	return r.ApiService.TriggerSnapshotComputeExecute(r)
}

/*
TriggerSnapshotCompute Trigger snapshot computation (operator)

Operator endpoint: compute and upsert a margin_snapshot for the given period.
body.tenant_id must match the API-key-derived tenant for security.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTriggerSnapshotComputeRequest
*/
func (a *MarginsAPIService) TriggerSnapshotCompute(ctx context.Context) ApiTriggerSnapshotComputeRequest {
	return ApiTriggerSnapshotComputeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SnapshotComputeResponse
func (a *MarginsAPIService) TriggerSnapshotComputeExecute(r ApiTriggerSnapshotComputeRequest) (*SnapshotComputeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SnapshotComputeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarginsAPIService.TriggerSnapshotCompute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cost/margins/snapshot/compute"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.snapshotComputeRequest == nil {
		return localVarReturnValue, nil, reportError("snapshotComputeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.snapshotComputeRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v AcuteHTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
